<div class="container">
  <h3 mat-dialog-title>Add new Plant</h3>

  <form class="mat-dialog-content" [formGroup]="addForm" (ngSubmit)="submit()" novalidate="" #formControl="ngForm">
    <!--<form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm"></form>-->

    <!--<div class="flex-container" fxLayout="row" fxLayout.xs="column"  fxLayoutGap="3%" fxLayoutAlign="space-between start">
    <div class="form" fxFlex="20">
      <mat-form-field color="accent" fxFlex>
        <mat-icon matPrefix>account_box</mat-icon>
        <input matInput [readonly]="true" #input class="form-control" formControlName="plantId" placeholder="plantId" [(ngModel)]="data.plantId" name="plantId" [value]="idvalue" required>
      </mat-form-field>
    </div>
  </div>-->

    <div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutGap="0.5%"
      fxLayoutAlign="space-between start">
      <div class="form" fxFlex="46">
        <mat-form-field color="accent" fxFlex>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput #inputname formControlName="name" placeholder="name" [(ngModel)]="data.name" maxlength="50"
            [ngClass]="{'is-invalid': !addForm.get('name').valid}">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputname.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
        <div *ngIf="addForm.controls['name'].errors?.required" class="invalid-feedback">
          The name its a field requested
        </div>

      </div>
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-icon matPrefix>profile</mat-icon>
          <input matInput #inputcode formControlName="code" placeholder="code" [(ngModel)]="data.code" maxlength="3"
            minlength="2" name="code" oninput="this.value = this.value.toUpperCase()" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputcode.value?.length || 0}}/3</mat-hint>
          <mat-hint>Min 2 caracters, max 3</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutGap="0.5%"
      fxLayoutAlign="space-between start">
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input matInput #smartsheetLink formControlName="smartsheetLink" placeholder="smartsheet Link"
            [(ngModel)]="data.smartsheetLink" name="smartsheetLink"
            ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
          <mat-hint>SmartSheet Link https:// from Main Menu</mat-hint>
          <!--<mat-error *ngIf="addForm.controls['smartsheetLink'].errors?.required">This field is mandatory.</mat-error>-->
          <mat-error *ngIf="addForm.controls['smartsheetLink'].errors?.pattern">Format need to contain web link
            "https://www.xxx.xxx"</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input matInput #smartsheetLink formControlName="madiLink" placeholder="MADI Link"
            [(ngModel)]="data.madiLink" name="madiLink"
            ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
          <mat-hint>MADI Link https:// from Main Menu</mat-hint>
          <mat-error *ngIf="addForm.controls['madiLink'].errors?.pattern">Format need to contain web link
            "https://www.xxx.xxx"</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input matInput #gapAnalyzerLink formControlName="gapAnalyzerLink" placeholder="Gap Analyzer Link"
            [(ngModel)]="data.gapAnalyzerLink" name="gapAnalyzerLink"
            ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
          <mat-hint>Gap Analyzer Link https:// from Main Menu</mat-hint>
          <mat-error *ngIf="addForm.controls['gapAnalyzerLink'].errors?.pattern">Format need to contain web link
            "https://www.xxx.xxx"</mat-error>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-label>Select type</mat-label>
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-select formControlName="type" [(ngModel)]="data.type" name="type" required>
            <mat-option *ngFor="let type of typelist" [value]="type">{{type.name}}</mat-option>
          </mat-select>
          <mat-hint>Type of plant</mat-hint>
        </mat-form-field>
      </div>
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-label>Select opco Name</mat-label>
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-select formControlName="opcoName" [(ngModel)]="data.opcoId" name="opcoId"
            (selectionChange)="OpcoChanged($event.value)" required>
            <mat-option *ngFor="let opco of opcoIdList" [value]="opco.opcoId">{{opco.name}}</mat-option>
          </mat-select>
          <mat-hint>Select the Opco</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%"
      fxLayoutAlign="space-around center">
      <div class="form">
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid"
            [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
          <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
          <button mat-raised-button (click)="reset()" tabindex="-1">Reset Form</button>
        </div>
      </div>
    </div>
  </form>
</div>