<mat-card class="progressbar">
  <mat-card-content>
    <!-- <h2 class="titleprogressbar"></h2>-->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
      <div *ngIf="content && content.totalStatusPercent" class="titleprogressbar" fxflex="10">
        <p><br>
          <font color="grey"> <b>Progress</b> </font> {{Total}}<label>{{content.totalStatusPercent}}%</label>
        </p>
      </div>

      <div fxLayout="column" fxLayoutAlign="space-between center" class="panel" fxflex="90">
        <mat-card class="panel">
          <div class="panel"><h6><b>Wave {{nwaveSelected}}</b></h6></div>
          <mat-card-content class="panel">
            <mat-chip-list class="panel">
              <mat-chip id="preparation" class="chips profilePreparation" color="primary"
                [selected]="preparationSelected" (click)="setProcessID(1)" (dblclick)="goToWorkflowDiagram()">
                <div class="contentPreparation">
                  <div class="headerPreparation">
                    <img src="../../../assets/images/Preparation.png" alt="Preparation">
                  </div>
                </div>
                Preparation
              </mat-chip>
              <mat-chip id="assessment" class="chips profileAssessment" color="primary" [selected]="assessmentSelected"
                (click)="setProcessID(2)" (dblclick)="goToWorkflowDiagram()">
                <div class="contentAssessment">
                  <div class="headerAssessment">
                    <img src="../../../assets/images/Assessment.png" alt="Assessment">
                  </div>
                </div>
                Assessment
              </mat-chip>
              <mat-chip id="implementation" class="chipsImplementation profileImplementation" color="primary"
                (dblclick)="goToWorkflowDiagram()">
                Implementation
                <mat-chip-list class="profileImplementation2">
                  <mat-chip class="chips profileSP1" [selected]="content.implS1Selected" (click)="setProcessID('3=S1')"
                    (dblclick)="goToWorkflowDiagram()">
                    SP1
                    <div class="contentSP1">
                      <div class="headerSP1">
                        <img src="../../../assets/images/SP1.png" alt="SP1">
                      </div>
                    </div>
                  </mat-chip>
                  <mat-chip class="chips profileSP2" [selected]="content.implS2Selected" (click)="setProcessID('3=S2')"
                    (dblclick)="goToWorkflowDiagram()">
                    SP2
                    <div class="contentSP2">
                      <div class="headerSP2">
                        <img src="../../../assets/images/SP2.png" alt="SP2">
                      </div>
                    </div>
                  </mat-chip>
                  <mat-chip class="chips profileSP3" [selected]="content.implS3Selected" (click)="setProcessID('3=S3')"
                    (dblclick)="goToWorkflowDiagram()">
                    SP3
                    <div class="contentSP3">
                      <div class="headerSP3">
                        <img src="../../../assets/images/SP3.png" alt="SP3">
                      </div>
                    </div>
                  </mat-chip>
                  <mat-chip class="chips profileSP4" [selected]="content.implS4Selected" (click)="setProcessID('3=S4')"
                    (dblclick)="goToWorkflowDiagram()">
                    SP4
                    <div class="contentSP4">
                      <div class="headerSP4">
                        <img src="../../../assets/images/SP4.png" alt="SP4">
                      </div>
                    </div>
                  </mat-chip>
                  <mat-chip class="chips profileSP5" [selected]="content.implS5Selected" (click)="setProcessID('3=S5')"
                    (dblclick)="goToWorkflowDiagram()">
                    SP5
                    <div class="contentSP5">
                      <div class="headerSP5">
                        <img src="../../../assets/images/SP5.png" alt="SP5">
                      </div>
                    </div>
                  </mat-chip>
                </mat-chip-list>
              </mat-chip>
              <mat-chip id="followup" class="chips profilefollowup" color="primary" [selected]="followupSelected"
                (click)="setProcessID(4)" (dblclick)="goToWorkflowDiagram()">
                <div class="contentfollowup">
                  <div class="headerfollowup">
                    <img src="../../../assets/images/Followup.png" alt="Assessment">
                  </div>
                </div>
                Follow Up
              </mat-chip>
              <mat-chip id="sustainability" class="chips profilesustainability" color="primary" [selected]="sustanabilitySelected"
                (click)="setProcessID(5)" (dblclick)="goToWorkflowDiagram()">
                <div class="contentsustainability">
                  <div class="headersustainability">
                    <img src="../../../assets/images/Sustainability.png" alt="Assessment">
                  </div>
                </div>
                Sustainability
              </mat-chip>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card-content>
  <section class="example-section">
    <mat-progress-bar class="progressbar-margin" [color]="color" [mode]="mode" [value]="content.totalStatusPercent"
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </section>

</mat-card>

<div *ngIf="loading">
  <div style="margin-left:45% ; margin-top: 5%;">
    <mat-progress-spinner mode="indeterminate" color="accent"> Please Wait</mat-progress-spinner>
  </div>
  <div style="margin-left:45%"></div>
</div>

<div *ngIf="content && !loading && !isError && !content.error" class="panels">
  <div *ngFor="let task of content.taskTrans" fxFlexFill>
    <div>
      <div class="example-container mat-elevation-z8">
        <h2 class="h2_notstarted">Not Started</h2>
        <div class="scroll mat-elevation-z82">
          <div class="example-box" *ngFor="let notstarted of task.notSorted">
            <div style="cursor: pointer;" (click)="openTask(notstarted,'notstarted',content.isProcessPaused)">
              <div *ngIf="notstarted.taskFlag" style="width: 80px;
                padding: 2px;
                border: 5px solid gray;
                border-radius: 7px;
                margin-left: 130px;">{{notstarted.taskFlag}}
              </div>
              
              <div>
                <div *ngIf="notstarted.taskFlag != 'New Task'" style="border-radius: 50%;
                width: 30px;
                height: 30px;
                padding-top: 8px;
                background: #fff;
                border: 2px solid #000;
                color: #000;
                text-align: center;
                font: 10px Arial, sans-serif;">{{notstarted.sequenceNumber}}
                </div>
                <br>
                {{notstarted.name}}
                <br>

              </div>
              <br>
              <br>
              <div>
                <p *ngIf="notstarted.assignedTo"><b>Assigned to :</b>{{notstarted.assignedTo.split("=")[1]}}</p>
                <!-- <p><b>End Date:</b>{{notstarted.endDate  | date:'yyyy-MM-dd'}}</p> -->
                <!--<label style="margin-left: 85%;
                  border-radius: 58%;
                  padding: 6px;
                  background:white;
                  border: 2px solid #666;
                  color: #666;
                  text-align: center;"><b>{{notstarted.sequenceNumber}}</b>
                </label> -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="example-container mat-elevation-z8">
        <h2 class="h2_todo">To do
          <mat-icon *ngIf="isFacilitatorOrAdmin =='yes' && content.showAddTask" (mouseover)="mouseoverText=true" (mouseout)="mouseoverText=false"  style="float: right;cursor: pointer;" (click)="newTask()">add_circle_outline
          </mat-icon>
            <br>
            <span *ngIf="!mouseoverText"></span>
            <span style="float: right;
            font-size: 14px;
            color: black;
            font-style: italic;" *ngIf="mouseoverText"><b>Add New Task</b></span>
        </h2>

        <div class="scroll mat-elevation-z82">
          <div class="example-box" *ngFor="let toDo of task.toDo">
            <div style="cursor: pointer;" (click)="openTask(toDo,'toDo',content.isProcessPaused)">
              <div *ngIf="toDo.taskFlag" style="width: 80px;
                padding: 2px;
                border: 5px solid gray;
                border-radius: 7px;
                margin-left: 130px;">{{toDo.taskFlag}}
              </div>
              <div >
                <div *ngIf="toDo.taskFlag != 'New Task'" style="border-radius: 50%;
                width: 30px;
                height: 30px;
                padding-top: 8px;
                background: #fff;
                border: 2px solid #000;
                color: #000;
                text-align: center;
                font: 10px Arial, sans-serif;">{{toDo.sequenceNumber}}
                </div>
                <br>
                {{toDo.name}}
                <br>
                <br>
                <div>
                  <p *ngIf="toDo.assignedTo"><b>Assigned to :</b>{{toDo.assignedTo.split("=")[1]}}</p>
                  <p><b>End Date:</b>{{toDo.endDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <!-- <br>
              <br>
              <div>
                <label style="margin-left: 85%;
                  border-radius: 58%;
                  padding: 6px;
                  background:white;
                  border: 2px solid #666;
                  color: #666;
                  text-align: center;"><b>{{toDo.sequenceNumber}}</b>
                </label>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="example-container mat-elevation-z8">
        <h2 class="h2_duesoon">Due soon</h2>
        <div class="scroll mat-elevation-z82">
          <div class="example-box" *ngFor="let dueSoon of task.dueSoon">
            <div style="cursor: pointer;" (click)="openTask(dueSoon,'duesoon',content.isProcessPaused)">
              <div *ngIf="dueSoon.taskFlag" style="width: 80px;
                    padding: 2px;
                    border: 5px solid gray;
                    border-radius: 7px;
                    margin-left: 130px;">{{dueSoon.taskFlag}}
              </div>
              <div >
                <div *ngIf="dueSoon.taskFlag != 'New Task'" style="border-radius: 50%;
                width: 30px;
                height: 30px;
                padding-top: 8px;
                background: #fff;
                border: 2px solid #000;
                color: #000;
                text-align: center;
                font: 10px Arial, sans-serif;">{{dueSoon.sequenceNumber}}
                </div>
                <br>

                {{dueSoon.name}}
                <br>
                <br>
                <div>
                  <p *ngIf="dueSoon.assignedTo"><b>Assigned to :</b>{{dueSoon.assignedTo.split("=")[1]}}</p>
                  <p><b>End Date:</b>{{dueSoon.endDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <!-- <br>
              <br>
              <div>
                <label style="margin-left: 85%;
            border-radius: 58%;
            padding: 6px;
            background:white;
            border: 2px solid #666;
            color: #666;
            text-align: center;"><b>{{dueSoon.sequenceNumber}}</b></label>
              </div> -->
            </div>
            <label></label>
          </div>
        </div>
      </div>
      <div class="example-container mat-elevation-z8">
        <h2 class="h2_overdue">Over due</h2>
        <div class="scroll mat-elevation-z82">
          <div class="example-box" *ngFor="let overdue of task.overDue">
            
            
            <div style="cursor: pointer;" (click)="openTask(overdue,'overdue',content.isProcessPaused)">
              <div *ngIf="overdue.taskFlag" style="width: 80px;
                    padding: 2px;
                    border: 5px solid gray;
                    border-radius: 7px;
                    margin-left: 130px;">{{overdue.taskFlag}}</div>
              <div>
                <div  *ngIf="overdue.taskFlag != 'New Task'" style="border-radius: 50%;
                width: 30px;
                height: 30px;
                padding-top: 8px;
                background: #fff;
                border: 2px solid #000;
                color: #000;
                text-align: center;
                font: 10px Arial, sans-serif;">{{overdue.sequenceNumber}}
                </div>
                <br>
                {{overdue.name}}
                <br>
                <br>
                <div>
                  <p *ngIf="overdue.assignedTo"><b>Assigned to :</b>{{overdue.assignedTo.split("=")[1]}}</p>
                  <p><b>End Date:</b>{{overdue.endDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <!-- <br>
              <br>
              <div>
                <label style="margin-left: 85%;
            border-radius: 58%;
            padding: 6px;
            background:white;
            border: 2px solid #666;
            color: #666;
            text-align: center;"><b>{{overdue.sequenceNumber}}</b></label>
              </div> -->

            </div>
          </div>
        </div>
      </div>
      <div class="example-container mat-elevation-z8">
        <h2 class="h2_completed">Completed</h2>
        <div class="scroll mat-elevation-z82">
          <div class="example-box" *ngFor="let completed of task.completedTask">
            <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
              <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                    padding: 2px;
                    border: 5px solid gray;
                    margin-left: 130px;">{{completed.taskFlag}}
              </div>
              <div >
                <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                width: 30px;
                height: 30px;
                padding-top: 8px;
                background: #fff;
                border: 2px solid #000;
                color: #000;
                text-align: center;
                font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                </div>
                <br>
                {{completed.name}}
              </div>
              <br>
              <br>
              <div>
                <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="margin-left: 30%;margin-top: 5%;" *ngIf="!loading ">
      <div *ngIf="isError || (content && content.error)">
        <b>{{content.error.error}}</b>

        <mat-expansion-panel style="width:80%" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Error Stack Trace :</b>
            </mat-panel-title>

          </mat-expansion-panel-header>
          {{content.message}}
        </mat-expansion-panel>
      </div>
    </div>

    <div *ngIf="content && content.startProcess">
      <!-- <div [innerHTML]="checkContentForProcess()"></div> -->
</div>


    <!-- <div *ngIf="content">
    <div *ngFor="let item of content.processTransactions">
      <div *ngFor="let task of item.taskTransactions">
        <div *ngFor="let notstarted of task.NotStarted">
          {{notstarted.taskName}}
        </div>

        <div *ngFor="let completed of task.completedTask">
          {{completed.taskName}}
        </div>

        <div *ngFor="let overdue of task.overDue">
          {{overdue.taskName}}
        </div>

        <div *ngFor="let todo of task.Todo">
          {{todo.taskName}}
        </div>

        <div *ngFor="let dueSoon of task.Due_Soon">
          {{dueSoon.taskName}}
        </div>

      </div>
    </div>
  </div> -->