:host ::ng-deep .ng-star-inserted ._ng-content {
    overflow: hidden !important;
}
.example-container {
    //width: 350px;
    //min-width: 100%;
    margin: 0 3px 3px 0;
    display: inline-block;
    vertical-align: top;
    border-radius: 7px;
    overflow: hidden !important;
}
.scroll {
    overflow-y: hidden;
    //opacity: 0;
    transition-delay: 1s;
}
.scroll:hover {
    overflow-y: scroll;
    opacity: 1;
    transition-delay: 1s;
}

.mat-elevation-z8 {
    border-radius: 7px;
    margin: 5px;    
    padding: 10px;
    width: 18.5vw;
    min-width: 150px;
    height: 83vh;
    overflow: hidden !important;
    align-items: center;
    justify-content: center;
}

.mat-elevation-z82 {
    border-radius: 7px;
    margin: 2px;
    padding: 2px;
    width: 100%;
    height: 70vh;
    overflow-x: hidden !important;
    //overflow-y: auto;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    border-radius: 7px;
}

.example-box {
    padding: 5px 5px;
    border-bottom: solid 1px #ccc;
    //color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    margin: 3px;
    background-color: #fff;
    border-radius: 7px;
    width: 97%;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
    border-radius: 7px;
    width: 100%;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: 7px;
    padding: 10px;
}

.h2_notstarted {
    height: 61px;
    width: 100%;
    border-radius: 8px;
    background-color: #dae0f7;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    text-align: center;
    padding: 18px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.h2_overdue {
    height: 61px;
    width: 100%;
    border-radius: 8px;
    background-color: #e6280f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    text-align: center;
    padding: 18px;
    color: #e8ebf5;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.h2_duesoon {
    height: 61px;
    width: 100%;
    border-radius: 8px;
    background-color: #f08c00;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    text-align: center;
    padding: 18px;
    color: #e8ebf5;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.h2_todo {
    height: 61px;
    width: 100%;
    border-radius: 8px;
    background-color: #1f8efa;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    text-align: center;
    padding: 18px;
    color: #e8ebf5;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.h2_completed {
    height: 61px;
    width: 100%;
    border-radius: 8px;
    background-color: #29c17b;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    text-align: center;
    padding: 18px;
    color: #e8ebf5;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.panel{
    width: 100%;
}

.mat-card-content {
    display: flex;
    //flex: 1 1 auto;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    width:100% !important;
    //overflow: hidden;
    //overflow-x: hidden !important;
}

.chips {
    //background-color: transparent !important;
    flex-direction: row;
    flex: 1 1 auto;
    font-size: 14px !important;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

.chipsImplementation {
    //background-color: transparent !important;
    flex-direction: row;
    font-size: 14px !important;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

//progress bar main
.progressbar {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    //max-width: 100vw;
    //width: 100;
    min-width: 200px;
    max-height: 50%;
}

.titleprogressbar {
    margin: 5px;
    font-size: 15px;
}

.progressbar-margin {
    display: flex;
    align-content: center;
    align-items: center;
    height: 5px;
    border-radius: 7px;
}


/*:host ::ng-deep .mat-chip-list-wrapper {
    flex: 1 1 auto;
    flex-direction: row;
    font-size: 14px !important;
    flex-wrap: wrap;
    //white-space: wrap;
    border-radius: 7px;
    width: 100%;
    justify-content: space-between;
    padding: 5px;

    .mat-chip {    flex: 0 0 auto;  }
}
*/
/*
:host ::ng-deep .mat-chip-list-wrapper2 {
    flex: 1 1 auto;
    flex-direction: row;
    font-size: 14px !important;
    flex-wrap: nowrap;
    //white-space: wrap;
    border-radius: 7px;
    width: 100% !important;
    justify-content: space-between;
    padding: 5px;

    .mat-chip {    flex: 0 0 auto;  }
}
*/
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 5px;
}

.loader-icon {
    margin-top: 75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #36c60d;
    width: 80px;
    height: 80px;
    -webkit-animation: 2s linear infinite spin;
    animation: 2s linear infinite spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: spin;
}
//tips over each chip processess
//preparation tip

.profilePreparation {
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

.contentPreparation {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 600px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentPreparation .headerPreparation {
    display: flex;
    align-items: center;
}

.contentPreparation .headerPreparation img {
    grid-column: 1/2;
    //width: 725px;
    //height: 525px;
    width: 170%;
    height: 145%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentPreparation .headerPreparation {
    margin-left: 1em;
}
.contentPreparation .headerPreparation {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentPreparation .headerPreparation {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profilePreparation:hover .contentPreparation {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(32%) translateY(115%);
}

//Assessment tip
.profileAssessment {
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

/*.profile:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px;// #d10fd8;
  }
  */

.contentAssessment {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 600px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentAssessment .headerAssessment {
    display: flex;
    align-items: center;
}

.contentAssessment .headerAssessment img {
    grid-column: 1/2;
    //width: 900px;
    //height: 495px;
    width: 220%;
    height: 170%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentAssessment .headerAssessment {
    margin-left: 1em;
}
.contentAssessment .headerAssessment {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentAssessment .headerAssessment {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profileAssessment:hover .contentAssessment {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(115%);
    z-index: 10;
}

//Implementation tip
.profileImplementation {
    font-size: 14px;
    height: auto !important;
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

.profileImplementation2 {
    font-size: 14px;
    display: inline-block;
}

/*.profile:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px;// #d10fd8;
  }
  */

.contentImplementation {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 600px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentImplementation .headerImplementation {
    display: flex;
    align-items: center;
}

.contentImplementation .headerImplementation img {
    grid-column: 1/2;
    //width: 800px;
    //height: 400px;
    width: 250%;
    height: 190%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentImplementation .headerImplementation {
    margin-left: 1em;
}
.contentImplementation .headerImplementation {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentImplementation .headerImplementation {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profileImplementation:hover .contentImplementation {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(-25%) translateY(115%);
}

//Implementation SP1 tip
.profileSP1 {
    font-size: 16px;
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

/*.profile:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px;// #d10fd8;
  }
  */

.contentSP1 {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 600px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentSP1 .headerSP1 {
    display: flex;
    align-items: center;
}

.contentSP1 .headerSP1 img {
    grid-column: 1/2;
    //width: 790px;
    //height: 500px;
    width: 195%;
    height: 130%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentSP1 .headerSP1 {
    margin-left: 1em;
}
.contentSP1 .headerSP1 {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentSP1 .headerSP1 {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profileSP1:hover .contentSP1 {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(-45%) translateY(115%);
}

//Implementation SP2 tip
.profileSP2 {
    font-size: 16px;
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

/*.profile:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px;// #d10fd8;
  }
  */

.contentSP2 {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 600px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentSP2 .headerSP2 {
    display: flex;
    align-items: center;
}

.contentSP2 .headerSP2 img {
    grid-column: 1/2;
    //width: 750px;
    //height: 550px;
    width: 170%;
    height: 110%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentSP2 .headerSP2 {
    margin-left: 1em;
}
.contentSP2 .headerSP2 {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentSP2 .headerSP2 {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profileSP2:hover .contentSP2 {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(115%);
}

//Implementation SP3 tip
.profileSP3 {
    font-size: 16px;
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

/*.profile:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px;// #d10fd8;
  }
  */

.contentSP3 {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 600px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentSP3 .headerSP3 {
    display: flex;
    align-items: center;
}

.contentSP3 .headerSP3 img {
    grid-column: 1/2;
    //width: 560px;
    //height: 520px;
    width: 195%;
    height: 130%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentSP3 .headerSP3 {
    margin-left: 1em;
}
.contentSP3 .headerSP3 {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentSP3 .headerSP3 {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profileSP3:hover .contentSP3 {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(115%);
}

//Implementation SP4 tip
.profileSP4 {
    font-size: 16px;
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

/*.profile:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px;// #d10fd8;
  }
  */

.contentSP4 {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 600px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentSP4 .headerSP4 {
    display: flex;
    align-items: center;
}

.contentSP4 .headerSP4 img {
    grid-column: 1/2;
    //width: 640px;
    //height: 520px;
    width: 195%;
    height: 130%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentSP4 .headerSP4 {
    margin-left: 1em;
}
.contentSP4 .headerSP4 {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentSP4 .headerSP4 {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profileSP4:hover .contentSP4 {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(-60%) translateY(115%);
}

//Implementation SP5 tip
.profileSP5 {
    font-size: 16px;
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

/*.profile:hover {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px;// #d10fd8;
  }
  */

.contentSP5 {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 750px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentSP5 .headerSP5 {
    display: flex;
    align-items: center;
}

.contentSP5 .headerSP5 img {
    grid-column: 1/2;
    //width: 830px;
    //height: 530px;
    width: 195%;
    height: 130%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentSP5 .headerSP5 {
    margin-left: 1em;
}
.contentSP5 .headerSP5 {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentSP5 .headerSP5 {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profileSP5:hover .contentSP5 {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(-55%) translateY(115%);
}

.profilefollowup {
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

.contentfollowup {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 700px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentfollowup .headerfollowup {
    display: flex;
    align-items: center;
}

.contentfollowup .headerfollowup img {
    grid-column: 1/2;
    //width: 900px;
    //height: 495px;
    width: 220%;
    height: 170%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentfollowup .headerfollowup {
    margin-left: 1em;
}
.contentfollowup .headerfollowup {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentfollowup .headerfollowup {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profilefollowup:hover .contentfollowup {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(-59%) translateY(123%);
    z-index: 10;
}

.profilesustainability {
    position: relative;
    width: auto;
    margin: 0 1em;
    height: 20px;
    text-align: center;
    align-items:center;
    justify-content: center;
    //border-radius: 10%;
    //background: url(../../../assets/images/Preparation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    //box-shadow: 0 0 0 4px #fff, 0 0 0 5px #246df5;
    transition: 0.2s;
}

.contentsustainability {
    position: absolute;
    bottom: 75px;
    padding: 20px;
    min-width: 760px;
    //background-color: #f9f9f9;
    //border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1px);
    transition: 0.5s;
}

.contentsustainability .headersustainability {
    display: flex;
    align-items: center;
}

.contentsustainability .headersustainability img {
    grid-column: 1/2;
    //width: 900px;
    //height: 495px;
    width: 220%;
    height: 170%;
    //border-radius: 50%;
    object-fit: cover;
}

.contentsustainability .headersustainability {
    margin-left: 1em;
}
.contentsustainability .headersustainability {
    font-size: 1.25em;
    // color: #333;
    letter-spacing: 1px;
    font-size: 600;
}
.contentsustainability .headersustainability {
    font-size: 0.9em;
    //color: #969696;
    font-weight: 500;
}
.profilesustainability:hover .contentsustainability {
    transition-delay: 1.2s;
    visibility: visible;
    opacity: 1;
    transform: translateX(-83%) translateY(123%);
    z-index: 10;
}

/* width */
::-webkit-scrollbar {
    width: 13px;
    height: 5px;
    overflow: auto;
}
::-webkit-scrollbar:hover {
    overflow: auto;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #e0e3ee;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

// ::-webkit-scrollbar {display: none;}

::-webkit-scrollbar {
    //  width: 10em;
    //  height: 10em;
    overflow: auto;
    visibility: hidden;
}

::-webkit-scrollbar_delayed {
    transition: visibility 0.2s;
}
::-webkit-scrollbar_delayed:hover {
    transition: visibility 0s 0.2s;
}

.panels{
    height: 83vh;
    width: 100vw;
    .content {
        width:100%;
        height:100%;
        display:block;
    }

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
}