.col-xl-1 {
    font-size: -webkit-xxx-large;
}

.row {
    margin: 10px 10px 10px 10px;
}

.col-xl-1 {
    padding-left: 62px;
}

h3 {
    text-align: left;
    float: left;
    color: cadetblue;
}

h6 {
    text-align: right;
    float: right;
}

.container {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.dashboard-block .out-block {
    display: flex;
    align-items: center;
}
.dashboard-block .out-block .heading {
    font-size: 25px;
    font-weight: 700;
    padding-right: 20px;
    padding-left: 20px;
}
.dashboard-block .out-block .link-block {
    padding: 1px 3px;
    background: #0072b1;
    border: 1px solid #0072b1;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}
.dashboard-block .bottom-block {
    background: white;
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
}

.item-list .icon-block i {
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: red;
}
.item-list .right-block .like-block {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}
.item-list .right-block .like-block i {
    font-size: 30px;
    padding-top: 10px;
    color: #8b8b8b;
}
.item-list .right-block .like-block p {
    padding: 5px;
    margin-bottom: 0px;
    color: #3d3d3d;
    font-weight: 500;
}
.item-list .right-block .view-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
}

.item-list .right-block .view-block p {
    margin-bottom: 0px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.2px;
}
.item-list .right-block .view-block .view-text {
    font-size: 10px;
}

.item-list .item-block .item-heading {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2px;
    max-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px !important;
}

.item-list .item-block .sub-heading {
    font-size: 13px;
    color: #8b8b8b;
    letter-spacing: 0.2px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    /**white-space: pre-wrap;**/
    white-space: nowrap;
}
.item-list .item-block .option {
    padding-top: 8px;
}

.item-list .item-block .option button {
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #3d3d3d;
    margin-right: 2px;
}

.item-list .border-line {
    color: #8b8b8b;
}

hr.border-line {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

.col-2.col-sm-2.icon-block {
    float: left;
}

.col-10.col-sm-10 {
    float: left;
}

a {
    width: 82%;
}

.col-10.col-sm-10 {
    width: 100%;
}

.container-fluid.main-block.dashboard-block {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.col-sm-3 {
    flex: 0 0 18%;
    max-width: 18%;
}

img {
    width: 55px;
    height: 55px;
    margin-top: 32px;
    margin-left: 7px;
}

.btn-primary {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: #fff;
    background-color: #a71827 !important;
    border-color: #a71827 !important;
}

select {
    padding-left: 8px !important;
    border-radius: 10px !important;
    border: #695b52;
    border-style: solid;
}

label {
    padding-right: 15px !important;
    font-weight: bold;
    color: #a71827;
}

div.filterDiv {
    padding-top: 20px;
    padding-bottom: 20px;
}

.DropDownListLabel {
    font-size: 16px !important;
}
