<article>
  <div *ngIf="!loading">
    <!--<mat-card class="progressbar"></mat-card>-->
    <div class="progressbar">
      <!--<mat-card-content>-->
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <h2 class="titleprogressbar transparent">
            <p>Plant <b>{{PlantId}}&nbsp;</b></p>
            <p>
              <font color="grey"> Overall Status </font> {{Total}}<label>{{totalPercentage}}%</label>
            </p>
          </h2>
        </div>
        <div>
          <mat-form-field appearance="outline" [ngClass]="check()? 'selectwave2' : 'selectwave'"
            Title="Wave plant selector">
            <mat-label>Select wave</mat-label>
            <mat-select [(ngModel)]="nwaveSelected" name="wave" (ngModelChange)="nwaveSelectChange(nwaveSelected)"
              panelClass="testClass" [disableOptionCentering]="true">
              <mat-option *ngFor="let wave of waves" [value]="wave">
                Wave &nbsp; {{wave}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <section>
        <mat-progress-bar class="progressbar-margin" [color]="color" [mode]="mode" [value]="totalPercentage">
        </mat-progress-bar>
      </section>
      <!--</mat-card-content>-->
    </div>
    <mat-divider></mat-divider>
    <!--
      <div>
      <div style="height:auto; width:300px; position:relative; display: flex; justify-content: center;">
        <div style="display:block; height:auto; width:300px;">
          <canvas #mycanvasPrep baseChart [data]="doughnutChartData" [options]="barChartOptions"
            [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="donutColors">
          </canvas>
          <div class="percent" fxLayout="column">
            <p style="font-size: 22px; color:black;">{{percentPrep | number:'1.0-0'}}%
            </p>
            <a style="font-size: 12px; color:grey; margin-top: -32px;">progress:</a>
          </div>
          <!--<p class="percent">{{percentPrep | number:'1.0-0'}}%</p>
          <p>Total task preparation number: {{totalPrecentPreparation | number:'1.0-0'}}</p>
          <!--<h3>Total Assessment: {{totalPrecentAssessment | number:'1.0-0'}}</h3>
          <!--<h3>Total Implementation: {{totalPrecentImplementation | number:'1.0-0'}}</h3>
        </div>
      </div>
    </div>
    -->
    <!--
    <div style="display: block">
      <canvas #mycanvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                  [colors]="donutColors"></canvas>
    </div>
    <mat-divider></mat-divider>
  -->
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
      <mat-grid-list class="processes" [cols]="isMobile ? 1 : 5" rowHeight="380px" gutterSize="5px">
        <!--[cols]="isMobile ? 1 : 6" // [cols]="breakpoint"  (window:resize)="onResize($event)" (window:resize)="onResize($event)"-->
        <mat-grid-tile>
          <!--<mat-grid-tile [class.fullWidth]="breakpoint == 1" class="g1" colspan="1"></mat-grid-tile>-->
          <mat-card class="mat-elevation-z8 landing_panels">
            <mat-card-content style="height: 170px;">
              <mat-card-title routerLink="/preparation" routerLinkActive="active">PREPARATION</mat-card-title>
              <!--<circle-progress routerLink="/preparation" routerLinkActive="active" [percent]=percentPrep [radius]="60"
                [outerStrokeWidth]="15" [innerStrokeWidth]="15" [space]="-15" [outerStrokeColor]="'#29c17b'"
                [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="24" [unitsFontSize]="24" [showSubtitle]="true"
                [animation]="true" [animationDuration]="300" [startFromZero]="false" [responsive]="true">
              </circle-progress>-->
              <div
                style="height:auto; width:210px; position:relative; display: flex; justify-content: center; align-items: center;">
                <div style="display:block; height:auto; width:290px;">
                  <canvas #chart baseChart [data]="doughnutChartDataPreparation" [options]="barChartOptions"
                    [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="donutColors">
                  </canvas>
                  <div class="percent" fxLayout="column">
                    <p style="font-size: 22px; color:black;">{{percentPrep | number:'1.0-0'}}%
                    </p>
                    <a style="font-size: 12px; color:grey; margin-top: -32px;">progress:</a>
                  </div>
                </div>
              </div>
              <mat-card-subtitle style="margin-bottom: 14px; margin:14px;" routerLink="/preparation"
                routerLinkActive="active">Completed</mat-card-subtitle>
              <div style="margin-bottom: 4px;">
                <button mat-raised-button (click)="goToTaskPage(1)" routerLinkActive="active">More info</button>
              </div>
              <div
                *ngIf="content && !content.prepStartDate && !content.prepCompletedDate && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f" [disabled]="!content.enablePrep"
                  (click)="onStartClick(1)" routerLinkActive="active">Start</button>
              </div>
              <div
                *ngIf="content && !content.prepCompletedDate && (content.prepStatusID ==1 || content.prepStatusID == 7) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processPrepTransactID,1,'Pause')"
                  routerLinkActive="active">Pause</button>
              </div>
              <div
                *ngIf="content && !content.prepCompletedDate && (content.prepStatusID == 4) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processPrepTransactID,1,'Resume')"
                  routerLinkActive="active">Resume</button>
              </div>
              <div
                *ngIf="content && content.prepStartDate && !content.prepCompletedDate && (content.prepStatusID != 4)">
                <mat-card-subtitle>Start Date :- {{content.prepStartDate}}</mat-card-subtitle>
              </div>
              <div *ngIf="content && !content.prepCompletedDate && (content.prepStatusID == 4)">
                <mat-card-subtitle>Pause Date:- {{content.prepPauseDate}}</mat-card-subtitle>
              </div>

              <div *ngIf="content && content.prepCompletedDate">
                <mat-card-subtitle>Completed Date:- {{content.prepCompletedDate}}</mat-card-subtitle>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <!--<mat-grid-tile [class.fullWidth]="breakpoint == 1" class="g1" colspan="2">-->
          <mat-card class="mat-elevation-z8 landing_panels">
            <mat-card-content style="height: 170px;">
              <mat-card-title routerLink="/assessment" routerLinkActive="active">ASSESSMENT</mat-card-title>
              <!--<circle-progress routerLink="/assessment" routerLinkActive="active" [percent]=percentAssesment
                [radius]="60" [outerStrokeWidth]="15" [innerStrokeWidth]="15" [space]="-15"
                [outerStrokeColor]="'#29c17b'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="24" [unitsFontSize]="24"
                [showSubtitle]="true" [animation]="true" [animationDuration]="300" [startFromZero]="false"
                [responsive]="true">
              </circle-progress>-->
              <div
                style="height:auto; width:210px; position:relative; display: flex; justify-content: center; align-items: center;">
                <div style="display:block; height:auto; width:290px;">
                  <canvas #chart baseChart [data]="doughnutChartDataAssessment" [options]="barChartOptions"
                    [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="donutColors">
                  </canvas>
                  <div class="percent" fxLayout="column">
                    <p style="font-size: 22px; color:black;">{{percentAssesment | number:'1.0-0'}}%
                    </p>
                    <a style="font-size: 12px; color:grey; margin-top: -32px;">progress:</a>
                  </div>
                  <!--<p class="percent">{{percentPrep | number:'1.0-0'}}%</p>
                  <p>Total task preparation number: {{totalPrecentPreparation | number:'1.0-0'}}</p>
                  <h3>Total Assessment: {{totalPrecentAssessment | number:'1.0-0'}}</h3>
                  <h3>Total Implementation: {{totalPrecentImplementation | number:'1.0-0'}}</h3>-->
                </div>
              </div>
              <mat-card-subtitle style="margin-bottom: 14px; margin:14px;" routerLink="/preparation"
                routerLinkActive="active">Completed</mat-card-subtitle>
              <div style="margin-bottom: 4px;">
                <button mat-raised-button (click)="goToTaskPage(2)" routerLinkActive="active">More info</button>
              </div>

              <div *ngIf="content && !content.asmentStartDate && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f" [disabled]="!content.enableAssement"
                  (click)="onStartClick(2)" routerLinkActive="active">Start</button>
              </div>

              <div
                *ngIf="content && !content.assmntCompletedDate && (content.assmntStatusID ==1 || content.assmntStatusID == 7) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processAsmntTransactID,1,'Pause')"
                  routerLinkActive="active">Pause</button>
              </div>
              <div
                *ngIf="content && !content.assmntCompletedDate && (content.assmntStatusID == 4) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processAsmntTransactID,1,'Resume')"
                  routerLinkActive="active">Resume</button>
              </div>
              <div
                *ngIf="content && content.asmentStartDate && !content.assmntCompletedDate && (content.assmntStatusID != 4)">
                <mat-card-subtitle>Start Date :- {{content.asmentStartDate}}</mat-card-subtitle>
              </div>
              <div *ngIf="content && !content.assmntCompletedDate && (content.assmntStatusID == 4)">
                <mat-card-subtitle>Pause Date:- {{content.asmntPauseDate}}</mat-card-subtitle>
              </div>

              <div *ngIf="content && content.assmntCompletedDate">
                <mat-card-subtitle>Completed Date:- {{content.assmntCompletedDate}}</mat-card-subtitle>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <!--<mat-grid-tile [class.fullWidth]="breakpoint == 1" class="g1" colspan="2">-->
          <mat-card class="mat-elevation-z8 landing_panels">
            <mat-card-content style="height: 170px;">
              <mat-card-title routerLink="/implementation" routerLinkActive="active">IMPLEMENTATION</mat-card-title>
              <!--<circle-progress routerLink="/implementation" routerLinkActive="active" [percent]=percentImplementation
                [radius]="60" [outerStrokeWidth]="15" [innerStrokeWidth]="15" [space]="-15"
                [outerStrokeColor]="'#29c17b'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="24" [unitsFontSize]="24"
                [showSubtitle]="true" [animation]="true" [animationDuration]="300" [startFromZero]="false"
                [responsive]="true">
              </circle-progress>-->
              <!--<span class="dot"></span> -->
              <div
                style="height:auto; width:210px; position:relative; display: flex; justify-content: center; align-items: center;">
                <div style="display:block; height:auto; width:290px;">
                  <canvas #chart baseChart [data]="doughnutChartDataImplementation" [options]="barChartOptions"
                    [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="donutColors">
                  </canvas>
                  <div class="percent" fxLayout="column">
                    <p style="font-size: 22px; color:black;">{{percentImplementation | number:'1.0-0'}}%
                    </p>
                    <a style="font-size: 12px; color:grey; margin-top: -32px;">progress:</a>
                  </div>
                  <!--<p class="percent">{{percentPrep | number:'1.0-0'}}%</p>
                  <p>Total task preparation number: {{totalPrecentPreparation | number:'1.0-0'}}</p>
                  <!--<h3>Total Assessment: {{totalPrecentAssessment | number:'1.0-0'}}</h3>
                  <!--<h3>Total Implementation: {{totalPrecentImplementation | number:'1.0-0'}}</h3>-->
                </div>
              </div>
              <mat-card-subtitle style="margin-bottom: 14px; margin:14px;" routerLink="/implementation"
                routerLinkActive="active">Completed</mat-card-subtitle>

              <div style="margin-bottom: 4px;">
                <button mat-raised-button (click)="goToTaskPage('3=S1')" routerLinkActive="active">More info</button>
              </div>

              <div *ngIf="content && !content.implStartDate && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f" [disabled]="!content.enableImpl"
                  (click)="onStartClick(3)" routerLinkActive="active">Start</button>
              </div>
              <div
                *ngIf="content && !content.implCompletedDate && (content.implStatusID ==1 || content.implStatusID == 7) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processImplTransactID,1,'Pause')"
                  routerLinkActive="active">Pause</button>
              </div>
              <div
                *ngIf="content && !content.implCompletedDate && (content.implStatusID == 4) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processImplTransactID,1,'Resume')"
                  routerLinkActive="active">Resume</button>
              </div>
              <div
                *ngIf="content && content.implStartDate && !content.implCompletedDate && (content.implStatusID != 4)">
                <mat-card-subtitle>Start Date :- {{content.implStartDate}}</mat-card-subtitle>
              </div>
              <div *ngIf="content && !content.implCompletedDate && (content.implStatusID == 4)">
                <mat-card-subtitle>Pause Date:- {{content.implPauseDate}}</mat-card-subtitle>
              </div>
              <div *ngIf="content && content.implCompletedDate">
                <mat-card-subtitle class="mat-card-subtitle_implementation">Completed Date:-
                  {{content.implCompletedDate}}</mat-card-subtitle>
                <!--<div matTooltip="You cannot delete that" [matTooltipDisabled]="!isCloseWavebuttonEnable" >-->
                <button class="waveButton" mat-raised-button *ngIf="completed3phases && content.isFacilitatorAdmin"
                  (click)="closewave(plantID)">Start new wave</button>
                <!--<button class= "waveButton" mat-raised-button *ngIf="completed3phases && content.isFacilitatorAdmin" (click)="closewave(plantID)">Close wave</button>-->
                <!--</div>-->
              </div>
              <!--
                <span matTooltip="You cannot delete that" [matTooltipDisabled]="!isCloseWavebuttonEnable" Title="asdf"></span>
                <button class= "waveButton" mat-raised-button [disabled]="completed3phases && content.isFacilitatorAdmin" (click)="closewave(plantID)"
                >Close wave</button>
                <!--<button class= "waveButton" mat-raised-button *ngIf="completed3phases && content.isFacilitatorAdmin" (click)="closewave(plantID)">Close wave</button>-->
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <!--
        <mat-grid-tile [class.fullWidth]="breakpoint == 1" class="g2" colspan="1" *ngIf="completed3phases">
        <!-- class="panel"

        <mat-card-content>
            <button class= "waveButton" mat-raised-button>Close <br> wave</button>
        </mat-card-content>

      </mat-grid-tile>
    -->
        <mat-grid-tile>
          <!--<mat-grid-tile [class.fullWidth]="breakpoint == 1" class="g1" colspan="2">-->
          <mat-card class="mat-elevation-z8 landing_panels">
            <mat-card-content style="height: 170px;">
              <mat-card-title routerLink="/follow-up" routerLinkActive="active">FOLLOW UP</mat-card-title>
              <!--<circle-progress routerLink="/follow-up" routerLinkActive="active" [percent]=percentFollowUp [radius]="60"
                [outerStrokeWidth]="15" [innerStrokeWidth]="15" [space]="-15" [outerStrokeColor]="'#29c17b'"
                [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="24" [unitsFontSize]="24" [showSubtitle]="true"
                [animation]="true" [animationDuration]="300" [startFromZero]="false" [responsive]="true">
              </circle-progress>-->
              <div
                style="height:auto; width:210px; position:relative; display: flex; justify-content: center; align-items: center;">
                <div style="display:block; height:auto; width:290px;">
                  <canvas #chart baseChart [data]="doughnutChartDataFollowup" [options]="barChartOptions"
                    [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="donutColors">
                  </canvas>
                  <div class="percent" fxLayout="column">
                    <p style="font-size: 22px; color:black;">{{percentFollowUp | number:'1.0-0'}}%
                    </p>
                    <a style="font-size: 12px; color:grey; margin-top: -32px;">progress:</a>
                  </div>
                  <!--<p class="percent">{{percentPrep | number:'1.0-0'}}%</p>
                  <p>Total task preparation number: {{totalPrecentPreparation | number:'1.0-0'}}</p>
                  <!--<h3>Total Assessment: {{totalPrecentAssessment | number:'1.0-0'}}</h3>
                  <!--<h3>Total Implementation: {{totalPrecentImplementation | number:'1.0-0'}}</h3>-->
                </div>
              </div>
              <mat-card-subtitle style="margin-bottom: 14px; margin:14px;" routerLink="/follow-up"
                routerLinkActive="active">Completed</mat-card-subtitle>
              <div style="margin-bottom: 4px;">
                <button mat-raised-button (click)="goToTaskPage(4)" routerLinkActive="active">More info</button>
              </div>
              <div *ngIf="content && !content.foloupStartDate && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f" [disabled]="!content.enableFoloup"
                  (click)="onStartClick(4)" routerLinkActive="active">Start</button>
              </div>
              <div
                *ngIf="content && !content.foloupCompletedDate && (content.foloupStatusID ==1 || content.foloupStatusID == 7) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processFoloupTransactID,1,'Pause')"
                  routerLinkActive="active">Pause</button>
              </div>
              <div
                *ngIf="content && !content.foloupCompletedDate && (content.foloupStatusID == 4) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processFoloupTransactID,1,'Resume')"
                  routerLinkActive="active">Resume</button>
              </div>
              <div
                *ngIf="content && content.foloupStartDate && !content.foloupCompletedDate && (content.foloupStatusID != 4)">
                <mat-card-subtitle>Start Date :- {{content.foloupStartDate}}</mat-card-subtitle>
              </div>
              <div *ngIf="content && !content.foloupCompletedDate && (content.foloupStatusID == 4)">
                <mat-card-subtitle>Pause Date:- {{content.foloupPausedDate}}</mat-card-subtitle>
              </div>
              <div *ngIf="content && content.foloupCompletedDate">
                <mat-card-subtitle>Completed Date:- {{content.foloupCompletedDate}}</mat-card-subtitle>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <!--<mat-grid-tile [class.fullWidth]="breakpoint == 1" class="g1" colspan="2">-->
          <mat-card class="mat-elevation-z8 landing_panels">
            <mat-card-content style="height: 170px;">
              <mat-card-title routerLink="/sustainability" routerLinkActive="active">SUSTAINABILITY</mat-card-title>
              <!--<circle-progress routerLink="/sustainability" routerLinkActive="active" [percent]=percentSustain
                [radius]="60" [outerStrokeWidth]="15" [innerStrokeWidth]="15" [space]="-15"
                [outerStrokeColor]="'#29c17b'" [innerStrokeColor]="'#e7e8ea'" [titleFontSize]="24" [unitsFontSize]="24"
                [showSubtitle]="true" [animation]="true" [animationDuration]="300" [startFromZero]="false"
                [responsive]="true">
              </circle-progress>-->
              <div
                style="height:auto; width:210px; position:relative; display: flex; justify-content: center; align-items: center;">
                <div style="display:block; height:auto; width:290px;">
                  <canvas #chart baseChart [data]="doughnutChartDataSustainability" [options]="barChartOptions"
                    [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="donutColors">
                  </canvas>
                  <div class="percent" fxLayout="column">
                    <p style="font-size: 22px; color:black;">{{percentSustain | number:'1.0-0'}}%
                    </p>
                    <a style="font-size: 12px; color:grey; margin-top: -32px;">progress:</a>
                  </div>
                </div>
              </div>
              <mat-card-subtitle style="margin-bottom: 14px; margin:14px;" routerLink="/sustainability"
                routerLinkActive="active">Completed</mat-card-subtitle>
              <div style="margin-bottom: 4px;">
                <button mat-raised-button (click)="goToTaskPage(5)" routerLinkActive="active">More info</button>
              </div>

              <div *ngIf="content && !content.sustainStartDate && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f" [disabled]="!content.enableSustain"
                  (click)="onStartClick(5)" routerLinkActive="active">Start</button>
              </div>
              <div
                *ngIf="content && !content.foloupCompletedDate && (content.sustainStatusID ==1 || content.sustainStatusID == 7) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processSustainTransactID,1,'Pause')"
                  routerLinkActive="active">Pause</button>
              </div>
              <div
                *ngIf="content && !content.foloupCompletedDate && (content.sustainStatusID == 4) && content.isFacilitatorAdmin">
                <button mat-raised-button style="background: #5f9c9f"
                  (click)="pauseProcess(content.processSustainTransactID,1,'Resume')"
                  routerLinkActive="active">Resume</button>
              </div>
              <div
                *ngIf="content && content.sustainStartDate && !content.sustainCompletedDate && (content.sustainStatusID != 4)">
                <mat-card-subtitle>Start Date :- {{content.sustainStartDate}}</mat-card-subtitle>
              </div>
              <div *ngIf="content && !content.foloupCompletedDate && (content.sustainStatusID == 4)">
                <mat-card-subtitle>Pause Date:- {{content.sustainPausedDate}}</mat-card-subtitle>
              </div>

              <div *ngIf="content && content.sustainCompletedDate">
                <mat-card-subtitle>Completed Date:- {{content.sustainCompletedDate}}</mat-card-subtitle>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <!-- <div>
  <div style="margin-bottom: 4px;">
    <button mat-raised-button routerLink="/preparation" routerLinkActive="active">More info</button>
  </div>
<br>
  <div>
    <button mat-raised-button routerLink="/preparation" routerLinkActive="active">Start</button>
  </div>
</div> -->
    <!--  <div class = "DashBoard_title"style="text-align: center;"><h3>PLANT PERFORMANCE DASHBOARD</h3></div> -->

    <!--<mat-grid-list cols="2" rowHeight="6:5" class="panel">-->

    <!--<mat-grid-list  class="processes" [cols]="isMobile ? 1 : 5" rowHeight="370px">-->

    <!--<div class="containerX" style="flex-direction: row; box-sizing: border-box; display: flex;">-->
    <!--style="flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 0%;"  -->

    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px" fxFlex="100">

        <!-- block 1 -->
        <div fxLayout="column" fxLayout.gt-sm="column" fxLayoutGap="10px" fxFlex="50" fxFlex fxFlexOrder="2"
          fxFlexOrder.gt-sm="2" class="panels">

           <div fxFlex fxFlexOrder="1" fxFlexOrder.gt-sm="1" fxFlex="100" fxFlex.gt-sm="50"
            class="DashBoard2 mat-elevation-z8" Title="Push to open Competencies Dayly">
            <h2 class="titletable">iCIF Competency Framework Dashboard</h2>

             <!-- <div [hidden]="!content2.dataSource2.length > 0"> -->

            <div [hidden]="!content2.dataSource2">
              <mat-table #table mat-table #sorter2="matSort" [dataSource]="content2.dataSource2" class="taskOverviewContent"
                matSort>
                <!--<div id="taskOverviewContent" style="overflow-y: scroll;">-->
                <!-- date Column  -->
                <!--<ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-column-coursetext"> {{element.id}} </mat-cell>
              </ng-container> -->

                <ng-container matColumnDef="courseName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Course </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="mat-column-coursetext"> {{element.courseName}} </mat-cell>
                </ng-container>

                <!-- status Column -->
                <ng-container matColumnDef="enrolled">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Enrolled </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.enrolled}} </mat-cell>
                </ng-container>

                <!-- category Column -->
                <ng-container matColumnDef="inProgress">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> In Progress </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.inProgress}} </mat-cell>
                </ng-container>

                <!-- name Column name -->
                <ng-container matColumnDef="completed">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Completed </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.completed}} </mat-cell>
                </ng-container>

                <ng-container  matColumnDef="impactVote">

                  <mat-header-cell *matHeaderCellDef mat-sort-header> Your vote </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index">

                    <star-rating *ngIf="!isCorporate" [starType]="'svg'" [numOfStars]="3"
                    [rating]="element.impactVote" [showHalfStars]="false" [hoverEnabled]="false" checkedcolor="red" uncheckedcolor="black"
                    (starClickChange)="onClickStarRating($event, element)" style="transform: scale(0.);">
                      <!--[readOnly]="isDisabledStarts" [labelText]="element.totalVotes" labelPosition="right" (starClickChange)="onClickStarRating($event.value)"-->
                    </star-rating>

                    <!--(starClickChange)="onClick($event)" (ratingChange)="onRatingChange($event)" -->
                  </mat-cell>

                </ng-container>

                <ng-container matColumnDef="averageRating">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> All votes (Avg.) </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.averageRating}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>
                    <button mat-button-raised class="exportxlsxbutton" title="Export to excel"
                      (click)="exportAsXLSX2()">
                      <img src="../../../assets/images/EXCEL-ICON.png"
                        style="width: 45px; height: 45px; padding: 0; margin: 0;" />
                    </button>
                    <!--<button mat-icon-button color="accent" (click)="addNew()">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button> -->
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element" disabled></mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>

              </mat-table>

              <mat-paginator #paginator2 [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" showFirstLastButtons>
              </mat-paginator>

            </div>
          </div>

          <!--<div fxFlex fxFlexOrder="2" fxFlexOrder.lg="1" fxFlexOrder.md="2" fxFlex.lg-md="50" fxFlex.lt-md="100" fxFlex.lt-sm="100" fxFlex.gt-md="100" class="DashBoard mat-elevation-z8">-->
          <div fxFlexOrder="2" fxFlexOrder.gt-sm="2" fxFlex="100" fxFlex.gt-sm="50" class="DashBoard mat-elevation-z8">
            <!--<div class="DashBoard mat-elevation-z8">   style="flex: 1 1 0%; box-sizing: border-box;"    -->
            <!--style="display: inline-block; width: 48%;"-->
            <h2 class="titletable">Task Overview Panel</h2>
            <div [hidden]="!content.dataSource">
              <mat-table mat-table #sorter1="matSort" [dataSource]="content.dataSource" class="taskOverviewContent"
                matSort>
                <!--<div id="taskOverviewContent" style="overflow-y: scroll;">-->

                <!-- date Column  -->
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                </ng-container>
                <!-- status Column-->
                <ng-container matColumnDef="wave">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Wave </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.wave}} </mat-cell>
                </ng-container>
                <!-- status Column-->
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                </ng-container>
                <!-- category Column-->
                <ng-container matColumnDef="category">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
                </ng-container>
                <!-- name Column name -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Task Name </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="mat-cell-description"> {{element.name}} </mat-cell>
                </ng-container>
                <!--</div>-->
                <!-- Wave Column name -->
                <!-- <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Wave </mat-header-cell>
                <mat-cell *matCellDef="let element" class="mat-cell-description">Wave {{element.wave}} </mat-cell>
              </ng-container> -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>
                    <button mat-button-raised class="exportxlsxbutton" title="Export to excel" (click)="exportAsXLSX()">
                      <img src="../../../assets/images/EXCEL-ICON.png"
                        style="width: 45px; height: 45px; padding: 0; margin: 0;" />
                    </button>
                    <!--<button mat-icon-button color="accent" (click)="addNew()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>-->
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element" disabled></mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns;" (click)="GoToWorkflowByWave(element)">
                </mat-row>

              </mat-table>

              <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" showFirstLastButtons>
              </mat-paginator>

            </div>
            <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->

            <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" Size="5" showFirstLastButtons></mat-paginator>-->
            <div *ngIf="!content.dataSource" style="margin-left: 227px; margin-top: 51px; font-size: 20px;">
              No tasks to display
            </div>

            <!--</div>-->
          </div>
        </div>

        <!-- block 2 -->
        <div fxFlex fxFlexOrder="1" fxFlexOrder.gt-sm="2" fxFlex="100" fxFlex.gt-sm="50"
          class="DashBoard mat-elevation-z8" Title="Push to open Dashboard link" style="cursor: pointer">
          <!-- (click)="goToLink()" -->

          <!---------------------------style="flex: 1 1 0%; box-sizing: border-box;"------------------->
          <!--Main DashBoard from file main-detail.component.html from line aprox 250 to the end of file-->
          <!--<div style="display: inline-block;width: 48%;vertical-align: top;" class="DashBoard mat-elevation-z8"
      (click)="goToLink('https://qv.lhinside.com/QvAJAXZfc/opendoc.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&lang=en-US&host=QVS%40Cluster&Select=LB37,')">-->

          <!--<div class="DashBoard mat-elevation-z8" (click)="goToLink()" Title="Push to open Dashboard link">-->
          <!--style="display: inline-block;width: 48%; vertical-align: top;" -->
         <h2 class="titletable2">Dashboard link</h2>

          <mat-card class="DashBoardContent" Title='Push to open Dashboard link'>
          <!-- <div class="CardDashboard">
            <!-- <iframe class="imageDashboard" src="https://datastudio.google.com/embed/reporting/f8286bba-aaf9-4946-b42a-3a9e92f0412d/page/p_w8aajmqxnc" frameborder="0" style="border:0" allowfullscreen></iframe> -->
            <!-- <iframe class="imageDashboard" src="https://datastudio.google.com/embed/u/0/reporting/f8286bba-aaf9-4946-b42a-3a9e92f0412d/page/IkLbC?params=%7B%22df119%22:%22include%25EE%2580%25800%25EE%2580%2580IN%25EE%2580%2580Davao%22%/7D" frameborder="0" style="border:0" allowfullscreen scrolling="no"></iframe> comment
            <iframe class="imageDashboard" [src]= "srcGoToDashboard()" frameborder="0" style="border:0" allowfullscreen scrolling="no"></iframe>
          </div> -->

             <!-- <a class="imageDashboard_test" (click)="func1()" Title="Push to open Dashboard link"> -->

              <div style="align-items: center; vertical-align: center; justify-content: center;">
                <img class="imageDashboard_test" src="../../../assets/images/CIF Dashboard.png"/>
              </div>

              <!-- <p id="GoogleData">{{GoogleData}}</p> -->
              <!-- <div *ngIf="characters$ | async as characters; else loading">
                <div *ngFor="let character of characters" class="character-card">
                  <div class="name">
                    {{ character.name }}
                  </div>
                </div>
              </div> -->

              <!-- onerror="this.onerror=null;this.src='../../../assets/images/world map.jpg'" -->
             <!-- </a> -->

            <!-- <div class="chart-wrapper">
              <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
              </canvas>

          </div>


          <div style="display: block;">
            <canvas baseChart
              [datasets]="barChartData2"
              [labels]="barChartLabels2"
              [options]="barChartOptions2"
              [plugins]="barChartPlugins2"
              [legend]="barChartLegend2"
              [chartType]="barChartType2"
              [colors]="barChartColors2">
            </canvas>
          </div> -->


            <!--<mat-card class="DashBoardContent">-->
            <!-- <mat-card class="DashBoardContent" (click)="goToLink()" Title='Push to open Dashboard link'> -->
            <!--  <iframe class="TX267 loadingMessage"
              src="https://qv.lhinside.com/QvAJAXZfc/singleobject.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&object=TX267"
              allowfullscreen sandbox='allow-same-origin allow-scripts' target="_parent"
              style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->
            <!--% DASHBOARD MAIN-->
            <!-- <h4 class="DashBoard_title2">Implementation Status</h4> -->


                  <!--Old dashboard-->

              <!-- <a class="imageDashboard" (click)="func1()" Title="Push to open Dashboard link">
              <img src="../../../assets/images/CIF Dashboard.png" onerror="this.onerror=null;this.src='../../../assets/images/world map.jpg';" width="100%" height="auto"/>
            </a> -->
            <!--src="https://qv.lhinside.com/QvAJAXZfc/singleobject.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&object=TX268" -->
            <!-- <iframe class="TX268" [src]="urlTX268" allowfullscreen sandbox='allow-same-origin allow-scripts'
              target="_parent" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowTransparency="true"></iframe>
            <!--src="https://qv.lhinside.com/QvAJAXZfc/singleobject.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&object=TX266" -->
            <!-- <iframe class="TX266" [src]="urlTX266" allowfullscreen sandbox='allow-same-origin allow-scripts'
              target="_parent" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowTransparency="true"></iframe> -->
            <!--LINEAL GRANT S DASHBOARD MAIN-->
            <!--src="https://qv.lhinside.com/QvAJAXZfc/singleobject.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&object=CH79"-->
            <!-- <iframe class="CH79" [src]="urlCH79" allowfullscreen sandbox='allow-same-origin allow-scripts'
              target="_parent" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowTransparency="true"></iframe> -->
            <!--src="https://qv.lhinside.com/QvAJAXZfc/singleobject.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&object=CH92"-->
            <!-- <iframe  class="CH92" [src]="urlCH92" allowfullscreen sandbox='allow-same-origin allow-scripts'
              target="_parent" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowTransparency="true"></iframe> -->
            <!--BARS GRANT S DASHBOARD MAIN-->
            <!--src="https://qv.lhinside.com/QvAJAXZfc/singleobject.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&object=CH83"-->
            <!-- <iframe class="CH83" [src]="urlCH83" allowfullscreen sandbox='allow-same-origin allow-scripts'
              target="_parent" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowTransparency="true"></iframe> -->
            <!--src="https://qv.lhinside.com/QvAJAXZfc/singleobject.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&object=CH128"-->
            <!-- <iframe class="CH128" [src]="urlCH128" allowfullscreen sandbox='allow-same-origin allow-scripts'
              target="_parent" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
              allowTransparency="true"></iframe> -->



              <!--  new dashboard testing -->
            <!-- <iframe src="https://qsqadigital.lhinside.com/sso/single/?appid=d14480f1-9429-4345-a70c-35fe0fede0d9&obj=xWukr&opt=ctxmenu,currsel&select=$::Plant%20Code,CG" style="border:none;width:100%;height:100%;" target="_parent"></iframe> -->
            <!-- <iframe src="https://qsqadigital.lhinside.com/sso/single/?appid=d14480f1-9429-4345-a70c-35fe0fede0d9&obj=xWukr&opt=ctxmenu,currsel&select=$::Plant%20Code,CG" style="border:none;width:50%;height:50%;"></iframe> -->
            <!-- <iframe src='https://qsqadigital.lhinside.com/sso/single/?appid=d14480f1-9429-4345-a70c-35fe0fede0d9&obj=yDnDD&opt=nointeraction&select=clearall' style='border:none;width:100%;height:100%;'></iframe> -->

            <!-- <div class="background_dashboard_white">
              <!-- % orange -->
              <!-- <iframe class="TX268" id="MyIFrame" [src]="urlTX268" allowfullscreen sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
              target="_parent" style="border:none;overflow:hidden"    frameborder="0" allowTransparency="true"></iframe> -->
              <!-- grey code dot chart -->
              <!-- <iframe class="CH79" [src]="urlCH79" allowfullscreen sandbox='allow-same-origin allow-scripts'
              target="_parent" style="border:none;overflow:hidden"  frameborder="0" allowTransparency="true"></iframe> -->
              <!-- % total complete grey color -->
              <!-- <iframe class="CH92" [src]="urlCH92" allowfullscreen sandbox='allow-same-origin allow-scripts'
              target="_parent" style="border:none;overflow:hidden"  frameborder="0" allowTransparency="true"></iframe> -->
              <!-- color bars chart -->
              <!-- <iframe class="CH83" [src]="urlCH83" allowfullscreen sandbox='allow-same-origin allow-scripts'
              target="_parent" style="border:none;overflow:hidden" frameborder="0" allowTransparency="true"></iframe>
            </div>-->
<!--
              <form id="login" target="frame" method="post" action="https://qsqadigital.lhinside.com/sso/single/?appid=d14480f1-9429-4345-a70c-35fe0fede0d9&obj=yDnDD&opt=nointeraction&select=clearall">
                <input type="hidden" name="username" value="GLONQCDAPQA01\QlikUser" />
                <input type="hidden" name="password" value="Qazplm@1996@" />
            </form>
 -->
<!--               <script type="text/javascript">
                  var iframeURL = 'https://qsqadigital.lhinside.com/sso/single/?appid=d14480f1-9429-4345-a70c-35fe0fede0d9&obj=yDnDD&opt=nointeraction&select=clearall';
                  var iframeID = 'MyIFrame';

                  function loadIframe(){
                      //pre-authenticate
                      var req = new XMLHttpRequest();
                      req.open("POST",this.iframeURL, false, "GLONQCDAPQA01\QlikUser", "Qazplm@1996@"); //use POST to safely send combination
                      req.send(null); //here you can pass extra parameters through

                      //setiFrame's SRC attribute
                      var iFrameWin = document.getElementById(this.iframeID);
                      iFrameWin.src = this.iframeURL + "?extraParameters=true";
                  }

                  //onload, call loadIframe() function
                  loadIframe();
              </script>
 -->
          </mat-card>
        </div>

      </div>

    </div>
  </div>
  <div>
    <div *ngIf="loading">
      <div style="height: 100vh; margin-left: 45%; margin-top: 5%;">
        <mat-progress-spinner mode="indeterminate" color="accent"> </mat-progress-spinner>
        <br>
        &nbsp; &nbsp; <b>Loading...</b>
      </div>
      <div style="margin-left:45%"></div>
    </div>
  </div>
</article>
