* {
  box-sizing: border-box;
}

.header__logo-image {
  width: 10px;
  height: 25px;
}

body {
  font-family: LH NotoSans, Arial, Helvetica, sans-serif;
}

.mat-expansion-panel-body {
  padding: 0;
}

.panel {
  margin-top: 30px;
}

.article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: rgb(214, 214, 214);
}

/* Style the footer */
/*
.footer {
  background-color: #777;
  padding: 8px;
  text-align: center;
  color: white;
}
*/

.a {
  color: black;
  font-size: 14px;
  float: left;
  padding: 0 0px;
}

.mat-expansion-panel {
  padding: 5px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 1 !important;
}

.landing_panels {
  margin-top: 15px;
  margin: 4px;
  height: 340px !important;
  width: 220px !important;
  font-size: medium;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  display: "flex";
  justify-content: "justify";
  padding: 5px;
}

.mat-card-title {
  font-size: medium;
}

.button .mat-raised-button .mat-chip .mat-chip-list .mat-card-actions .mat-card-heade .mat-card-title {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  justify-content: flex-start !important;
  text-align: "center";
  border-radius: 10px;
  color: grey;
  font-size: small;
}

.mat-grid-list {
  display: "flex";
  flex: 1 1 auto;
  border-bottom: 2px;
  border-radius: 2px;
  bottom: auto;
  padding: 5px;
  width: 98%;
  height: 320px;
}

/* unvisited link */
a:link {
  color: white;
  font-size: 12px;
}

/* visited link */
a:visited {
  color: white;
  font-size: 14px;
}

/* mouse over link */
a:hover {
  color: white;
  font-size: 14px;
}

/* selected link */
a:active {
  color: white;
  font-size: 14px;
}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
}

//tree
.p {
  text-align: center;
  color: white;
  font-size: 14px;
  padding: 10 10px;
}

.mat-accordion .mat-drawer-inner-container {
  background-color: #44878c;
  font-size: 14px;
  color: 44878c;
  padding: 0 7px;
  background-color: #44878c;
  width: 10px !important;
}

.mat-panel-title {
  background-color: #44878c;
  font-size: 12px;
  text-decoration-color: white;
  padding: 0px;
}

.mat-expansion-panel-body .mat-list-item-content .mat-list-item {
  font-size: 12px;
  padding: 0 0 0 0px !important;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 400px) {
  nav,
  article {
    width: 100%;
    height: auto;
    background-color: #838383;
  }
}

.image {
  width: 7%;
}

.mat-label {
  font-size: 12px;
  padding: 5px;
}

.searchbar {
  width: 500px;
  flex: 1 1 auto;
  text-align: center;
  //background-color: cadetblue;
}

.example-full-width {
  width: 500px;
  min-width: 100px;
  max-width: 850px;
  text-align: center;
  flex: 1 1 auto;
}

//------------------------ estilos de la barra lateral--------------------

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

//progress bar main
.progressbar {
  margin: 10px;
  margin-left: 30px;
  padding: 10px;
  //max-width: 95%;
  width: 95%;
  z-index: -1;
  border-radius: 10px;
  background-color: #f0f2f7;
}

.selectwave {
  display: flex;
  max-width: 132px !important;
  margin: 2px;
  width: 130px;
  height: 73px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
  margin-top: 2vh;
  //transform: scale (0.5);
  border: 1px #f0f2f7 solid;
  animation: blink 1s;
  animation-iteration-count: 3;

  ::ng-deep .mat-form-field-wrapper {
    max-width: 130px !important; margin-right: 30px;
  }

  @keyframes blink {
    50% {
      border-color: #ff0000;
    }
  }

  mat-label {
    color: grey;
    width: 75%;
    font-size: 1rem;
    float: left;
  }

  mat-select,
  input {
    width: 100%;
    //float: none;
    text-align: left;
  }

}


.selectwave2 {
  display: flex;
  max-width: 132px !important;
  margin: 2px;
  width: 130px;
  height: 73px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 17px;
  margin-top: 2vh;
  //transform: scale (0.5);
  border: 1px #f0f2f7 solid;
  animation: blink2 1s;
  animation-iteration-count: 3;

  ::ng-deep .mat-form-field-wrapper {
    max-width: 130px !important; margin-right: 30px;
  }

  @keyframes blink2 {
    50% {
      border-color: green;
    }
  }

  mat-label {
    color: grey;
    width: 75%;
    font-size: 1rem;
    float: left;
  }

  mat-select,
  input {
    width: 100%;
    //float: none;
    text-align: left;
  }

}

::ng-deep .cdk-overlay-container .cdk-overlay-pane .testClass{
  margin-top: 8%;
  max-width: 20px;
  width: 10px;
  margin-left: -1.5vw;
  min-width: 100px !important;
}

.titleprogressbar {
  display: flex;
  margin: 10px;
  text-align: center;
  font-size: 24px;
}
.mat-divider {
  width: auto;
  margin: 1px;
}

.progressbar-margin {
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
}
.processes {
  position: relative;
  display: inline-block;
  //padding: 10px !important;
  //margin: 5px;
}
.mat-figure {
  margin: 5px;
  margin-top: 2px;
  padding: 1px;
  padding: 10px;
  width: 600px;
  height: 400px;
}

.mat-grid-tile {
  margin: 10px;
  margin-top: 2px;
  padding: 1px;
  padding: 10px;
  width: 600px;
  height: 320px;
}

.tabla {
  padding: 5px;
  overflow: auto;
  margin: 10px;
  margin-top: 10px;
  height: auto;
  border-radius: 10px !important;
  width: 100%;
}


.titletable {
  text-align: center;
}

.titletable2 {
  text-align: center;
}

.titletable2:hover {
  cursor: pointer;
}

table {
  width: 100%;
  border-radius: 10px !important;
}

.mat-table {
  border-radius: 10px;
  overflow: hidden !important;
  margin: 2px;
}

.mat-paginator {
  border-radius: 10px;
}

// Tipos de efectos
.flexSpaceBetween {
  background-color: transparent !important;
  //flex: 1 1 auto;
  justify-content: space-between;
}

.menu-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  height: 100vh;
}

.dropdown_header {
  text-align: center;
  color: black;
}

//DASHBOARD CONFIGURATION FROM LINES 380 TO 469 SCSS STYLE

.panels{
  border-radius: 15px;
  overflow: hidden;
}

.DashBoard {
  padding: 5px;
  // overflow: auto;
  margin: 5px;
  margin-top: 10px;
  // height: 95vh;
  min-height: 108vh !important;
  //max-height: 108vh !important;
  border-radius: 10px !important;
  width: 97%;
  overflow-y: auto;
}

.Dashboard:hover {
  cursor: pointer;
}

::ng-deep .mat-sort-header-content{
  font-size: medium;
}

.DashBoard2 {
  padding: 5px;
  //overflow: auto;
  margin: 5px;
  margin-top: 10px;
  //height: 95vh;
  height: fit-content;
  //min-height: 108vh !important;
  max-height: 70vh !important;
  border-radius: 10px !important;
  //max-width: 100%;
  width: 97%;
  overflow-y: auto;
  /*
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px !important;
  font-weight: 500 !important;
  color: grey;
  */
}

::ng-deep ::-webkit-scrollbar {
  // Width of vertical scroll bar
  width: 10px;
  // Height of horizontal scroll bar
  height: 10px;

}
::ng-deep ::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: #c2c9d2;
}

.taskOverviewContent {
  height: 80% !important;
  overflow-x: hidden;
  font-size: x-small;
  //width: auto;
}


.DashBoardContent {
  // padding-top: 95.2%; /* 1:1 Aspect Ratio */
  height: 129vh;
  max-height: 160.2vh;
  // min-height: 98.2vh !important;
  border-radius: 10px;
  width: 100%;
  z-index: -1;
  padding: 3px;
}

.DashBoard_title {
  position: flex;
}

.DashBoard_title2 {
  color: grey;
  position: relative;
  width: 95.2%;
  text-align: center;
  //padding-bottom:5px;
}

.DashBoard_title2:hover {
  cursor: pointer;
}

.CardDashboard{
    //margin:30px;
    position:relative;
    overflow:hidden;
    left: 0px;
    top: 0px;
    height:100%;
    width:100%;
    margin: 0px;
}

.imageDashboard{
  margin: 2 0 0 2px;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  border-radius: 7px;
  // top: 5;
  //left: 0;
  // width: 46.7vw;
    //zoom: 75%;
  // width: 97%;
  height: calc(100vh * 1.68);
  width: calc(100vw * 1.5199);
  // height: 1600px;
  top: -25vh;
  // left: 0px;
  // left: 100px;
  //margin-top:-10px;
  // margin-left:-102px;
  transform: scale(0.9);
  transform-origin: 0 0;
}

.imageDashboard_test{
  border-radius: 7px;
  padding: 11px;
  margin: 15px;
  margin-top: 2vh;
  width: 45vw;
  height: auto;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

//TITLE DASHBOARD MAIN
.TX267 {
  //  height: 403px;
  //  width: 396px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  border: 0;
}

//% DASHBOARD MAIN
.TX268 {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 20%;
  height: 40%;
  border: none;
}

.TX266 {
  position: absolute;
  top: 20%;
  left: 2%;
  width: 20%;
  height: 40%;
  border: 0;
}

//LINEAL GRANT S DASHBOARD MAIN
.CH79 {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 80%;
  height: 40%;
  border: 0;
}

.CH92 {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 80%;
  height: 40%;
  border: 0;
  z-index: 2px;
}

//BARS GRANT DASHBOARD MAIN
.CH83 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 48%;
  border: 0;
}

.CH128 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 48%;
  border: 0;
  z-index: 2px;
}

/*
//DASHBOARD MAIN
.background_dashboard_white{
  position: absolute;
  top: 10%;
  left: 1.5%;
  width: 97%;
  height: 87vh;
  border: none;
  background-color: white;
  padding: 0px;
  margin: 0px;
  border-radius: 7px;
  //z-index: 2;
}
//TITLE DASHBOARD MAIN for new dashboard
.TX267 {
  //  height: 403px;
  //  width: 396px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  border: 0;
}

//% in orange numbers
.TX268 {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 20%;
  height: 27%;
  border: none;
}

//grey code dot chart
.CH79 {
  position: absolute;
  top: 0%;
  left: 20%;
  width: 80%;
  height: 36.5%;
  border: 0;
}

// % total complete grey color
.CH92 {
  position: absolute;
  top: 20%;
  left: 2%;
  width: 20%;
  height: 16%;
  border: 0;
  z-index: 2px;
}

//color bars chart
.CH83 {
  position: absolute;
  top: 34%;
  left: 0%;
  width: 98%;
  height: 62%;
  border: 0;
  //zoom: 1px;
}
*/
.mat-header-cell {
  font-size: 20px;
  color: grey;
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

/*.loadingMessage{
  background:url(../../../assets/loader.gif) center center no-repeat;
}
*/

#loadingMessage {
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: url(../../../assets/loader.gif) center center no-repeat;
  //background: grey;
  top: 0px;
  left: 0px;
  position: absolute;
}

//table styles column definition

//.tableOverviewPanel{

.mat-column-date {
  flex: 0 0 14%;
}
.mat-column-wave {
  flex: 0 0 11%;
}
.mat-column-status {
  flex: 0 0 14%;
}
.mat-column-category {
  flex: 0 0 20%;
}
.mat-column-name {
  flex: 0 0 32%;
}
.mat-column-name.mat-cell-description {
  align-items: center !important;
  text-align: left !important;
  justify-content: flex-start !important;
}
.mat-column-actions {
  flex: 0 0 10%;
}
/*
.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 16%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 15%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 20%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 42%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 10%;
}

.mat-cell-description{
  align-items: center  !important;
  text-align: left  !important;
  justify-content: flex-start !important;
}
*/
.mat-column-id {
  flex: 0 0 33%;
  //flex: none;
  //width: 60%;
}
.mat-column-course {
  flex: 0 0 33%;
  //flex: none;
  //width: 60%;
}
.mat-column-coursetext {
  align-items: center !important;
  text-align: left !important;
  justify-content: flex-start !important;
}
.mat-column-enrolled {
  flex: 0 0 13%;
}
.mat-column-InProgress {
  flex: 0 0 16%;
}
.mat-column-completed {
  flex: 0 0 16%;
}
.mat-column-ImpactVote {
  flex: 0 0 15%;
}
.mat-column-actiones {
  flex: 0 0 10%;
  transform: scale(0.9);
}

.exportxlsxbutton {
  border-color: none !important;
  border-style: none !important;
  border-radius: 7px;
  //background-image: url('../../../../assets/images/EXCEL-ICON.png');
  //background-size: auto;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}

.exportxlsxbutton2 {
  width: 50px;
  height: auto;
  padding: 0;
  margin: 0;
}

.containerX {
  border: 1px solid #b6b6b6;
  box-sizing: content-box !important;
}

.coloredContainerX {
  height: 200px;
}

.test {
  //position: relative;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}

/*#29c17b verde completed
  #1f8efa azul primary
  #f08c00 naranja due soon
  #e6280f rojo over due

  '#29c17b', '#1f8efa', '#f08c00', '#e6280f'

  [color]="[rgb(41,193,123), rgb(31,142,250), rgb(240,140,0), rgb(230,40,15)]"
*/

.chart-wrapper {
  position: flex;
  top: 300px;
  left: 400px;
}

.percent {
  display: inline-block;
  position: absolute;
  flex: none;
  flex-direction: column;
  top: 30%;
  left: 49%;
  width: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.mat-card-subtitle_implementation {
  margin-bottom: 3px;
}

.waveButton {
  //left: calc((20% - 0.8px + 1px) * 3);
  //width: calc((20% - 0.8px) * 1 + 0px);
  margin-bottom: 1px;
  padding-bottom: 2px;
  width: 125px;
  z-index: inherit;
}

.panel > ::ng-deep .mat-card {
  //max-width: 100px;
  width: 100px !important;
  margin: 0px;
  padding: 0px;
}

.panel > ::ng-deep .mat-card-content {
  //max-width: 100px;
  width: 100px !important;
  margin: 0px;
  padding: 0px;
}

/*
.panel >::ng-deep .mat-figure{
  width: 100px !important;
  margin: 0px;
  padding: 0px;
  position: relative !important;
}
*/

.panel {
  max-width: 100px !important;
  width: 100px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.fullWidth {
  width: 100% !important ;
}

.g1 {
  width: 21.5% !important ;
  height: 100% !important ;
  //background-color: red;
  margin: 5px !important;
}
.g2 {
  width: 12% !important;
  //background-color: blue;
  height: 100% !important;
  padding: 10px;
  margin: 5px;
  margin-left: 10px;
}

.mat-row:hover {
  background-color: #e0e3ee;
  border-radius: 7px;
  border-color: #b6b6b6;
  border-style: solid;
  border-spacing: 1px;
  border-collapse: seperate;
  border-bottom: 1px solid #bcddfe;
  border: 1px solid grey;
}

.hide {
  display: none;
}
