<div class="container" *ngIf="editForm">
  <h3 mat-dialog-title>User id: {{id}}</h3>

  <form class="mat-dialog-content" [formGroup]="editForm" (ngSubmit)="submit()" #formControl="ngForm" fxLayout="column">

    <div class="flex-container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="space-around center">

      <!--
      <div class="form">
        <mat-form-field color="accent">
          <img mat-card-avatar formControlName="imageUrl"  placeholder="imageUrl" src="data.imageUrl" name="imageUrl" required >    
        </mat-form-field>
      </div>
      -->
      <!--      <img mat-card-avatar src={{imageUrl}}>-->

      <div class="form hidden" [hidden]="true">
        <mat-form-field color="accent">
          <input matInput formControlName="id" placeholder="id" [(ngModel)]="data.id" name="id" readonly>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input formControlName="name" placeholder="name" [(ngModel)]="data.name" name="name">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="email" placeholder="email" [(ngModel)]="data.email" name="email">
        </mat-form-field>
      </div>

      <!--
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="createdate" [(ngModel)]="data.createdate" name="createdate">
      </mat-form-field>
    </div>
  -->
      <!--    <div class="form">
      <mat-form-field color="accent">
        <input matInput formControlName="photoURL" placeholder="photoURL" [(ngModel)]="data.photoURL" name="photoURL">
      </mat-form-field>
    </div>
-->

      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="sapUserId" placeholder="SAP User Id" [(ngModel)]="data.sapUserId"
            name="sapUserId">
        </mat-form-field>
      </div>

      <div class="form" fxFlex="40">
        <mat-form-field color="accent" fxFlex>
          <mat-label>Select Role</mat-label>
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-select formControlName="roles" [(ngModel)]="selectedRoles[0]" [compareWith]="compareRoles" name="roles"
            (selectionChange)="onChangeRoles($event.value)">
            <mat-option *ngFor="let role of roles" [value]="role">{{role?.name}}</mat-option>
            <!--<mat-option [value]="">None</mat-option>-->
          </mat-select>
          <mat-hint>User role permisions</mat-hint>
        </mat-form-field>
      </div>

      <div class="form" fxFlex="40">
        <mat-form-field color="accent" fxFlex>
          <mat-label>Select Plant</mat-label>
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-select #select formControlName="plants" [(ngModel)]="selectedPlants" [compareWith]="comparePlants"
            name="plants" (selectionChange)="onChangePlants($event.value)" multiple>
            <div class="select-all">
              <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                (change)="toggleAllSelection()">Select All</mat-checkbox>
            </div>
            <!--<mat-option #allPlants (click)="selectAll()" [value]="0">All Plants</mat-option>-->
            <mat-option *ngFor="let plant of plants" [value]="plant">{{plant?.name}}</mat-option>

          </mat-select>
          <mat-hint>User Plants</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <!--
  [(ngModel)]="selectedPlants" [formControl]="userForm"
  (valueChange)="onChangePlants($event)" 
[compareWith]="compareObjects"
-->
    <!--<div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="space-around center">
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </div>-->

    <div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%"
      fxLayoutAlign="space-around center">
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [type]="submit" [mat-dialog-close]="1"
          (click)="stopEdit()">Save</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        <!--<button mat-raised-button (click)="reset()" tabindex="-1">Reset</button>-->
      </div>
    </div>

  </form>
</div>