.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  //position: relative;
  //min-width: 1000px;
  height: auto !important;
  //margin: 1px !important;
}

.container > * {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  margin: 5px;
  margin-top:5px;
  padding-top: 5px;
  display: inline-block;
}

.mat-form-field {
  font-size: 13px;
  flex-grow: 1;
  display: inline-block;
}

.matPrefix {
  margin-right:5px;
  display: inline-flex;
}

.mat-raised-button{
  height: 30% !important;
  width: 49%;
  text-align: center;
  align-items: center;
  padding: 1px !important;
}

.mat-dialog-title{
  padding: 5px;
  height: 4px;
  height: auto !important;
}

.mat-dialog-content {
  overflow-y: hidden;
  text-align: center;
  height: auto !important;
}


.flex-container {
  display: flex;
  //flex-direction: row;
  //min-width: 100px;
  margin: 2px;
  flex-flow: row wrap;
  height: auto !important;
}


.mat-form-field {
  font-size: 13px;
  flex-grow: 1;
  display: inline-block;
}

.matPrefix {
  margin-right:5px;
  display: inline-flex;
}


.mat-raised-button{
  height: 30% !important;
  width: 49%;
  text-align: center;
  align-items: center;
  padding: 1px !important;
}

.mat-dialog-actions {
  overflow-y: hidden;
  text-align: center;
  flex: flex-warp;
  width: auto !important;
  height: auto !important;
  flex-wrap: unset !important;
  margin-bottom:7px;
}

.hidden {
  display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

.mat-icon{
  margin: 5px;
}

.select-all{
  margin: 5px 17px;
} 