<div *ngIf="showErrorMessage" style="width:550px;height:300px;">
    <mat-icon style="cursor: pointer; top: 0; right: 0; padding: 5px; line-height: 14px; min-width: auto;float:right"
        (click)="closePopUp()" onclaria-hidden="false" aria-label="Example home icon">cancel</mat-icon>
    <label *ngIf="data.message == 'PreviousTaskIncomplete'" style="width: 100%;" class="taskdesc">
        Dear User,
        <br>
        <br>
        Please Note that the previous tasks with sequence number {{pendingSequence}} are pending for completion.
        <br>
        <br>
        
        You will be able to complete the task only if all previous tasks are completed.
    </label>
    <label *ngIf="data.message != 'PreviousTaskIncomplete'" style="width: 100%;"
        class="taskdesc">{{data.message}}</label>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutAlign="start start"></div>
        <div fxLayout="column" fxLayoutAlign="start start">
            <div style="display: inline-block; margin-top: 160px">
                <button style="width:90px" mat-raised-button (click)="closePopUp()">Close</button>
                <label>&nbsp;</label>
               
            </div>
        </div>
    </div>
</div>

<div *ngIf="!showErrorMessage" class="container" style="width: 70vw;">
    <div *ngIf="!loading" fxLayout="row" fxLayoutAlign="end center">
        <a></a>
        <!--<button mat-button-raised class="exportxlsxbutton" title="Export to excel" (click)="exportAsXLSX()">
            <img src="../../../../assets/images/EXCEL-ICON.png" style="width: 45px; height: 45px; padding: 0; margin: 0;"/>
        </button>
        <mat-icon
            style="cursor: pointer; top: 0; right: 0; padding: 5px; line-height: 14px; min-width: auto;float:right"
            (click)="closePopUp()" onclaria-hidden="false" aria-label="Example home icon">cancel</mat-icon>-->
    </div>
    <div *ngIf="loading" style="overflow-x: hidden; overflow-y: hidden;">
        <div style="margin-left: 41%;margin-top: 4%;">
            <mat-progress-spinner mode="indeterminate" color="accent"> </mat-progress-spinner>
        </div>
        <br>
        <label style="margin-left: 40%;" class="fclass">Processing Please Wait ...</label>
    </div>

    <div *ngIf="nextTaskInformation" style="overflow-x: hidden;">

        <div>
            <label class="fclass"><b>Task Completed Successfully</b> </label>

        </div>
        <br>
        <div *ngIf=!isLastTask>
            <div *ngIf=!isFloatingTask>
                <label style="width: 150px;" class="taskdesc">Next Task :</label>
                <br>
                <div class="rectangle" fxFlex="20">
                    <label style="margin-left: 1%;" class="fclass">{{nextTaskDetail.taskName}}</label>

                </div>
            </div>
            
        </div>
        <div *ngIf=isLastTask>
            <label style="width: 100%;" class="taskdesc">All the Tasks Completed Successfully !! </label>
            <br>

        </div>

        <br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start"></div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div style="display: inline-block;">
                    <button style="width:90px; " mat-raised-button (click)="closePopUp()">Close</button>
                    <label>&nbsp;</label>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div *ngIf="reOpenSuccess">
        <label class="fclass" style="font-size: 15px;">Task has been reopened Successfully!!</label>
        <br>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start"></div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div style="display: inline-block;">
                    <button style="width:90px" mat-raised-button (click)="closePopUp()">Close</button>
                    <label>&nbsp;</label>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="postponeSuccess">
        <label class="fclass" style="font-size: 15px;">Task has been postponed Successfully!!</label>
        <br>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start"></div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div style="display: inline-block;">
                    <button style="width:90px" mat-raised-button (click)="closePopUp()">Close</button>
                    <label>&nbsp;</label>
                </div>
            </div>
        </div>

    </div>

    <!-- <div *ngIf="!reOpenSuccess">

        Problem while reopening Task!!
        <br>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start"></div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div style="display: inline-block;">
                    <button style="width:90px" mat-raised-button (click)="closePopUp()">Close</button>
                    <label>&nbsp;</label>
                </div>
            </div>
        </div>

    </div> -->

    <div *ngIf="reopenFlag && !loading">
        <label class="fclass" style="font-size: 15px;">
        Dear User,
        <br>
        <br>
        Please Note that you are going to reopen completed task.
        <br>
        <br>
        Do you want to proceed ?
        </label>
        <br>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start"></div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div style="display: inline-block;">
                    <button  mat-raised-button (click)="reopenTask('yes')">Yes</button>
                    <label>&nbsp;</label>
                    <button mat-raised-button (click)="reopenTask('no')">No</button>
                   
                    <label>&nbsp;</label>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="postponeFlag && !loading">
        <label class="fclass" style="font-size: 15px;">
        Dear User,
        <br>
        <br>
        Please Note that you are going to postpone task.
        <br>
        <br>
        Do you want to proceed ?
        </label>
        <br>
        <br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start"></div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div style="display: inline-block;">
                    <button  mat-raised-button (click)="postponeTask('yes')">Yes</button>
                    <label>&nbsp;</label>
                    <button mat-raised-button (click)="postponeTask('no')">No</button>
                   
                    <label>&nbsp;</label>
                </div>
            </div>
        </div>
    </div>
							  
    <div *ngIf="!showErrorMessage && !loading 
            && !nextTaskInformation && !assignWindow 
                && !reopenFlag && !reOpenSuccess && !postponeSuccess && !postponeFlag">
        <div fxLayout="column" fxflex="100">
            <label style="width: 150px;" class="taskdesc"><b>Task Description:</b></label>

            <div class="rectangle">
                <label style="margin-left: 1%;" class="fclass">&#8226;&nbsp;{{data.taskDetail.description}}</label>

            </div>
        </div>
	   
        <br>

        <div fxLayout="row wrap" fxFill fxLayoutAlign="space-between start" >
        </div>

        <div fxLayout="row wrap" fxFill fxLayoutAlign="space-between start" fxLayout.lt-sm="column"  class="descbox">
            <div fxLayout="column" fxLayoutAlign="space-between start"  fxLayoutAlign.xs="start start">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="start start" style="width: 300px;">
                    <div style="border-radius: 7px;">
                       
                        <label style="width: 100%;" class="taskdesc"><b>Comments:</b> </label>
                            <!--<form class="mat-dialog-content" [formGroup]="addForm" novalidate="" #formControl="ngForm">
                            <mat-form-field style="width:300px !important;">
                                <textarea matInput style="font-size: 1rem;caret-color: black; border:solid 1px grey; font-size: small;" matInput
                                    class="form-control" formControlName="comments" [(ngModel)]="comments"
                                    name="comments" [value]="comments"
                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="4" readonly>
                                </textarea>
                            
                            <!-- <textarea cols="30" rows="4" (input)="comments = $event.target.value"></textarea>
                            </mat-form-field>-->
                            <!--<textarea *ngFor="let item of commentsList" [ngClass]="{cssClass: item.value==false}">
                    </form>-->
                    <div class="divcontent" style="overflow-y: scroll;height: 200px;">
                        <div *ngFor="let item of commentsList;let i=index" >
                            <!--<pre class="pre">-->
                            {{item.commentDate}} &nbsp; {{item.user}}: &nbsp; <br> {{item.comment}}<br>
                            <br>
                            <!--</pre> .split(' ').join('')-->
                        </div>
                    </div>
                        <label style="width: 100%;" class="taskdesc" *ngIf="isCorporateUser =='no'"><b>Add Comments as {{userName}}:</b></label>
                        <!--<form class="mat-dialog-content" [formGroup]="CommentForm" novalidate="" #formControl="ngForm">-->
                        
                            <!--<mat-form-field appearance="outline" style="width:300px !important;">
                                <!--<textarea matInput style="font-size: 1rem;caret-color: black; border:solid 1px grey;" matInput
                                    class="form-control" formControlName="comments" [(ngModel)]="comments"
                                    name="comments"
                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize"cdkAutosizeMinRows="1" cdkAutosizeMaxRows="2">
                                    </textarea>
                            <input type="text" style="width: 100%;" [(ngModel)]="comments" name="comments" [value]="comments">
                            <textarea matInput #textbox (change)="comments = textbox.value" 
                            class="form-control" formControlName="commentText" [(ngModel)]="commentText"
                            >{{log}}
                            </textarea>
                            </mat-form-field>-->
                            <!--<mat-form-field class="mat-dialog-content" appearance="outline" style="width:300px !important;">-->
                                <textarea *ngIf="isCorporateUser =='no'" id="textareas" class="textarea" matInput matTextareaAutosize [(ngModel)]="content"  placeholder="{{somePlaceholder}}"
                                cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="4" style="caret-color: black;">
                                </textarea>
                              <!--</mat-form-field>-->
                        <!--</form>-->
                            <div style="width:100%; position: relative;" *ngIf="isCorporateUser =='no'">
                                <button mat-raised-button class="CommentButton"
                                mat-raised-button [disabled]="disableSave || !disablebywave" *ngIf="!isProjectWavesRoute()" (click)="UpdateComment(content)" >Save Comment</button>
                            
                                <!--<button mat-raised-button style="width:100px; margin-left:10px; margin: 2px;"
                                mat-raised-button (click)="UpdateComment(comments)">Save Comment</button>
                                <button mat-raised-button style="width:100px; margin-left:10px; margin: 2px;"
                                mat-raised-button (click)="log=''">Clear</button>-->
                            </div>
                        
                </div>
                    <!-- <md-input-container >
                        <label class="taskdesc">Comments</label>
                        <input type="text">
                      </md-input-container>
                      <div>
                        <md-button class="md-raised">Add </md-button>
                      </div>-->

                    </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="space-between start"  fxLayoutAlign.xs="start start">
                
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="5%">
                    <div *ngIf="!showCompletedBy">
                        <label style="width:100%" class="taskdesc"><b>Assigned To:</b> {{assignedTo}}</label>
                    </div>

                    <div *ngIf="showCompletedBy">
                        <label style="width:100%" class="taskdesc"><b>Completed By:</b> {{completedBy}}</label>
                    </div>

                    <div *ngIf="!hideAssign" class="form" style="width:200px" flex="45">
                        <mat-form-field color="accent" fxFlex>
                            <div *ngIf="errors =='yes'" style="color: red;">
                                Please select Assign to
                            </div>
                            <br>
                            <mat-label *ngIf="errors !='yes'">Assign Task to</mat-label>
                            <mat-icon matPrefix>person</mat-icon>
                            <mat-select [(ngModel)]="user" name="user" (selectionChange)="removeErrorIfAny()" required>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let user of userData" [value]="user">{{user.name}}</mat-option>
                            </mat-select>
                            <mat-hint></mat-hint>
                        </mat-form-field>

                        <button mat-raised-button style="width:110px; margin-left:10px; margin-top: 10px;"
                            mat-raised-button (click)="assignTo()" [disabled]="!disablebywave">Assign</button>
                    </div>
                </div>
              
              
              
              
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div>
                        <label *ngIf="date" style="width: 180px;" class="taskdesc"><b>Date:</b> {{date}}</label>
                    </div>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="space-between center"  fxLayoutAlign.xs="start start">
                    <div>
                        <label class="taskdesc"><b>Duration:</b> {{data.taskDetail.durationInDays}}</label>
                    </div>
                </div>
                <!-- <br>
				  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <label class="taskdesc"> Comments: </label>
                    <br>
                    <div  class="rectangle">
                            <label style="margin-left: 1%;" class="fclass">{{data.taskDetail.observation}}</label>
                    </div> 
                </div> -->
                <br>

            </div>


            <div fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="row wrap" fxLayoutAlign="start start">
                    <div *ngIf='data.taskDetail.linksToDoc != "" || data.taskDetail.linksToVideo != "" 
                    || data.taskDetail.linksToFolder != "" || data.taskDetail.linksToSite != ""' >
                        <label style="width: 200px;" class="taskdesc"> <b>Supporting Material</b></label>
                        <div *ngIf='data.taskDetail.linksToDoc != ""'>
                            <div *ngFor="let doclink  of data.taskDetail.linksToDoc;let i = index">
                                <div>
                                    <mat-icon style="font-size: 12px;">link</mat-icon><a target="_blank"
                                        class="linkclass" [href]="doclink">{{data.taskDetail.docName[i]}}</a>
                                        
                                </div>
                            </div>
                            <!--(data.taskDetail.linksToDoc != "" ) || -->
                            <!--<div *ngIf='(data.taskDetail.taskId === 4) && (data.taskDetail.processId === 1)'>
                                <mat-icon style="font-size: 12px;">link</mat-icon>
                                <a (click)="goToLinkWithCodePlant('//pact.connectedfactory.info/gap-analyzer?plantName=')" class="linkclass">
                                    CIF Gap Analyzer</a>
                            </div>-->
                        </div>
                       <div *ngIf='(data.taskDetail.taskId === 4 || data.taskDetail.taskId === 157)  && (checkStatus)'>
                            <mat-icon style="font-size: 12px;">link</mat-icon>
                            <a (click)="goToLinkWithCodePlant('//pact.connectedfactory.info/gap-analyzer?plantName=')" class="linkclass">
                                CIF Gap Analyzer</a>
                        </div>
						<div class="linkclass" *ngIf='(data.taskDetail.taskId === 4 || data.taskDetail.taskId === 157)  && (!checkStatus)'>
                            <mat-icon style="font-size: 12px;">link</mat-icon>
                            <a (click)="goToLinkoutplant('https://docs.google.com/spreadsheets/d/1co1ienUCZ5cSGC4MN0A45-KQWrb7oC33u_e4ur_1dno/edit#gid=1337782759')" class="linkclass">
                                Gap Analyzer is not configured in this plant yet, alternatively use CIF Modular</a>
                        </div>
                        <div *ngIf='data.taskDetail.linksToVideo != ""'>
                            <div *ngFor="let videoLink  of data.taskDetail.linksToVideo;let i = index">
                                <div>
                                    <mat-icon style="font-size: 12px;">play_circle_outline</mat-icon><a target="_blank"
                                        class="linkclass" [href]="videoLink">{{data.taskDetail.videoName[i]}}</a>
                                </div>
                            </div>
                        </div>

                        <div *ngIf='data.taskDetail.linksToFolder != ""'>
                            <div *ngFor="let folderLink  of data.taskDetail.linksToFolder;let i = index">
                                <div>
                                    <mat-icon style="font-size: 12px;">folder_open</mat-icon><a target="_blank"
                                        class="linkclass" [href]="folderLink">{{data.taskDetail.folderName[i]}}</a>
                                </div>
                            </div>
                        </div>

                        <div *ngIf='data.taskDetail.linksToSite != ""'>
                            <div *ngFor="let siteLink  of data.taskDetail.linksToSite;let i = index">
                                <div>
                                    <mat-icon style="font-size: 12px;">link</mat-icon><a target="_blank"
                                        class="linkclass" [href]="siteLink">{{data.taskDetail.siteName[i]}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>


        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column">
            <div fxLayout="column" fxLayoutAlign="center center"></div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <div style="display: inline-block;" >
                    <button style="width:110px" *ngIf="((!showSkip && !disableButton) || (data.taskDetail.floating && data.taskDetail.statusId !==3) && isCorporateUser =='no')" mat-raised-button
                        (click)="save('completed')" [disabled]="!disablebywave" >Complete Task</button>

                    <label>&nbsp;</label>
                    <button *ngIf="showSkip && !disableButton" mat-raised-button (click)="save('yes')">Yes</button>
                    <label>&nbsp;</label>
                    <button *ngIf="showSkip && !disableButton" mat-raised-button (click)="save('no')">No</button>
                    <button style="width:90px" mat-raised-button (click)="closePopUp()">Close</button>
                    <label>&nbsp;</label>
                     <button *ngIf="taskType == 'completed' && isFacilitatorOrAdmin == 'yes' && data.taskDetail.typeId !== 2 && !isProjectWavesRoute()" style="width:90px" mat-raised-button (click)="reopen()" [disabled]="disableSave || !disablebywave">Reopen</button>
                    <label>&nbsp;</label>
                    <label>&nbsp;</label>
                     <button *ngIf="taskType !== 'completed' && isFacilitatorOrAdmin == 'yes' && data.taskDetail.typeId !== 2 && !data.taskDetail.floating" style="width:90px" mat-raised-button (click)="postpone()" [disabled]="disableSave || !disablebywave">Postpone</button>
                    <label>&nbsp;</label>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="!showErrorMessage && !loading && !nextTaskInformation && assignWindow">
        <div *ngIf="!assignmentSuccess">
            <div>
                <label style="width: 100%;font-size:18px" class="taskdesc"><b>Task Assignment</b> </label>

                <div>
                    <br>
                    <label style="width: 100%;font-size:16px" class="taskdesc"><b>Task Name:
                        </b>{{data.taskDetail.name}}</label>
                    <br>
                    <br>
                    <label style="width: 100%;font-size:16px" class="taskdesc"><b>User Name: </b>{{user.name}}</label>
                    <br>
                    <br>
                    <label style="width: 100%;font-size:16px" class="taskdesc"><b>User Email: </b>{{user.email}}</label>
                    <br>
                    <br>
                    <label style="width: 100%;font-size:16px" class="taskdesc">Do you want to Proceed with the
                        Assignment ?</label>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start"></div>
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <div style="display: inline-block;">

                            <button mat-raised-button (click)="assigneYes()">Yes</button>
                            <label>&nbsp;</label>
                            <button style="width:90px" mat-raised-button (click)="closePopUp()">No</button>
                            <label>&nbsp;</label>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div *ngIf="assignmentSuccess">

            <div>
                <label style="width: 100%;font-size:16px" class="taskdesc">Assignment is Successfull !! </label>

                <div>

                    <div>
                        <label style="width: 100%;font-size:16px" class="taskdesc"><b>Task Name:
                            </b>{{data.taskDetail.name}}</label>
                        <br>
                        <label style="width: 100%;font-size:16px" class="taskdesc"><b>Assigned To User:
                            </b>{{user.name}}</label>
                        <br>
                        <label style="width: 100%;font-size:16px" class="taskdesc"><b>User Email:
                            </b>{{user.email}}</label>
                        <br>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="column" fxLayoutAlign="start start"></div>
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div style="display: inline-block;">
                                <button style="width:90px" mat-raised-button (click)="closePopUp()">Close</button>
                                <label>&nbsp;</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>