.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  overflow: auto;
  pointer-events: auto;  
}

.mat-dialog-title{
  padding: 5px;
  height: 4px;
  height: auto !important;
}

.mat-dialog-content {
  text-align: center;
  height: auto !important;
  margin: 2px;
  background-color: #ffffff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  //min-width: 100px;
  margin: 2px;
  flex-flow: row wrap;
  overflow-y: auto !important;
}

.container {
  flex: 1 1 auto;
  flex-flow:row wrap;
  display: flex;
  flex-direction: column;
	flex-wrap: wrap;
  align-items:center;
  overflow-y: auto !important;
  height: auto;
  //position: relative;
  //min-width: 1000px;
  //margin: 1px !important;
}

.container > * {
  width: 100%;
  height: 100%;
  overflow-y: auto !important;
}

.form {
  display: flex;
  margin: 5px;
  margin-top:5px;
  padding-top: 5px;
  display: inline-block;
}

.mat-form-field {
  font-size: 13px;
  flex-grow: 1;
  display: inline-block;
}

.matPrefix {
  margin-right:5px;
  display: inline-flex;
}

.mat-raised-button{
  //height: 10% !important;
  max-height: 10% !important;
  width: 80px;
  text-align: center;
  align-items: center;
  padding: 1px !important;
  border-radius: 7px;
  margin: 2px;
}

.rectangle {
  height: auto;
  width: 60vw;
  border-radius: 8px;
  background-color: #FFF;
  overflow: visible;
  //flex:1 1 70%;
}
.descbox{
  flex-wrap: wrap;
  min-width: 100%;
  //min-height: 100%;
  color: #6B6D6F;
  font-family: "Roboto, "Helvetica Neue", sans-serif";
  font-size: 14px;
  line-height: 16px;
  overflow-y: auto !important;
  overflow-x: hidden;
  min-height: 100px; 
  overflow-y: auto;  
}
.taskdesc {
  height: 16px;
  width: 100%;
  color: #6B6D6F;
  font-family: "Roboto, "Helvetica Neue", sans-serif";
  font-size: 14px;
  line-height: 16px;
  margin: 5px;
}
.fclass {
  height: auto;
  width: 60vw;
  color: #6B6D6F;  
  font-family: "Roboto, "Helvetica Neue", sans-serif";
  font-size: 18px;
  line-height: 20px;
  //font-weight: bold;
}
.linkclass{
  font-family: "Roboto, "Helvetica Neue", sans-serif";
  font-size: 12px;
  width: 80%;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  //color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  margin: 5px;
  background-color: #fff;
  border-radius: 7px;
  width: 100%;
}

.red-snackbar{
  background-color: rgb(153, 50, 50);
  color:lightgoldenrodyellow;
}

.exportxlsxbutton{
  border-color: none !important;
  border-style: none !important;
  border-radius: 7px;
  //background-image: url('../../../../assets/images/EXCEL-ICON.png');
  //background-size: auto;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;

}

.exportxlsxbutton2{
  width: 50px;
  height: auto;
  padding: 0;
  margin: 0;

}

.divcontent{
 text-align: left;
 position: relative;
 justify-content: left;
 border-color: #26303a;
 border-width: 1.2px;
 background-color: #ffffff;
 border-radius: 7px;
 min-width: 280px;
 max-width: 300px;
 min-height:140px;
 margin: 2px;
}

.textarea{
  margin: 2px;
  border-radius: 7px;
  //border-style: solid;
  //border-spacing: 1px;
  border-color: #9e9e9e;
  //text-align: center;
  //height: auto !important;
  min-height: 20px;
  width: 100%;
  background-color: #ffffff;
}

.CommentButton{
  width:100%;
  align-items: center;
  justify-content: center;
  margin: 3px;
}