.container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    //position: relative;
    //min-width: 1000px;
    //margin: 1px !important;
    width: 100%;
    height:120% !important;
    //height: auto;
  }
  
  .form {
    display: flex;
    margin: 5px;
    margin-top:5px;
    padding-top: 5px;
    //display: inline-block;
    //width: 100%;
  }
  
  ::ng-deep .mat-input-wrapper{
    width:100% !important;
    height:120% !important;
  }
  
  .mat-form-field {
    font-size: 13px;
    flex-grow: 1;
    display: inline-block;
  }
  
  .matPrefix {
    margin-right:3px;
    display: inline-flex;
  }
  
  .mat-raised-button .mat-focus-indicator .mat-button-base{
    height: 30% !important;
    width: 43% !important;
    text-align: center;
    align-items: center;
    padding: 1px !important;
  }
  
  .mat-dialog-title{
    padding: 5px;
    height: 4px;
    //height: auto !important;
  }
  
  .mat-dialog-content {
    //overflow-y: hidden;
    padding: 10px;
    margin: 5px;
    text-align: center;
  }
  
  ::ng-deep .mat-dialog-container .mat-dialog-content { 
    //height: 750px !important;
    max-height: 75vh;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    min-width: 96px;
    margin: 2px;
    flex-flow: row wrap;
    height: auto !important;
  }
  
  .mat-form-field {
    font-size: 13px;
    flex-grow: 1;
    display: inline-block;
  }
  
  .matPrefix {
    margin-right:5px;
    display: inline-flex;
  }
  
  .mat-raised-button{
    height: 30% !important;
    width: 49%;
    text-align: center;
    align-items: center;
    padding: 1px !important;
  }
  
  .mat-dialog-actions {
    //overflow-y: hidden;
    //overflow-x: hidden;
    text-align: center;
    align-items: center;
    flex: flex-warp;
    width: 50% !important;
    height: 50% !important;
    flex-wrap: unset !important;
    margin-bottom:7px;
  }
  
  .mat-header-cell {
    color: black;
    text-align: center !important;
    align-items: center !important;
  }
  
  .mat-cell {
    text-align: center;
    justify-content: center;
  }
  
  .checkbox {
    margin: 0 12px;
  }
  
  .description{
  width: 400px ;
  text-align: center;
  }
  
  .mat-icon{
    margin: 5px;
  }