<div class="container">
  <h3 mat-dialog-title>Add new Task</h3>

  <form class="mat-dialog-content" [formGroup]="addForm" (ngSubmit)="submit" #formControl="ngForm" fxLayout="column">
    <div class="flex-container" fxLayout="row wrap" fxLayoutGap="3%" fxLayoutAlign="space-around center">

      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Name</mat-label>
          <input matInput #inputname formControlName="name" placeholder="Name" [(ngModel)]="data.name" name="name"
            maxlength="80" minlength="5" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputname.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </div>

      <div class="form description">
        <mat-form-field color="accent">
          <textarea matInput #inputDescription type="text" cdkTextareaAutosize cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="6" formControlName="description" placeholder="Description"
            [(ngModel)]="data.description" name="description" maxlength="1000" minlength="10" style="min-height: 0px;" required></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputDescription.value?.length || 0}}/1000</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="number" formControlName="daysToDelay" placeholder="Estimated Duration"
            [(ngModel)]="data.daysToDelay" name="daysToDelay" required>
          <mat-hint align="begin">Estimated Duration in days to complete</mat-hint>
        </mat-form-field>
      </div>

     <div class="form">
        <mat-form-field color="accent">
          <input matInput type="text" formControlName="docName" placeholder="Doc name" [(ngModel)]="data.docName"
            name="docName">
            <mat-hint align="begin">Required if you configure doclink field</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="url" formControlName="docLink" placeholder="docLink" [(ngModel)]="data.docLink"
            name="docLink">
        </mat-form-field>
      </div>
     
      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="text" formControlName="videoName" placeholder="Video name" [(ngModel)]="data.videoName"
            name="videoName">
            <mat-hint align="begin">Required if you configure Video Link field</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="url" formControlName="videoLink" placeholder="Video Link"
            [(ngModel)]="data.videoLink" name="videoLink">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="text" formControlName="folderName" placeholder="Folder name"
            [(ngModel)]="data.folderName" name="folderName">
            <mat-hint align="begin">Required if you configure Folder Link field</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="url" formControlName="folderLink" placeholder="Folder Link"
            [(ngModel)]="data.folderLink" name="folderLink">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="text" formControlName="siteName" placeholder="Site name" [(ngModel)]="data.siteName"
            name="siteName">
            <mat-hint align="begin">Required if you configure Site Link field</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="url" formControlName="siteLink" placeholder="Site Link"
            [(ngModel)]="data.siteLink" name="siteLink">
        </mat-form-field>
      </div>
    
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column" fxLayoutAlign="start start"></div>
      <div fxLayout="column" fxLayoutAlign="start start">
          <div style="display: flex;">
              <button style="width:110px" [type]="submit" [disabled]="!formControl.valid" mat-raised-button
                  (click)="confirmAdd()">Save</button>

              <label>&nbsp;</label>
              <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
              <label>&nbsp;</label>
              <button mat-raised-button (click)="reset()" tabindex="-1">Reset Form</button>
          </div>
      </div>
  </div>
  </form>
</div>