<mat-dialog-content>
    <div *ngIf="!pauseResumeProcess">
        <div *ngIf="!loading && !successfull">
            <div *ngIf="newVersionMessage" style="text-align: left; "> Note! The workflow has been updated with the new iCIF Process</div>
            <br>
            <div style="text-align: left; ">Dear user you are going to start process <b>{{description}} </b></div>
            <br>
            <br>
            <div style="text-align: left; ">Select Process Start date &nbsp;
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" [min]="today" placeholder="Choose a date"
                        [(ngModel)]="startdate" style="font-size:15px">
                    <mat-datepicker-toggle style="font-size: 20px;" matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <br>
            <br>
            <div style="text-align: left; "> Do you want to proceed ?</div>
            <br>
            <br>
        </div>


        <div *ngIf="!loading && !successfull" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start"></div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div style="display: inline-block;">
                    <label>&nbsp;</label>
                    <button mat-raised-button (click)="start()">Yes</button>
                    <label>&nbsp;</label>
                    <button mat-raised-button (click)="close()">No</button>
                </div>
            </div>
        </div>



        <div *ngIf="!loading && successfull" style="width: 400px;height: 100%;overflow-y: hidden;">

            <div>

                <span>Starting of Process <b>{{description}} </b> is successfull </span>
                <br>
                <br>
                <span> Process Start Date :- <b> {{startdate}}</b></span>
                <br>

                <br>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="start start"></div>
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div style="display: inline-block;">
                        <label>&nbsp;</label>
                        <button mat-raised-button (click)="finalClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="pauseResumeProcess">

        <div *ngIf="!loading && !successfull">

            <div style="text-align: left; ">Dear user you are going to {{pauseResume}} process <b>{{description}} </b></div>
            <br>
            <br>
            <div style="text-align: left; ">Process {{pauseResume}} date: &nbsp;{{todayDate}}
                
            </div>
            <br>
            <br>
            <div style="text-align: left; "> Do you want to proceed ?</div>
            <br>
            <br>
        </div>

        <div *ngIf="!loading && !successfull" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxLayoutAlign="start start"></div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div style="display: inline-block;">
                    <label>&nbsp;</label>
                    <button mat-raised-button (click)="pauseOrResume()">Yes</button>
                    <label>&nbsp;</label>
                    <button mat-raised-button (click)="close()">No</button>
                </div>
            </div>
        </div>

        <div *ngIf="!loading && successfull" style="width: 400px;height: 100%;overflow-y: hidden;">

            <div>

                <span> Process <b>{{description}} </b>  {{pauseResume}} is successfull </span>
                <br>
                <br>
                <span> Process  {{pauseResume}} Date :- <b> {{todayDate}}</b></span>
                <br>

                <br>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="start start"></div>
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div style="display: inline-block;">
                        <label>&nbsp;</label>
                        <button mat-raised-button (click)="pauseResumeClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</mat-dialog-content>

<div *ngIf="loading" style="width: 300px;height: 300px;overflow-y: hidden;">
    <div style="height: 100vh;margin-left:30% ; margin-top: 25%;">
        <mat-progress-spinner mode="indeterminate" color="accent"> </mat-progress-spinner>
        <br>
        &nbsp; &nbsp; <b>Please Wait ...</b>
    </div>
    <div style="margin-left:45%"></div>
</div>