.comment-block .user-div .user-profile{
    padding: 13px 18px;
    background: #f3f3f3;
    border-radius: 50%;
    border: 1px solid #adb5bd;
}
.comment-block .user-div{
    text-align: center;
}

.comment-block .right-section{
    padding-left: 0px;
}
.comment-block .right-section .para1{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: 0px;
    padding-bottom: 3px;
}

.comment-block .right-section .para2{
    margin: 0px;
    font-size: 12px;
    letter-spacing: 0.2px;
    font-weight: 700;
    padding-bottom: 3px;
    
}

.comment-block .right-section .para3{
    font-size: 11px;
    padding-bottom: 3px;    
    letter-spacing: 0.2px;
    color: grey;
    margin: 0px;
}
.comment-block .comment-section{
    padding: 10px 5px;
    margin-bottom: 10px;
}
.comment-block .comment-heading{
    margin: 5px 0px;
}

.comment-block .comment-heading .p1{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.comment-block .comment-heading .p2{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
}

.comment-block .comment-block{
    padding: 2em 3em;
    border: 1px solid #979797;
    border-radius: 6px;
}

.container-fluid.card.comment-block {
    position: absolute;
    width: 50%;
    right: 27px;
    top: 268px;
}

.container-fluid.card.comment-block {
    height: 705px;
}


.container-fluid.card.comment-block {
   
    margin-right: 5%;
     right: 13px;
     margin-top: -63px;
    margin-bottom: 10px;
    height: 60%;
    width: 36%;
}

.container-fluid.card.comment-block {
    overflow-y: auto;
}

p.para1 {
    font-size: 20px;
    color: teal;
}