<div class="container">
  <h3 mat-dialog-title>Task Id: {{data.taskId}}</h3>

  <mat-dialog-content class="mat-typography">

    <form class="mat-dialog-content" [formGroup]="editForm" (ngSubmit)="submit" #formControl="ngForm" fxLayout="column">

      <div class="flex-container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="space-around center">
        <!--
        <div class="form">
          <mat-form-field color="accent">
            <input matInput class="taskId" #input formControlName="taskId" placeholder="taskId" [(ngModel)]="data.taskId" [disable]="true"
              name="taskId">
          </mat-form-field>
        </div>
-->
        <div class="form name">
          <mat-form-field color="accent">
            <input matInput class="name" #input formControlName="name" placeholder="Name" [(ngModel)]="data.name"
              name="name" required>
            <!--<mat-error *ngIf="editForm.invalid">{{getErrorMessage()}}</mat-error>-->
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent" fxFlex>
            <mat-label>Select type task</mat-label>
            <mat-icon matPrefix>category</mat-icon>
            <mat-select formControlName="type" [(ngModel)]="data.type.id" name="type">
              <mat-option *ngFor="let type of typetasks" [value]="type.id">{{type.name}}</mat-option>
            </mat-select>
            <mat-hint>Type of tasks</mat-hint>
          </mat-form-field>
        </div>

        <!--<div class="form">
          <mat-form-field color="accent">
            <input matInput formControlName="type" placeholder="Type" [(ngModel)]="data.type" name="type">
          </mat-form-field>
        </div>-->

        <div class="form description">
          <mat-form-field color="accent">
            <textarea matInput class="description" #inputDescription type="text" formControlName="description"
              placeholder="Description" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="6"
              [(ngModel)]="data.description" name="description" minlength="10">
          </textarea>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="number" formControlName="durationInDays" placeholder="Duration in days"
              [(ngModel)]="data.durationInDays" name="durationInDays">
          </mat-form-field>
        </div>

      <!--<div class="form">
      <mat-form-field color="accent">
        <input matInput type= "number" formControlName="procId" placeholder="procId" [(ngModel)]="data.procId" name="procId" readonly>
      </mat-form-field>
      </div>-->

        <div class="form">
          <mat-form-field color="accent" fxFlex>
            <mat-label>Process</mat-label>
            <mat-select formControlName="procId" [(ngModel)]="Selectprocesses[0].id" name="procId"
              [attr.disabled]="true">
              <mat-option *ngFor="let procId of Selectprocesses" [value]="procId.id">{{procId.name}}</mat-option>
            </mat-select>
            <mat-hint>Process of the workflow</mat-hint>
          </mat-form-field>
        </div>
        
        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="number" formControlName="sequenceNumber" placeholder="SequenceNumber"
              [(ngModel)]="data.sequenceNumber" name="SequenceNumber">
              <mat-hint>Task sequence number into the process</mat-hint>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="number" formControlName="subTasks" placeholder="subTasks" [(ngModel)]="data.subTasks"
              name="subTasks">
            <!--<mat-select formControlName="subTasks" [(ngModel)]="data.subTasks" name="subTasks">
              <mat-option *ngFor="let subTasks of SubTasks" [value]="subTasks">{{subTasks}}</mat-option>
            </mat-select>-->
            <mat-hint>SubTasks into the process selected</mat-hint>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <mat-select formControlName="sprint" [(ngModel)]="data.sprint" name="sprint" placeholder="Sprint id">
              <mat-option *ngFor="let sprint of AllSprint" [value]="sprint">{{sprint}}</mat-option>
            </mat-select>
            <mat-hint>Sprint into the process selected</mat-hint>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="text" formControlName="docName" placeholder="Doc name" [(ngModel)]="data.docName" name="docName">
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="text" formControlName="docLink" placeholder="docLink" [(ngModel)]="data.docLink"
              name="docLink">
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="text" formControlName="videoName" placeholder="Video name" [(ngModel)]="data.videoName"
              name="videoName">
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="text" formControlName="videoLink" placeholder="videoLink"
              [(ngModel)]="data.videoLink" name="videoLink">
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="text" formControlName="folderName" placeholder="Folder name"
              [(ngModel)]="data.folderName" name="folderName">
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="text" formControlName="folderLink" placeholder="folderLink"
              [(ngModel)]="data.folderLink" name="folderLink">
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="text" formControlName="siteName" placeholder="Site name" 
            [(ngModel)]="data.siteName" name="siteName">
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="text" formControlName="siteLink" placeholder="siteLink"
              [(ngModel)]="data.siteLink" name="siteLink">
          </mat-form-field>
        </div>

        <div class="form" fxFlex="40">
          <mat-form-field color="accent" fxFlex>
            <mat-label>Select Role</mat-label>
            <mat-icon matPrefix>verified_user</mat-icon>
            <mat-select formControlName="roles" [(ngModel)]="selectedRoles" multiple name="roles"
              (selectionChange)="onChangeRoles($event)">
              <mat-option *ngFor="let roles of roles" [value]="roles.id">{{roles.name}}</mat-option>
            </mat-select>
            <mat-hint>User role permisions</mat-hint>
          </mat-form-field>
        </div>

        <div class="form">
          <!--<mat-form-field color="accent">-->
          <mat-checkbox class="checkbox" color="accent" formControlName="mandatory" labelPosition="before"
            name="mandatory" [checked]="data.mandatory" [(ngModel)]="data.mandatory"
            (change)="isActiveMandatory(data.mandatory)">
            Mandatory:
          </mat-checkbox>
          <!--</mat-form-field>-->
        </div>

        <!--<div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="mandatory" placeholder="Mandatory" [(ngModel)]="data.mandatory"
            name="mandatory">
        </mat-form-field>
        
      </div>
    [(checked)]="data.mandatory"
    -->

        <div class="form">
          <mat-checkbox class="checkbox" color="accent" formControlName="active" labelPosition="before" name="active"
            [checked]="data.active" [(ngModel)]="data.active" (change)="isActivetask(data.active)">
            Active:
          </mat-checkbox>
        </div>

        <!--
    <div class="form" fxFlex="40">
      <mat-form-field color="accent" fxFlex>
        <mat-label>Select Role</mat-label>
        <mat-icon matPrefix>verified_user</mat-icon>  
        <mat-select formControlName="roles" [(ngModel)]="selectedRoles" multiple name="roles">
            <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}</mat-option>
          </mat-select>
        <mat-hint>User role permisions</mat-hint>
      </mat-form-field>
    </div>

  </div>
  <!--<div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="space-around center">
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </div>-->

      </div>
      <div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%"
        fxLayoutAlign="space-around center">
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid"
            [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
          <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
          <!--<button mat-raised-button (click)="reset()" tabindex="-1">Reset</button>-->
        </div>
      </div>

    </form>
  </mat-dialog-content>
</div>