<div style="font-family: auto !important;">
<span>Dear iCIF User Community,
<br>
<span></span>
<br>
<span>A new version (v6) of the landing page had been released.
<br>
 The main features are:
 <br>
    <ul>
        <li>Competency framework dashboard</li>
        <li>Updated look & feel aligned with the new Holcim brand</li>
     </ul>
</span>

<span>For more information go to the release notes tab. <a class="snackbar-link" href="https://docs.google.com/document/d/1DSiZFpYzVSEpKLeaB-H-6DPLwtZr4KM8PSIs33TR_pE/edit?usp=sharing" target="_blank">here</a></span>
<br>
</span>
</div>
<br>
<a (click)="closeSnackBar()" color="warn" style="bottom: 0; right:0;position:absolute;color:#d84848;font-family: auto;">Close this message</a>

