<!--Main Navigation-->
<header *ngIf=!loginRedirection class="intro-header">
  <!--Navbar-->
  <!--<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light mdbWavesEffect"
        style="background-image:url('assets/images/truckiconCIF.png');"></a>
      <img  class="img-fluid waves-light mdbWavesEffect" href="#" src="/src/assets/icon.png">
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#">Profile</a>
        </li>
      </ul>
      <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </links>
  </mdb-navbar>-->
  <!--Intro Section-->
  <section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient wow">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height w-100">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="text-center text-md-left mb-5">
              <!--  <div class="white-text">
                <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.5s">Cif Registration
                </h2>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.5s">
                <h6 class="wow fadeInLeft" data-wow-delay="0.5s">
                  For request access to CIF, open a service now requesting this to next button.
                </h6>
                <br>
                <a mdbBtn color="white" outline="false" class="wow fadeInLeft waves-light" data-wow-delay="0.5s"
                  mdbWavesEffect>NewsLetter</a>
              </div>
            </div>
            <div class="col-md-6 col-xl-5 offset-xl-1">
              <!--Form-->
              <mdb-card class="box">
                <mdb-card-body fxflex>
                  <div fxLayout="column" fxLayoutAlign="space-around center" [@divState]="stateNames">
                    <H2>Cement Industrial Framework</H2>
                    <button mat-button mdbWavesEffect (click)="backendlogin()" style="padding: 1rem;">
                      <img class="logo" text-align="center" src="../../assets/LH_Master_sRGB.jpg" width="450"
                        height="290" alt="">
                    </button>
                    <!--Header-->
                    <!-- <div class="text-center">
                    <h3 class="white-text">
                      <mdb-icon fas icon="user" class="text-white"></mdb-icon> Register:
                    </h3>
                    <hr class="hr-light">
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="user" class="text-white active prefix"></mdb-icon>
                    <input type="text" id="form1" class="text-white form-control" mdbInput>
                    <label for="form1" class="text-white">Your name</label>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="envelope" class="text-white active prefix"></mdb-icon>
                    <input type="email" id="form2" class="text-white form-control" mdbInput>
                    <label for="form2" class="text-white">Your email</label>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="lock" class="text-white active prefix"></mdb-icon>
                    <input type="password" id="form3" class="text-white form-control" mdbInput>
                    <label for="form3" class="text-white">Your password</label>
                  </div>-->
                    <!--<button mdbBtn color="white" mdbWavesEffect>Sign up</button> or -->
                    <button mat-button mdbWavesEffect (click)="backendlogin()" style="padding: 1rem;">
                      <!--<mat-icon style="width: 50px; height:30px" svgIcon="logo"></mat-icon>-->
                      Login With Google
                    </button>
                  </div>
                </mdb-card-body>
              </mdb-card>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>