.intro-header {
  height: unset !important;
  height: 0px;
}
.intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg") no-repeat center center;
  //background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg")no-repeat center center;
  background-size: cover;
}
.view {
  height: 100vh !important;
}
.top-nav-collapse {
  background-color: #006982 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
  height: 3px;
  padding: 2px;
}

.btn-white {
  color: black !important;
}
.label {
  color: black;
}
/*
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background:#006982 !important;
    }
  }
  .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
    height: 100%;
  }       

  .card {
    //background-color: rgba(229, 228, 255, 0.2);
    //color: #006982;
      height:400px;
      width: 470px;
  }
*/

//  .mat-card-body .card-body{
//color:#006982;
// }

.md-form .prefix {
  font-size: 1.2rem;
  color: #006982;
  margin-right: 15px;
}

.md-form .label {
  color: #006982;
}

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  }
}

h2 {
  padding: 5px;
  margin: 5px;
  color: #838383;
  text-align: center;
  align-items: center;
}

h6 {
  color: #838383;
}

h3 {
  line-height: 1.7;
  color: #838383;
}

div {
  color: #838383;
}

a {
  color: #838383 !important;
}

.mat-card-body {
  // color: #006982 !important;
  background-color: black;
}
.text-center{
  height: 10em;
  left: 2%;
  margin-right: -2%;
  position: relative;
}

.box{
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.logo {
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

//.card-body {
  //color: #006982 !important;
  //background-color: #0288aa;
  //opacity: 0.5;
//}

.img-fluid {
  //max-width: 100% !important;
  width: auto;
  height: auto;
  display: flex;
}

.background {
  background-color: #838383;
}

.article {
  background: #838383;
}
p {
  font-family: Lato;
}

.fs-Logo {
  width: 150px;
  height: 150px;
  fill: red;
}

.mat-icon {
  fill: red;
}
