.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}


.mat-raised-button{
  height: 30% !important;
  width: 49%;
  text-align: center;
  align-items: center;
  padding: 1px !important;
}

.mat-icon{
  margin: 5px;
}