<div class="container">
  <h3 mat-dialog-title>Add new User</h3>

  <form class="mat-dialog-content" [formGroup]="addForm" (ngSubmit)="submit()" novalidate="" #formControl="ngForm"
    fxLayout="column">
    <!--<form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm"></form>-->

    <div class="flex-container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="space-around center">
      <!--      <div class="form">
        <mat-form-field color="accent">
          <mat-icon matPrefix>event</mat-icon>
          <input matInput [readonly]="true" formControlName="createDate" [(ngModel)]="data.createDate" name="createDate"
            [value]="todayDate">
        </mat-form-field>
      </div>
  
  <div class="form">
    <div *ngIf="data.name">
      <ngx-avatar name={{data.name}} value="100%" size="80" [round]="true"></ngx-avatar>
    </div>
  </div>
-->
      <!--  <div class="form" fxFlex="30">
      <mat-form-field color="accent" fxFlex>
        <input matInput disabled class="form-control" placeholder="photo profile" [(ngModel)]="data.imageUrl" name="imageUrl">
      </mat-form-field>
    </div>
    -->
      <!--<img src="{{data.imgPath || 'assets/img/empty.png'}}" >-->
      <div class="form">
        <mat-form-field color="accent">
          <mat-icon matPrefix>person</mat-icon>
          <input matInput #inputname formControlName="name" placeholder="name" [(ngModel)]="data.name" maxlength="50"
            [ngClass]="{'is-invalid': !addForm.get('name').valid}">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputname.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
        <div *ngIf="addForm.controls['name'].errors?.required" class="invalid-feedback">
          The name its a field requested
        </div>
        <div *ngIf="addForm.controls['name'].errors?.minlength" class="invalid-feedback">
          3 caracters at lest
        </div>

      </div>
      <div class="form">
        <mat-form-field color="accent">
          <mat-icon matPrefix>email</mat-icon>
          <input matInput #inputemail type="email" formControlName="email" placeholder="email" [(ngModel)]="data.email"
            maxlength="60" minlength="20" name="email">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputemail.value?.length || 0}}/60</mat-hint>
          <!-- <mat-hint>Only domain @lafargeholcim.com is valid</mat-hint> -->
        </mat-form-field>
        <!--<mat-form-field color="accent" fxFlex="40">
        <input matInput [readonly]="true" class="form-control" [value]="defaultemail">
      </mat-form-field>-->
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-icon matPrefix>perm_contact_calendar</mat-icon>
          <input matInput formControlName="sapUserId" placeholder="SAP ID" [(ngModel)]="data.sapUserId"
            name="sapUserId">
          <mat-hint>Login ID for SAP</mat-hint>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <!--datos de provider-->
      <div class="form hidden" [hidden]="true">
        <mat-form-field color="accent" fxFlex [hidden]="true">
          <input matInput disabled formControlName="provider" placeholder="provider" [(ngModel)]="data.provider"
            name="provider" value="google">
          <mat-hint>provider</mat-hint>
        </mat-form-field>
      </div>
      <!--datos de emailVerified class="form-control"-->
      <div class="form hidden" [hidden]="true">
        <mat-form-field color="accent" fxFlex [hidden]="true">
          <input matInput formControlName="emailVerified" placeholder="emailVerified" [(ngModel)]="data.emailVerified"
            name="emailVerified" value="true">
          <mat-hint>emailverified</mat-hint>
        </mat-form-field>
      </div>

      <div class="form" fxFlex="40">
        <mat-form-field color="accent">
          <mat-label>Roles selection</mat-label>
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-select formControlName="roles" [(ngModel)]="data.roles" name="roles" >
            <mat-option class="selectionlist" *ngFor="let role of roles" [value]="[role]">{{role.name}}</mat-option>
          </mat-select>
          <mat-hint>User role permisions</mat-hint>
        </mat-form-field>
      </div>
      <div class="form" fxFlex="40">
        <mat-form-field color="accent" class="select-form">
          <mat-label>Plants selection</mat-label>
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-select #select formControlName="plants" [(ngModel)]="data.plants" name="plants" multiple>
            <div class="select-all">
              <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                (change)="toggleAllSelection()">Select All</mat-checkbox>
            </div>
            <!--<mat-option #allPlants (click)="selectAll()" [value]="0">All Plants</mat-option>-->
            <mat-option class="selectionlist" *ngFor="let plant of plants" [value]="plant">
              {{plant.name}}</mat-option>
          </mat-select>
          <mat-hint>User Plants</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%"
      fxLayoutAlign="space-around center">
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
          (click)="confirmAdd()">Save</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        <button mat-raised-button (click)="reset()" tabindex="-1">Reset</button>
      </div>

    </div>
  </form>
</div>