<div class="container">
  <h3 mat-dialog-title>Add new Task</h3>

  <form class="mat-dialog-content" [formGroup]="addForm" (ngSubmit)="submit" #formControl="ngForm" fxLayout="column">
    <div class="flex-container" fxLayout="row wrap" fxLayoutGap="3%" fxLayoutAlign="space-around center">

      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Name</mat-label>
          <input matInput #inputname formControlName="name" placeholder="Name" [(ngModel)]="data.name" name="name"
            maxlength="80" minlength="5" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputname.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </div>

      <!--<div class="form">
        <mat-form-field color="accent">
          <mat-label>Type</mat-label>
          <input matInput formControlName="type" placeholder="Type" [(ngModel)]="data.type" name="type">
        </mat-form-field>
      </div>-->

      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-label>Select type task</mat-label>
          <mat-icon matPrefix>category</mat-icon>
          <mat-select formControlName="type" [(ngModel)]="typeVal" name="type">
            <mat-option *ngFor="let typetask of typetasks" [value]="typetask.id">{{typetask.name}}</mat-option>
          </mat-select>
          <mat-hint>Type of tasks</mat-hint>
        </mat-form-field>
      </div>

      <div class="form description">
        <mat-form-field color="accent">
          <textarea matInput #inputDescription type="text" cdkTextareaAutosize cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="6" formControlName="description" placeholder="Description"
            [(ngModel)]="data.description" name="description" maxlength="1000" minlength="10"></textarea>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputDescription.value?.length || 0}}/1000</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="number" formControlName="durationInDays" placeholder="Duration in days"
            [(ngModel)]="data.durationInDays" name="durationInDays">
          <mat-hint align="begin">Duration days to complete</mat-hint>
        </mat-form-field>
      </div>
      
      <!--<div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="procId" placeholder="procId" [(ngModel)]="data.procId" name="procId">
        </mat-form-field>
      </div>-->

      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-label>Process</mat-label>
          <mat-select formControlName="procId" [(ngModel)]="procId" name="procId">
            <mat-option *ngFor="let procId of Selectprocesses" [value]="procId.id">{{procId.name}}</mat-option>
          </mat-select>
          <mat-hint>Process of the workflow</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="number" formControlName="sequenceNumber" placeholder="SequenceNumber"
            [(ngModel)]="data.sequenceNumber" name="SequenceNumber">
            <mat-hint>Task sequence number into the process</mat-hint>
        </mat-form-field>
      </div>
      <!--
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="subTasks" placeholder="subTasks" [(ngModel)]="data.subTasks" name="subTasks">
        </mat-form-field>
      </div>
      -->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="subTasks" placeholder="subTasks" [(ngModel)]="data.subTasks" name="subTasks">
          <mat-hint>SubTasks into the process selected</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-select formControlName="sprint" [(ngModel)]="data.sprint" name="sprint" placeholder="Sprint id">
            <mat-option *ngFor="let sprint of AllSprint" [value]="sprint">{{sprint}}</mat-option>
          </mat-select>
          <mat-hint>Sprint into the process selected</mat-hint>
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="text" formControlName="docName" placeholder="Doc name" [(ngModel)]="data.docName"
            name="docName">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="url" formControlName="docLink" placeholder="docLink" [(ngModel)]="data.docLink"
            name="docLink">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="text" formControlName="videoName" placeholder="Video name" [(ngModel)]="data.videoName"
            name="videoName">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="url" formControlName="videoLink" placeholder="videoLink"
            [(ngModel)]="data.videoLink" name="videoLink">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="text" formControlName="folderName" placeholder="Folder name"
            [(ngModel)]="data.folderName" name="folderName">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="url" formControlName="folderLink" placeholder="folderLink"
            [(ngModel)]="data.folderLink" name="folderLink">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="text" formControlName="siteName" placeholder="Site name" [(ngModel)]="data.siteName"
            name="siteName">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput type="url" formControlName="siteLink" placeholder="siteLink"
            [(ngModel)]="data.siteLink" name="siteLink">
        </mat-form-field>
      </div>

      <!--
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-label>Select Process</mat-label>
          <mat-icon matPrefix>category</mat-icon>
          <mat-select formControlName="type" [(ngModel)]="data.type" multiple name="type">
            <mat-option *ngFor="let typetask of typetasks" [value]="typetask.id">{{typetask.name}}</mat-option>
          </mat-select>
          <mat-hint>Type of tasks</mat-hint>
        </mat-form-field>
      </div>
      -->

      <!--<div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="roles" placeholder="roles" [(ngModel)]="data.roles" name="roles">
        </mat-form-field>
      </div>-->

      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-label>Select Role</mat-label>
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-select formControlName="roles" [(ngModel)]="data.roles" multiple name="roles">
            <mat-option *ngFor="let roles of roles" [value]="roles.id">{{roles.name}}</mat-option>
          </mat-select>
          <mat-hint>User role permisions</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <!--<mat-form-field color="accent">-->
        <mat-checkbox class="checkbox" color="accent" formControlName="mandatory" labelPosition="before"
          name="mandatory" [checked]="data.mandatory" [(ngModel)]="data.mandatory"
          (ngModelChange)="isActiveMandatory($event)">
          Mandatory:
        </mat-checkbox>
        <!--</mat-form-field>-->
      </div>

      <div class="form">
        <!--<mat-form-field color="accent">-->
        <mat-checkbox class="form checkbox" formControlName="active" labelPosition="before" [(ngModel)]="data.active"
          name="active" (ngModelChange)="isActivetask($event)" [checked]="data.active">
          Active:
        </mat-checkbox>
        <!--</mat-form-field>-->
      </div>

      <!--<div class="form">
        <mat-form-field color="accent">
          <input matInput formControlName="isActive" placeholder="Activated:" [(ngModel)]="data.isActive"
            name="isActive" labelPosition="before">
        </mat-form-field>
      </div>-->

      <!--      <div class="form">
            <mat-form-field color="accent">
              <mat-checkbox class="form checkbox" formControlName="isActive" placeholder="isActive"
                [(ngModel)]="data.isActive" name="isActive" (ngModelChange)="isActivetask($event)" labelPosition="before"
                [checked]="data.isActive">{{data.isActive}}
              </mat-checkbox>
            </mat-form-field>
          </div>
    
    </div>
    <!--<div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="space-around center">
        <div mat-dialog-actions>
          <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
          <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
      </div>-->

    </div>
    <div class="actionbar" class="flex-container" fxLayout="column" fxLayoutGap="25%" fxLayoutAlign="center center">
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
          (click)="confirmAdd()">Save</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        <button mat-raised-button (click)="reset()" tabindex="-1">Reset Form</button>
      </div>
    </div>
  </form>
</div>