<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cement Industrial Framework</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!--
<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>Site name</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/about-us">About us</a>
      <a mat-button routerLink="/prices">Prices</a>
      <a mat-button routerLink="/start-page">Start page</a>
      <a mat-button routerLink="/offer">Offer</a>
      <a mat-button routerLink="/contact">Contact</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav position="end" color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/about-us">About us</a>
        <a mat-button routerLink="/prices">Prices</a>
        <a mat-button routerLink="/start-page">Start page</a>
        <a mat-button routerLink="/offer">Offer</a>
        <a mat-button routerLink="/contact">Contact</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      Awesome content
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
-->

<mat-toolbar class="flexSpaceBetween" fxLayout="row" fxLayoutAlign="space-between center">
  <!--<a [routerLink]="['./main-detail']"><img src="../../assets/images/truckiconCIF.png"  style="height: 53px; width: 80px;" /></a>-->
  <a (click) = "goToLinkithPlantCode('/main/main-detail')" Title="Return home"><img src="../../assets/images/ICIF.png"
      style="height: 40px; width: 80px;" /></a>
  <a><button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
  </a>
  <div>
    <mat-form-field name="Select plant" class="selectplant" Title="Plant selection">
      <mat-select placeholder="Select plant" [(ngModel)]="PlantId" (selectionChange)="navigateTo($event.value)"
        [value]="plants[0].name">
        <mat-option *ngFor="let plant of plants" [value]="plant.name">
          {{plant.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <span class="example-spacer"></span>

  <div *ngIf="!loadSearch" fxShow="true" fxHide.lt-md="true">
    <mat-form-field class="Searchbar">
      <!-- <mat-label>Search</mat-label> -->
      <input matInput #searchValue>
      <span  placeholder="Search">
        <mat-icon  placeholder="Search" style="cursor: pointer;" (click)="searchDocument(searchValue.value)" Title="Search engine">
          search
        </mat-icon>
      </span>
    </mat-form-field>
  </div>
  <div style="margin-top: 30px;" *ngIf="loadSearch">
    <p style="font-size: 12px;" class="searchloading">Search Loading</p>

  </div>

  <div fxShow="true" fxHide.lt-md="true" class="companyName" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- <form class="searchbar" style="width: 70px;">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" #searchValue>
        <span>
          <mat-icon style="cursor: pointer;" (click)="searchDocument(searchValue.value)" Title="Search engine">
            search
          </mat-icon>
        </span>
      </mat-form-field>
    </form> -->

    <!--<span><a
      (click)="goToLinkoutplant('https://drive.google.com/drive/folders/1plqcQHkjAC0Yo_wP6e57Bu4qRo7I6Ajl?usp=sharing')"
      class="tip">
      <!--<span><a (click)="goToLinkoutplant('mailto:helpToCIF@lafargeholcim.com?subject=ReqUest Help from CIF&body=Write your requested help here!, Thanks.')"      class="tip">
      <mat-icon class="icon-help" Title="Link for the help documentation content">help</mat-icon>
    </a>
  </span>-->
    <div style="float:right;margin-left: 150px;">
      <button mat-icon-button>
        <a *ngIf="!loading"  (click) = "goToLinkithPlantCode('/main/contact')">
          Contact Us
          <!-- &nbsp;&nbsp;<mat-icon class="icon-help" Title="Contact Us">contact_mail</mat-icon>--> </a>
      </button>
    </div>
    <div>
      <label>&nbsp;</label>
    </div>
    <div style="width:20px">
      <label>&nbsp;</label>
    </div>
    <div *ngIf="!loading" style="margin-left: 170px;">
      <label *ngIf="environment == 'dev'" style="font-size: 14px;background:#ff9900 ;">{{environmentTitle}}</label>
      <label *ngIf="environment == 'test'" style="font-size: 14px;background:#0099ff;">{{environmentTitle}}</label>
      <label *ngIf="environment == 'prod'" style="font-size: 14px;background: #009933;">{{environmentTitle}}</label>
    </div>
    <button mat-raised-button (click)="logout()" class="avatarloginbutton">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div><img mat-card-avatar src={{profile.imageUrl}} onerror="this.src='../../assets/images/favicon.png';">
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-card-subtitle class="emaillogout">
            <div>{{profile.email}}</div>
            <div class="logoutlabel">Logout Account</div>
          </mat-card-subtitle>
        </div>
      </div>
    </button>
  </div>
  <!--</mat-toolbar-row>  opened="true" -->
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="toolsidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize class="panel">
  <mat-sidenav class="right-sidenav-mobile" position="end" color="primary" #toolsidebar fxLayout="column" mode="over" opened="false"
    fxHide.gt-sm="true">
    <div fxLayout="column">
      <a mat-raised-button [routerLink]="['./main-detail']">
        <mat-icon>home</mat-icon>
      </a>
      <form class="searchbar">
        <mat-form-field class="example-full-width">
          <!--<mat-label>Search</mat-label>-->
          <input matInput Title="Search" #searchValue>
          <span>
            <mat-icon style="cursor: pointer;" (click)="searchDocument(searchValue.value)" Title="Search engine">
              search
            </mat-icon>
          </span>
        </mat-form-field>
      </form>
      <a mat-raised-button *ngIf="!loading"  (click) = "goToLinkithPlantCode('/main/contact')" Title="Contact us">
        <mat-icon>email</mat-icon>
      </a>
      <a mat-raised-button (click)="logout()" class="avatarloginbutton">
        <mat-icon>power_settings_new</mat-icon>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <body>
      <!-- <mat-sidenav-container style="zoom: 86%;" autosize> -->
        <mat-sidenav-container class="zoom" autosize>

        <mat-sidenav #sidenav [opened]="screenWidth>790" mode="side" opened role="navigation">
          <!--[opened]="!media.isActive('xs')"-->
          <div *ngIf="!loading && !noUserAccessRole">
            <mat-accordion class="accordion">

              <mat-expansion-panel hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a style="color:black" class="label" (click) = "goToLinkithPlantCode('/main/main-detail')">HOME</a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a>WORKFLOW</a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                  <mat-list-item role="listitem" routerLinkActive="active"><a style="color:black" class="label" (click) = "goToLinkithPlantCode('/main/task')">Workflow</a>
                  </mat-list-item>
                  <!-- <mat-list-item role="listitem" routerLink="./task-assignment" routerLinkActive="active"><a>Task Assingment</a></mat-list-item> -->
                  <mat-list-item role="listitem"  routerLinkActive="active"><a style="color:black" class="label" (click) = "goToLinkithPlantCode('/main/processflow')">Processflow</a>
                  </mat-list-item>
                  <!-- <mat-list-item *ngIf="content.isFacilitatorAdmin" role="listitem" routerLink="./new-task" routerLinkActive="active"><a>Add New Task</a>
                  </mat-list-item> -->
                  <!-- <mat-list-item role="listitem"  routerLinkActive="active"><a style="color:black" class="label" (click) = "goToLinkithPlantCode('/main/ProjectWaves')">Project Waves</a>
                  </mat-list-item> -->
                </mat-list>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a>iCIF MATERIAL</a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                  <mat-list-item role="listitem" class="label"><a class="label"
                      (click)="goToLinkoutplant('https://drive.google.com/file/d/11kLHdiTfMM5-kL-T9Mbh0eh2yBMJ7dp9/view?usp=sharing')">iCIF Intro</a>
                  </mat-list-item>
                  <mat-sublist class="sublist">
                    <span fxFlex="15"></span>
                    <mat-line fxFlex="85"><a class="label"
                      (click)="goToLinkoutplant('https://connect.lafargeholcim.com/cip-pme/cif-mainpage')">
                      iCIF Connect
                    </a></mat-line>
                  </mat-sublist>
                  <br>
                  <mat-list-item role="listitem" class="label"><a class="label"
                      (click)="goToLinkoutplant('https://connect.lafargeholcim.com/cip-pme/icif-dashboard')">
                      Processes Core & Specific <br> </a>
                  </mat-list-item>
                      <br>
                  <mat-list-item role="listitem" class="label"><a class="label"
                      (click)="goToLinkoutplant('https://drive.google.com/file/d/15aWIa4OyAXVObI1-Xxj8jAlunMp4ucN3/view')">CIF
                      Roll Out Manual</a>
                  </mat-list-item>
                      <br>
                  <mat-list-item role="listitem" class="label"><a class="label"
                      (click)="goToLinkoutplant('https://connect.lafargeholcim.com/cip-pme/iCIF-Competency')">iCIF Competency Framework</a>
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a>TOOLS</a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <a (click)="goToLinkWithCodePlant('https://qv.lhinside.com/QvAJAXZfc/opendoc.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&lang=en-US&host=QVS%40Cluster&Select=LB40,')">DashBoard</a>
                  </mat-list-item>
                  <mat-sublist class="sublist">
                    <!--<mat-sublist fxFlex="50"></mat-sublist>-->
                    <span fxFlex="30"></span>
                    <mat-line fxFlex="70"><a class="label"
                      (click)="goToLinkoutplant('https://docs.google.com/presentation/d/17NNgOKVpvn9HfSenGWzz6Ght8PXnDBkbW3KsT_EIh3o/edit?usp=sharing')">
                      User Manual
                      </a></mat-line>
                  </mat-sublist>
                  <!--<mat-list-item role="listitem"><a onClick="window.open('//qv.lhinside.com/QvAJAXZfc/opendoc.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&lang=en-US&host=QVS%40Cluster&Select=LB37,Carboneras')">DashBoard</a></mat-list-item>-->
                  <mat-list-item *ngIf="URLgapAnalyzerLink?.length" role="listitem">
                    <!--<a (click)="goToLinkWithCodePlant('//pact.connectedfactory.info/gap-analyzer?plantName=')">Gap
                      Analyzer</a>-->
                    <a class="item" [href]="URLgapAnalyzerLink"
                      onclick="window.open(this.href,'_blank', 'location=no'); return false;">Gap Analyzer</a>
                      <!--onclick="window.location.href(this.href,'_blank', 'location=no'); return false;">Gap Analyzer</a>-->
                  </mat-list-item>
                  <mat-sublist class="sublist" *ngIf="URLgapAnalyzerLink?.length">
                    <span fxFlex="30"></span>
                    <mat-line fxFlex="70"><a class="label"
                      (click)="goToLinkoutplant('https://docs.google.com/presentation/d/1Nj0lkTPKAQ23YJg_ShyQxeDAYK49AqeNLY-vfE3kTbs/edit?usp=sharing')">
                      User Manual
                      </a></mat-line>
                  </mat-sublist>
                  <mat-list-item *ngIf="URLSmartSheetlink?.length" role="listitem">
                    <!--another type of hide the smartsheetlinkurl-->
                    <!--<mat-list-item [class.disabled]="isSmartsheetURL ? null : true" [ngClass]="isSmartsheetURL ? 'text-decorator' : 'none'" role="listitem"> <!--another type of hide the smartsheetlinkurl-->
                    <a class="item" [href]="URLSmartSheetlink"
                      onclick="window.open(this.href,'_blank', 'location=no'); return false;">Smartsheet</a>
                    <!--<mat-list-item role="listitem"><a (click)="openSite(SiteUrl)">{{URLSmartSheetlink}}Smartsheet</a>-->
                  </mat-list-item>
                  <mat-sublist class="sublist" *ngIf="URLSmartSheetlink?.length">
                    <!--<mat-sublist fxFlex="50"></mat-sublist>-->
                    <span fxFlex="30"></span>
                    <mat-line fxFlex="70"><a class="label"
                      (click)="goToLinkoutplant('https://docs.google.com/presentation/d/1SJNYS6DryiJgHw5gag5jM45DTqFyD5lb8HX--0db_Rw/edit?usp=sharing')">
                      User Manual
                      </a></mat-line>
                  </mat-sublist>
                  <!--<br *ngIf="URLSmartSheetlink?.length">-->
                  <mat-sublist class="sublist" *ngIf="URLSmartSheetlink?.length">
                    <!--<mat-sublist fxFlex="50"></mat-sublist>-->
                    <span fxFlex="30"></span>
                    <mat-line fxFlex="70"><a class="label"
                      (click)="goToLinkoutplant('https://drive.google.com/file/d/1uHAFkq8KVRmutJXEgYquWG5VQ5wZ5V0a/view')">
                      Tutorial Video
                      </a></mat-line>
                  </mat-sublist>
                  <mat-list-item role="listitem">
                    <a class="item" [href]="URLMADIToollink"
                      onclick="window.open(this.href,'_blank', 'location=no'); return false;">Madi tool</a>
                  </mat-list-item>
                  <mat-list-item role="listitem" class="label"><a class="label"
                      onClick="window.open('//connect.lafargeholcim.com/cip-pme/icif-implementation-methodology')">CIF Template &
                      ToolBox</a></mat-list-item>
                  <mat-list-item role="listitem"><a
                      onClick="window.open('https://docs.google.com/spreadsheets/d/1N7NYR7I_pEYu2zAs-sEjp0x7EswVRjADmJX9lQfasm8/edit?usp=drivesdk')">CIF
                      Modular</a></mat-list-item>
                      <mat-sublist>
                        <!--<mat-sublist fxFlex="50"></mat-sublist>-->
                        <span fxFlex="30"></span>
                        <mat-line fxFlex="70"><a class="label"
                          (click)="goToLinkoutplant('https://docs.google.com/presentation/d/1_iAU9EtZ0nt-8CX83ac7cViJM77H3gqqhyLxExSXR5o/edit?usp=sharing')">
                          Introduction to CIF Modular
                          </a></mat-line>
                      </mat-sublist>
                      <mat-list-item role="listitem" routerLink="./DataFolder" routerLinkActive="active"><a>Repository</a>
                      </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
              <!--<mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a>REPORTING</a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list">
              <mat-list-item role="listitem"><a
                  (click)="goToLinkoutplant('https://connect.lafargeholcim.com/cip-pme/cif-implementation')">Progrees
                  report</a></mat-list-item>
              <mat-list-item role="listitem"><a>Benchmarking</a></mat-list-item>
            </mat-list>
          </mat-expansion-panel>
              -->

              <mat-expansion-panel hideToggle disabled>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a style="color:black" class="label" role="listitem" routerLink="./leader-board" routerLinkActive="active">PERFORMANCE LEADERBOARD </a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a>Release Notes</a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <a style="font-family: auto;" (click)="goToLink('https://docs.google.com/document/d/1KbFRnAO0-8glZBIvV1nmeXzEPZjFxPSBfytBvLYXWJY/edit?usp=sharing')">30th December 2020</a>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <a style="font-family: auto;" (click)="goToLink('https://docs.google.com/document/d/1QEUFqCLcscEeP5XiTWzcwebxQN6bbvZPMNNmKAVvniU/edit?usp=sharing')">24th February 2021</a>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <a style="font-family: auto;" (click)="goToLink('https://docs.google.com/document/d/1uhRfTl7gM2PSi-K8dLnYFyOSgJpKzsYR_f1NBNhgtY4/edit?usp=sharing')">19th May 2021</a>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <a style="font-family: auto;" (click)="goToLink('https://docs.google.com/document/d/1DSiZFpYzVSEpKLeaB-H-6DPLwtZr4KM8PSIs33TR_pE/edit?usp=sharing')">9th Sept 2021</a>
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
              <mat-expansion-panel *ngIf="isAdmin">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <a>ADMIN PANEL</a>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                  <mat-list-item role="listitem"  routerLinkActive="active"><a style="color:black" class="label" (click) = "goToLinkithPlantCode('/main/users')">Users</a>
                  </mat-list-item>
                  <mat-list-item role="listitem"  routerLinkActive="active"><a style="color:black" class="label" (click) = "goToLinkithPlantCode('/main/roles')">Roles</a>
                  </mat-list-item>
                  <mat-list-item role="listitem" routerLinkActive="active"><a style="color:black" class="label" (click) = "goToLinkithPlantCode('/main/plant')">Plant</a>
                  </mat-list-item>
                  <mat-list-item role="listitem" ><a>Workflow</a>
                  </mat-list-item>
                  <mat-sublist>
                    <span fxFlex="15"></span>
                    <mat-line fxFlex="85"><a class="label"
                      (click)="goToWorkflow('V1')">
                      Version 1
                    </a></mat-line>
                  </mat-sublist>
                  <br>
                  <mat-sublist>
                    <span fxFlex="15"></span>
                    <mat-line fxFlex="85"><a class="label"
                      (click)="goToWorkflow('V2')">
                      Version 2
                    </a></mat-line>
                  </mat-sublist>

                  <!-- <mat-list-item role="listitem" routerLink="./system-entry" routerLinkActive="active"><a>System Entries</a>
              </mat-list-item> -->
                  <!--<mat-list-item role="listitem" routerLink="./main-detail" routerLinkActive="active"><a>Plant Detail</a>
              </mat-list-item>-->
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-sidenav>
        <mat-sidenav-content *ngIf="!loading && !noUserAccessRole">
          <div style="height: 100vh; width: 100%; overflow-x: hidden;">
            <!--<router-outlet></router-outlet>-->
            <div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
              <router-outlet #o="outlet"></router-outlet>
            </div>
          </div>
        </mat-sidenav-content>
        <mat-sidenav-content *ngIf="loading">
          <div>
            <div class="spinner">
              <mat-progress-spinner mode="indeterminate" color="accent"> </mat-progress-spinner>
              <br>
              &nbsp; &nbsp; <b>Loading...</b>
            </div>
          </div>
        </mat-sidenav-content>
        <mat-sidenav-content *ngIf="noUserAccessRole">
          <div class="NotificationUser">
            Dear User ,
            <br>
            Please note you do not have sufficient privilege/rights to access CIF application.
            <br>
            Kindly contact system admin for access.
            <br>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </body>
    <!--<footer class="footer">
      <p r->© Lafarge Holcim</p>
    </footer>-->
  </mat-sidenav-content>
</mat-sidenav-container>

</html>

<!--<mat-divider></mat-divider>
  <object class = "DashBoard" data="https://qv.lhinside.com/QvAJAXZfc/opendoc.htm?document=userdocs%20itind%5Ccif%20dashboard.qvw&lang=en-US&host=QVS%40Cluster" width="100%" height="950" type="text/html"></object>
  -->
