* {
  box-sizing: border-box;
}

body {
  font-family: LH NotoSans, Arial, Helvetica, sans-serif !important;
}

.mat-expansion-panel-body {
  padding: 0 0px;
}

.example-container {
  //width: auto;
  width: 25px !important;

}
/* Style the header */
header {
  background-color: #44878c;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
  overflow: hidden;
}

article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: rgb(214, 214, 214);
  overflow: hidden;
  height: 100vh;
}

/* Style the footer */
// footer {
//   position: relative;
//   //margin-top: 5px;
//   //bottom: 0px;
//   background-color: #777;
//   //padding-top: 3px;
//   text-align: center;
//   justify-content: space-between;
//   color: white;
//   //height: 25px;
//   overflow: hidden;
// }

.header__logo-image {
  width: 10px;
  height: 25px;
}

//.mat-sidenav {    width: 15%;    min-width: 15%;  }
.label {
  width: 100px;
  min-width: 25vmin;
  padding: 0px !important;
  margin: 0px;
}

// Tipos de efectos
.flexSpaceBetween {
  background-color: transparent !important;
  //flex: 1 1 auto;
  justify-content: space-between;
  padding: 5px;
}

.menu-spacer {
  flex: 1 1 auto;
}

.dropdown_header {
  text-align: center;
  color: black;
}

.accordion {
  margin: 3px;
  padding: 3px;
  width: 10px;
}

.mat-panel-title {
  font-weight: bold;
  font-size: 15px;
}

/* A link that has not been visited */

a:focus {
  color: black;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: #777;
}
a:focus {
  color: black;
}
a:active {
  color: black;
}

.selectplant {
  margin-top: 12px;
  margin-right: 7px;
  padding: 10px;
}

/*
.searchbar{ width: 500px;
  margin-top: 16px;
  //background-color: cadetblue;
}
*/

.spinner {
  height: 100vh;
  margin-left: 45%;
  margin-top: 5%;
}

.NotificationUser {
  height: 532px;
  margin-left: 350px;
  margin-top: 100px;
  font-size: 18px;
}

//***************************

.companyName {
  width: 100%;
  height: 7vh;
  align-items: center;
}

//.mat-toolbar{height: 7vh;}

//div {  overflow: inherit;}
.mat-sidenav {
  min-width: 215px;
  width: 18vw;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.right-sidenav-mobile {
  min-width: 20px;
  width: 18vw;
}

.example-spacer {
  flex: 1 1 auto;
}

.panel {
  height: 100%;
  width: 100%;
}

.sublist{
  margin: 0%;
  padding: 3%;
}

/* loading dots */

.searchloading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

  @keyframes dots {
    0%, 20% {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}
    40% {
      color: white;
      text-shadow:
        .25em 0 0 white,
        .5em 0 0 white;}
    60% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
      text-shadow:
        .25em 0 0 black,
        .5em 0 0 black;}
    }

    .Searchbar{
      max-width: 150px;
      width: 15vw;
      margin-right: 13px;
      padding: 5px;
      font-size: 14px;
    }


::-webkit-scrollbar {
  // Width of vertical scroll bar
  width: 10px;
  // Height of horizontal scroll bar
  height: 10px;

}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: #c2c9d2;
}

.zoom{
  zoom: 86%;
  // height: fit-content(1%)

  // -moz-transform: scale(0.9);
  // -webkit-transform: scale(0.9);
  // -o-transform: scale(0.9);
  // -ms-transform: scale(0.9);
  // transform: scale(0.9);

  // width: 100%;
}
