<div class="container">
  <h3 mat-dialog-title>Role id: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" fxLayout="column">
    <div class="flex-container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="space-around center">
      <!--  <div class="form">
      <mat-form-field color="accent">
        <input matInput disabled placeholder="Id" [(ngModel)]="data.id" name="id">
      </mat-form-field>
    </div>
  -->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputname placeholder="Name" [(ngModel)]="data.name" name="name" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputname.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputtype placeholder="type" [(ngModel)]="data.type" name="type" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputtype.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputDescription placeholder="Description" [(ngModel)]="data.description" name="description"
            required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputDescription.value?.length || 0}}/250</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <!--
    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Code" [(ngModel)]="data.code" name="code" required>
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="smartsheetLink" [(ngModel)]="data.smartsheetLink" name="smartsheetLink">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <!--<input matInput placeholder="type" [(ngModel)]="data.type.name" name="type">
        <mat-label>Select type</mat-label>
        <mat-icon matPrefix>verified_user</mat-icon>  
        <mat-select  formControlName="type" [(ngModel)]="data.type" name="type" required>
            <mat-option *ngFor="let type of typelist" [value]="type.id">{{type.name}}</mat-option>
          </mat-select>
        <mat-hint>Type of plant</mat-hint>
      </mat-form-field>
    </div>

-->

    <div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%"
      fxLayoutAlign="space-around center">
      <div class="form">

        <div mat-dialog-actions>
          <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid"
            [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
          <button mat-raised-button color="primary" (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>