.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height:100%;
}

.deletebody{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  //justify-content: center;
  margin: 1%;
  width: 100%;
  height:100%;
}

.acctionbar{
  width: 400px;
}

.mat-raised-button{
  height: 30% !important;
  width: 49%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1px !important;
}

.mat-icon{
  margin: 5px;
}