<div class="container" fxLayout="column" fxLayoutAlign="center none" fxLayoutGap="3">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content class="deletebody">
    <div fxFill fxLayout="row" fxLayoutAlign="center center">
      id: {{data.id}}
    </div>
    <span></span>
    <div fxFill fxLayout="row" fxLayoutAlign="center center">
      name: {{data.name}}
    </div>
    <span></span>
    <div fxFill fxLayout="row" fxLayoutAlign="center center">
      email: {{data.email}}
    </div>
    <span></span>
    <div fxFill fxLayout="row" fxLayoutAlign="center center">
      sapid: {{data.sapUserId}}
    </div>
    <span></span>
  </div>
  <span></span>
</div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" class="acctionbar">
    <button mat-raised-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
