<div class="container" style="font-family: auto">
    <h3 mat-dialog-title>Do you wish to proceed with Bulk User Synchronization?</h3>
  
    <div mat-dialog-content style="text-align: left;font-family: auto;">
      Please Note It might take some time to complete the data Synchronization.
      <br>
      <br>
      Synchronization status will be notified to you via email once Synchronization is completed.
    </div>
    <!-- <div mat-dialog-actions>
      <div>
        &nbsp;
      </div>
      <div>
        <button mat-button [mat-dialog-close]="1" (click)="confirmUpdate()">Update</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </div> -->

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column">
      <div fxLayout="column" fxLayoutAlign="center center"></div>
      <div fxLayout="column" fxLayoutAlign="center center">
          <div style="display: inline-block;">
            <button style="width:140px" mat-raised-button (click)="confirmUpdate()">Proceed to Synch</button>
            <label>&nbsp;</label>
            <button style="width:90px" mat-raised-button (click)="onNoClick()">Cancel</button>
          </div>
      </div>
  </div>
  