.intro-header {
    height: unset !important;
    height: 0px;
  }
  .intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
    //background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg")no-repeat center center;
    background-size: cover;
    background-color: rgba(229, 228, 255, 0.2)
  }
  .view {
    height: 100vh !important;
    border-bottom-right-radius: 10px;
  }

  :host {
    width: 100%;
  }
  
  .top-nav-collapse {
    background-color:  #006982 !important;
  }
  
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
    height: 3px;
    padding: 2px;
  }

.btn-white {
  color: black !important;
}

  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background:#006982 !important;
    }
  }
  .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, #006982 !important, rgba(178, 30, 123, 0.4) 100%);

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}
  }
  .full-bg-img {
    height: 100%;
  }
  .card {
    background-color: rgba(229, 228, 255, 0.2);
    color: black;
      height:500px;
  }
  
  .mat-card-body .card-body{
color:black;

  }
  .md-form .prefix {
    font-size: 1.2rem;
    color: black;
    margin-top: 3rem;
  }
  .md-form label {
    color: #000000;
  }
  h6 {
    line-height: 1.7;
    color: black;
  }
  @media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 1040px;
    }
  }