<div class="container">

    <mat-label>ID</mat-label>
    <br>
    <mat-form-field appearance="fill">
      <input matInput>
    </mat-form-field>
    <br>
    <br>
    <mat-label>Value</mat-label>
    <br>
    <mat-form-field appearance="fill">
      <input matInput>
      </mat-form-field>
    <br>
    <br>
    <mat-label>Description</mat-label>
    <br>
    <mat-form-field appearance="fill">
      
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
