<mat-tab-group>
  <mat-tab label="Plant Management">

    <mat-toolbar color="primary">
      <span>Plant Management</span>
      <span class="spacer"></span>
      Reload data:
      <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>

    <div class="container mat-elevation-z8">

      <div class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filter placeholder="Filter issues">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort matSortActive="plantId" matSortDirection="asc" class="mat-cell">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="plantId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.plantId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.code}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="smartsheetLink" fxShow="false" fxShow.gt-xs="true">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxShow="false" fxShow.gt-xs="true">SmartsheetLink</mat-header-cell>
          <mat-cell *matCellDef="let row" fxShow="false" fxShow.gt-xs="true"> {{row.smartsheetLink}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="madiLink" fxShow="false" fxShow.gt-xs="true">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxShow="false" fxShow.gt-xs="true">MADI Link</mat-header-cell>
          <mat-cell *matCellDef="let row" fxShow="false" fxShow.gt-xs="true"> {{row.madiLink}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gapAnalyzerLink" fxShow="false" fxShow.gt-xs="true">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxShow="false" fxShow.gt-xs="true">Gap Analyzer Link</mat-header-cell>
          <mat-cell *matCellDef="let row" fxShow="false" fxShow.gt-xs="true"> {{row.gapAnalyzerLink}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type"  fxShow="false" fxShow.gt-xs="true">
          <mat-header-cell *matHeaderCellDef mat-sort-header  fxShow="false" fxShow.gt-xs="true">Type</mat-header-cell>
          <mat-cell *matCellDef="let row"  fxShow="false" fxShow.gt-xs="true"> {{row.type.name}}</mat-cell>
        </ng-container>
<!--
        <ng-container matColumnDef="opco">
          <mat-header-cell *matHeaderCellDef mat-sort-header>opco</mat-header-cell>
          <mat-cell *matCellDef="let row">          
            <ng-container *ngFor="let opco of row.opcos">{{[opco.name]}} </ng-container>
          </mat-cell>
        </ng-container>
-->
        <ng-container matColumnDef="opcoName" fxShow="false" fxShow.gt-xs="true">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxShow="false" fxShow.gt-xs="true">opcoName</mat-header-cell>
          <mat-cell *matCellDef="let row" fxShow="false" fxShow.gt-xs="true"> {{row.opcoName}}</mat-cell>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="accent" (click)="addNew()">
              <mat-icon title="Add plant">add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;">
            <button mat-icon-button color="accent"
              (click)="startEdit(i, row.plantId, row.name, row.code, row.smartsheetLink, row.madiLink, row.gapAnalyzerLink, row.type, row.opcoId, row.opcoName)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button color="accent"
              (click)="deleteItem(i, row.plantId, row.name, row.code, row.smartsheetLink, row.madiLink, row.gapAnalyzerLink, row.type, row.opcoId, row.opcoName)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
        No results
      </div>

      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

  </mat-tab>

  <mat-tab label="Regions Management">
    <div class="mat-elevation-z8 filters">
      <mat-toolbar color="primary">
        <span>Plant Management</span>
        <span class="spacer"></span>
        Reload data:
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-toolbar>
      <div class="column">
        <div class="blockdropdownlist"fxFlex="98%">
          <form [formGroup]="createPlantsForm">
            <div class="dropdownlist" fxFlex="50%" fxLayout="column">
              <div class="form-group" title="Please select the Region">
                <mat-form-field>
                  <mat-label>Region</mat-label>
                  <mat-select formControlName="region" (selectionChange)="onChangeRegion($event.value)"
                    [(ngModel)]="selectedValue" placeholder="Select the Region">
                    <!--<mat-option value="0">Select Region...</mat-option>-->
                    <mat-option *ngFor="let region of regions" [value]="region.regionId">{{region.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button mat-raised-button color="primary" [matMenuTriggerFor]="Region"
                #triggerRegion="matMenuTrigger">Create Region</button>
              <mat-menu #Region="matMenu" [overlapTrigger]="false" class="menu-form-wrapper" [hasBackdrop]="false" yPosition="below">
                <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                  <form class="menu-form" [formGroup]="createRegionForm" (ngSubmit)="confirmAddRegion()" fxLayout="column" fxFlex="100">
                    <h3>Add Region</h3>
                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput type="text" formControlName="name" name="name" ([ngModel])="region.name"
                        Placeholder="Name" required>
                      <mat-error *ngIf="createRegionForm.controls['name'].hasError('required')">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Code</mat-label>
                      <input matInput type="text" formControlName="code" name="code" ([ngModel])="region.code"
                        Placeholder="Code" required>
                        <mat-error *ngIf="createRegionForm.controls['code'].hasError('required')">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <div class="row">
                      <span></span>
                      <button mat-raised-button type="submit" [disabled]="!createRegionForm.valid" (click)="confirmAddRegion()">Save</button>
                      &nbsp;
                      <button mat-raised-button (click)="triggerRegion.closeMenu()">Cancel</button>
                    </div>
                  </form>
                </div>
              </mat-menu>
            </div>
            <div class="dropdownlist" fxFlex="50%"  fxLayout="column">
              <div class="form-group" title="Please select the Area">
                <mat-form-field>
                  <mat-label>Area</mat-label>
                  <mat-select formControlName="area" (selectionChange)="onChangeArea($event.value)">
                    <!--<mat-option value="">Select Area...</mat-option>-->
                    <mat-option *ngFor="let area of areas" [value]="area.areaId">{{area.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button mat-raised-button fxFlex="50%" color="primary" [matMenuTriggerFor]="Area"
                #triggerArea="matMenuTrigger">Create Area</button>
              <mat-menu #Area="matMenu" class="menu-form-wrapper" [hasBackdrop]="false" yPosition="below">
                <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                  <form class="menu-form" [formGroup]="createAreaForm" (ngSubmit)="confirmAddArea()" fxLayout="column" fxFlex="100">
                    <h3>Add Area</h3>
                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput type="text" formControlName="name" name="name" ([ngModel])="area.name"
                        Placeholder="Name" required>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Code</mat-label>
                      <input matInput type="text" formControlName="code" name="code" ([ngModel])="area.code"
                        Placeholder="Code" required>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Region</mat-label>
                      <mat-select formControlName="regionId" name="regionId"
                        (selectionChange)="onChangeRegion($event.value)" [(ngModel)]="selectedValue"
                        placeholder="Select the Region">
                        <mat-option *ngFor="let region of regions" [value]="region.regionId">{{region.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <div class="row">
                      <span></span>
                      <button mat-raised-button type="submit" (click)="confirmAddArea()">Save</button>
                      &nbsp;
                      <button mat-raised-button (click)="triggerArea.closeMenu()">Cancel</button>
                    </div>
                  </form>
                </div>
              </mat-menu>
            </div>
            <div class="dropdownlist" fxFlex="50%"  fxLayout="column">
              <div class="form-group" title="Please select the Cluster">
                <mat-form-field>
                  <mat-label>Cluster</mat-label>
                  <mat-select formControlName="cluster" (selectionChange)="onChangeCluster($event.value)">
                    <mat-option *ngFor="let cluster of clusters" [value]="cluster.clusterId">{{cluster.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button mat-raised-button fxFlex="50%" color="primary" [matMenuTriggerFor]="Cluster"
                #triggerCluster="matMenuTrigger">Create Cluster</button>
              <mat-menu #Cluster="matMenu" class="menu-form-wrapper" [hasBackdrop]="false" yPosition="below">
                <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                  <form class="menu-form" [formGroup]="createClusterForm" (ngSubmit)="confirmAddCluster()" fxLayout="column" fxFlex="100">
                    <h3>Add Cluster</h3>
                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput type="text" formControlName="name" name="name" ([ngModel])="area.name"
                        Placeholder="Name" required>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Code</mat-label>
                      <input matInput type="text" formControlName="code" name="code" ([ngModel])="area.code"
                        Placeholder="Code" required>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Area</mat-label>
                      <mat-select formControlName="areaId" name="areaId" [(ngModel)]="selectedValue" 
                        placeholder="Select the Area">
                        <mat-option *ngFor="let area of areas" [value]="area.areaId">{{area.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <div class="row">
                      <span></span>
                      <button mat-raised-button type="submit" (click)="confirmAddCluster()">Save</button>
                      &nbsp;
                      <button mat-raised-button (click)="triggerCluster.closeMenu()">Cancel</button>
                    </div>
                  </form>
                </div>
              </mat-menu>
            </div>
            <div class="dropdownlist" fxFlex="50%"  fxLayout="column">
              <div class="form-group" title="Please select the Opco">
                <mat-form-field>
                  <mat-label>Opco</mat-label>
                  <mat-select formControlName="opco" (selectionChange)="onChangeOpco($event.value)">
                    <mat-option *ngFor="let opco of opcos" [value]="opco.opcoId">{{opco.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button mat-raised-button fxFlex="50%" color="primary" [matMenuTriggerFor]="Opco"
                #triggerOpco="matMenuTrigger">Create Opco</button>
              <mat-menu #Opco="matMenu" class="menu-form-wrapper" [hasBackdrop]="false" yPosition="below">
                <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                  <form class="menu-form" [formGroup]="createOpcoForm" (ngSubmit)="confirmAddOpco()" fxLayout="column" fxFlex="100">
                    <h3>Add Opco</h3>
                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput type="text" formControlName="name" name="name" ([ngModel])="area.name"
                        Placeholder="Name" required>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Code</mat-label>
                      <input matInput type="text" formControlName="code" name="code" ([ngModel])="area.code"
                        Placeholder="Code" required>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Cluster</mat-label>
                      <mat-select formControlName="clusterId" name="clusterId" [(ngModel)]="selectedValue" 
                        placeholder="Select the Cluster">
                        <mat-option *ngFor="let cluster of clusters" [value]="cluster.clusterId">{{cluster.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <div class="row">
                      <span></span>
                      <button mat-raised-button type="submit" (click)="confirmAddOpco()">Save</button>
                      &nbsp;
                      <button mat-raised-button (click)="triggerOpco.closeMenu()">Cancel</button>
                    </div>
                  </form>
                </div>
              </mat-menu>
            </div>
            <div class="dropdownlist" fxFlex="50%"  fxLayout="column">
              <div class="form-group" title="Please select the Plant">
                <mat-form-field>
                  <mat-label>Plant</mat-label>
                  <mat-select formControlName="plant" (selectionChange)="onChangePlant($event.value)">
                    <!--<mat-option value="">Select plant...</mat-option>-->
                    <mat-option *ngFor="let plant of plants" [value]="plant.name">{{plant.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!--
                <button mat-raised-button fxFlex="50%" color="primary" [matMenuTriggerFor]="Plant"
                #triggerPlant="matMenuTrigger">Create
                Plant</button>
              <mat-menu #Plant="matMenu" class="menu-form-wrapper" [hasBackdrop]="false" yPosition="below">
                <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                  <form class="menu-form" fxLayout="column" fxFlex="100">
                    <h3>Add Plant</h3>
                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput type="text">
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>code</mat-label>
                      <input matInput type="text">
                    </mat-form-field>
                    <div class="row">
                      <span></span>
                      <button mat-raised-button type="submit">Save</button>
                      &nbsp;
                      <button mat-raised-button (click)="triggerPlant.closeMenu()">Cancel</button>
                    </div>
                  </form>
                </div>
              </mat-menu>
            -->
            </div>
          </form>
        </div>
      </div>
    </div>


  </mat-tab>
  <mat-tab label="Log plant"> LOG PLANT TASK ACTIVITIES </mat-tab>
  <mat-tab label="Bulk Update Plants Data"> 
    <div>
      &nbsp;
    </div>
    <div style="display: inline-flex">
      <div> 
        MaDi Links Bulk Synchronization &nbsp;
        <button style="width:90px;text-align: revert" mat-raised-button (click)="updateMadiLinks()">Synch Now</button>
      </div>
      <div>
        <!-- <button mat-button (click)="updateMadiLinks()">Synch Now</button> -->
        
      </div>
    </div>
    <br>
    <div>
      &nbsp;
    </div>
     <div> Gap Analyzer Bulk Update</div>
     <br>
     <div>
      &nbsp;
    </div>
    <div> Smartsheet Links Bulk Update</div>
  </mat-tab>
</mat-tab-group>