.h1 {
  text-align: center;
}
.solution {
  width: 1300px;
  border-radius: 10px;
  border-spacing: 10px;
  padding: 10px;
  padding-top: 10px;
  flex: 1 1 auto;
  margin: 10px;
  position: absolute;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  margin: 10px !important;
  padding: 10px !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: acent;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.span {
  flex: 1 1 auto;
  margin: 5px;
  padding: 10px;
}

.example-form {
  min-width: 80px;
  max-width: 100px;
  width: 80%;
}

.email-full {
  width: 100%;
}

.Textarea {
  text-align: center;
  width: 700px;
  height: 100px;
}

table {
  width: 90%;
  margin: 1rem auto;
}

.contenedor {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 1300px;
  box-shadow: -1px 4px 25px 0px rgba(0, 0, 0, 0.75);
  padding: 1rem;
}

/* Structure */
.container {
  display: flex;
  flex-direction: column;
  max-width: 95vw;
  margin: 1rem auto;
  padding: 1rem;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

/* Mat table */
.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 7%;
  min-width: 5px !important;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  //flex: 0 0 15%;
  min-width: 15px !important;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  //flex: 0 0 7%;
  min-width: 7px !important;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  //flex: 0 0 14%;
  width: 9%;
  min-width: 12px !important;
  text-align: right;
  align-items: right;
  justify-content: center;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
  flex: 0 0 14%;
  text-align: right;
  align-items: right;
  justify-content: center;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 14%;
  text-align: right;
  align-items: right;
  justify-content: center;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7) {
  flex: 0 0 8%;
}

.mat-cell:nth-child(8),
.mat-header-cell:nth-child(8) {
  flex: 0 0 8%;
}

.mat-cell:nth-child(9),
.mat-header-cell:nth-child(9) {
  //flex: 0 0 10% !important;
  width: 7% !important;
  min-width: 10% !important;
  margin-left: 1%;
}

.mat-elevation-z8 {
  border-radius: 7px;
  padding: 7px;
  width: 100vw;
  height: auto !important;
  margin-left: auto;
  margin-right: auto;
}

.mat-raised-button {
  height: 80%;
  width: 45%;
  text-align: center;
  align-items: center;
  padding: 1px !important;
  margin: 2px;
}

::ng-deep .mat-menu-panel {
  max-width: none !important;
  min-width: none !important;
  width: 270px;
  height: 110%;
  text-align: center;
  align-items: center;
}
.row{
  width: 250px;
  text-align: center;
  align-items: center;
}
/*
::ng-deep .mat-menu-contain{
  width: 250%;
  margin:10px;
  padding:10px;
  text-align: center;
  align-items: center;
}

::ng-deep .menu-form-wrapper{
  width: 250%;
  text-align: center;
  align-items: center;
}
*/

.menu-form{
  width: 250% !important;
  text-align: center;
  align-items: center;
}

.ProcessId{
  width: 200px;
  margin: 10px;
  padding:10px;
  border-radius: 7px;
  font-size: 14px;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}


