<div class="progressbar">
      <!-- <h2 class="titleprogressbar"></h2>-->
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
        <div>
          <h4 class="titleprogressbar transparent">PROJECT WAVES HISTORY {{nwaveSelectedHistory}}</h4>
        </div>
        <div *ngIf="!content2[0].taskTrans[0].completedTask?.length">Wave {{nwaveSelectedHistory}} not completed - no history to display</div>
        <div>
        <mat-form-field appearance="outline" class="selectwave">
          <mat-label>Select wave</mat-label>
          <mat-select [(ngModel)]="nwaveSelectedHistory" name="range" (ngModelChange)="nwaveSelectChange(nwaveSelectedHistory)" panelClass="testClass" [disableOptionCentering]="true">
            <!--function to load the changes from dropdown list in mat-select wave selection-->
            <mat-option *ngFor="let wave of waves" [value]="wave" [disabled]="wave > nwaveSelectedHistory">
              Wave &nbsp; {{wave}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
</div>

  <div *ngIf="loading">
    <div style="margin-left:45% ; margin-top: 5%;">
      <mat-progress-spinner mode="indeterminate" color="accent"> Please Wait</mat-progress-spinner>
    </div>
    <div style="margin-left:45%"></div>
  </div>
  
  <div *ngIf="content && !loading && !isError && !content.error" class="panels">
    <div *ngFor="let task of content.taskTrans" fxFlexFill>
      <div>
        <!--
        <div class="example-container mat-elevation-z8">
          <h2 class="h2_notstarted">Not Started</h2>
          <div class="scroll mat-elevation-z82">
            <div class="example-box" *ngFor="let notstarted of task.notSorted">
              <div style="cursor: pointer;" (click)="openTask(notstarted,'notstarted',content.isProcessPaused)">
                <div *ngIf="notstarted.taskFlag" style="width: 80px;
                  padding: 2px;
                  border: 5px solid gray;
                  border-radius: 7px;
                  margin-left: 130px;">{{notstarted.taskFlag}}
                </div>
                
                <div>
                  <div *ngIf="notstarted.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{notstarted.sequenceNumber}}
                  </div>
                  <br>
                  {{notstarted.name}}
                  <br>
  
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="notstarted.assignedTo"><b>Assigned to :</b>{{notstarted.assignedTo.split("=")[1]}}</p>
                  <!-- <p><b>End Date:</b>{{notstarted.endDate  | date:'yyyy-MM-dd'}}</p> -->
                  <!--<label style="margin-left: 85%;
                    border-radius: 58%;
                    padding: 6px;
                    background:white;
                    border: 2px solid #666;
                    color: #666;
                    text-align: center;"><b>{{notstarted.sequenceNumber}}</b>
                  </label> -> ****
                </div>
  
              </div>
            </div>
          </div>
        </div>
      
        <div class="example-container mat-elevation-z8">
          <h2 class="h2_todo">To do newTask() to delete
            <!--<mat-icon *ngIf="isFacilitatorOrAdmin =='yes' && content.showAddTask" (mouseover)="mouseoverText=true" (mouseout)="mouseoverText=false"  style="float: right;cursor: pointer;" (click)="newTask()">add_circle_outline
            </mat-icon>
              <br>
              <span *ngIf="!mouseoverText"></span>
              <span style="float: right;
              font-size: 14px;
              color: black;
              font-style: italic;" *ngIf="mouseoverText"><b>Add New Task</b></span> -> ****
          </h2>
  
          <div class="scroll mat-elevation-z82">
            <div class="example-box" *ngFor="let toDo of task.toDo">
              <div style="cursor: pointer;" (click)="openTask(toDo,'toDo',content.isProcessPaused)">
                <div *ngIf="toDo.taskFlag" style="width: 80px;
                  padding: 2px;
                  border: 5px solid gray;
                  border-radius: 7px;
                  margin-left: 130px;">{{toDo.taskFlag}}
                </div>
                <div >
                  <div *ngIf="toDo.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{toDo.sequenceNumber}}
                  </div>
                  <br>
                  {{toDo.name}}
                  <br>
                  <br>
                  <div>
                    <p *ngIf="toDo.assignedTo"><b>Assigned to :</b>{{toDo.assignedTo.split("=")[1]}}</p>
                    <p><b>End Date:</b>{{toDo.endDate  | date:'yyyy-MM-dd'}}</p>
                  </div>
                </div>
                <!-- <br>
                <br>
                <div>
                  <label style="margin-left: 85%;
                    border-radius: 58%;
                    padding: 6px;
                    background:white;
                    border: 2px solid #666;
                    color: #666;
                    text-align: center;"><b>{{toDo.sequenceNumber}}</b>
                  </label>
                </div> -> ****
              </div>
            </div>
          </div>
        </div>
        <div class="example-container mat-elevation-z8">
          <h2 class="h2_duesoon">Due soon</h2>
          <div class="scroll mat-elevation-z82">
            <div class="example-box" *ngFor="let dueSoon of task.dueSoon">
              <div style="cursor: pointer;" (click)="openTask(dueSoon,'duesoon',content.isProcessPaused)">
                <div *ngIf="dueSoon.taskFlag" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      border-radius: 7px;
                      margin-left: 130px;">{{dueSoon.taskFlag}}
                </div>
                <div >
                  <div *ngIf="dueSoon.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{dueSoon.sequenceNumber}}
                  </div>
                  <br>
  
                  {{dueSoon.name}}
                  <br>
                  <br>
                  <div>
                    <p *ngIf="dueSoon.assignedTo"><b>Assigned to :</b>{{dueSoon.assignedTo.split("=")[1]}}</p>
                    <p><b>End Date:</b>{{dueSoon.endDate  | date:'yyyy-MM-dd'}}</p>
                  </div>
                </div>
                <!-- <br>
                <br>
                <div>
                  <label style="margin-left: 85%;
              border-radius: 58%;
              padding: 6px;
              background:white;
              border: 2px solid #666;
              color: #666;
              text-align: center;"><b>{{dueSoon.sequenceNumber}}</b></label>
                </div> -> ****
              </div>
              <label></label>
            </div>
          </div>
        </div>
        <div class="example-container mat-elevation-z8">
          <h2 class="h2_overdue">Over due</h2>
          <div class="scroll mat-elevation-z82">
            <div class="example-box" *ngFor="let overdue of task.overDue">
              
              
              <div style="cursor: pointer;" (click)="openTask(overdue,'overdue',content.isProcessPaused)">
                <div *ngIf="overdue.taskFlag" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      border-radius: 7px;
                      margin-left: 130px;">{{overdue.taskFlag}}</div>
                <div>
                  <div  *ngIf="overdue.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{overdue.sequenceNumber}}
                  </div>
                  <br>
                  {{overdue.name}}
                  <br>
                  <br>
                  <div>
                    <p *ngIf="overdue.assignedTo"><b>Assigned to :</b>{{overdue.assignedTo.split("=")[1]}}</p>
                    <p><b>End Date:</b>{{overdue.endDate  | date:'yyyy-MM-dd'}}</p>
                  </div>
                </div>
                <!-- <br>
                <br>
                <div>
                  <label style="margin-left: 85%;
              border-radius: 58%;
              padding: 6px;
              background:white;
              border: 2px solid #666;
              color: #666;
              text-align: center;"><b>{{overdue.sequenceNumber}}</b></label>
                </div> -> ***
  
              </div>
            </div>
          </div>
        </div>
      -->
        <div class="example-container mat-elevation-z8">
          <h2 class="h2_completed">Preparation</h2>
          <div class="scroll mat-elevation-z82">
            <div class="example-box" *ngFor="let completed of content2[0].taskTrans[0].completedTask">
              <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
                <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      margin-left: 130px;">{{completed.taskFlag}}
                </div>
                <div >
                  <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                  </div>
                  <br>
                  {{completed.name}}
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                  <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="example-container mat-elevation-z8">
          <h2 class="h2_completed">Assessment</h2>
          <div class="scroll mat-elevation-z82">
            <div class="example-box" *ngFor="let completed of content2[1].taskTrans[0].completedTask">
              <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
                <!--
                <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      margin-left: 130px;">{{completed.taskFlag}}
                </div>-->
                <div >
                  <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                  </div>
                  <br>
                  {{completed.name}}
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                  <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="example-container mat-elevation-z8">
          <h2 class="h2_completed">Implementation</h2>
          <div class="scroll mat-elevation-z82">
            <!--<div class="springlabel">SP1</div>-->
            <div class="example-box" *ngFor="let completed of content2[2].taskTrans[0].completedTask">
              <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
                <span class="springlabel">SP1</span>                
                <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      margin-left: 130px;">{{completed.taskFlag}}
                </div>
                <div>
                  <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                  </div>
                  <br>
                  {{completed.name}}
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                  <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <div>
              </div>
            </div>

            <div class="example-box" *ngFor="let completed of content2[3].taskTrans[0].completedTask">
              <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
                <span class="springlabel">SP2</span>
                <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      margin-left: 130px;">{{completed.taskFlag}}
                </div>
                <div >
                  <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                  </div>
                  <br>
                  {{completed.name}}
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                  <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <div>
              </div>
            </div>

            <div class="example-box" *ngFor="let completed of content2[4].taskTrans[0].completedTask">
              <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
                <span class="springlabel">SP3</span>
                <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      margin-left: 130px;">{{completed.taskFlag}}
                </div>
                <div >
                  <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                  </div>
                  <br>
                  {{completed.name}}
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                  <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <div>
              </div>
            </div>

            <div class="example-box" *ngFor="let completed of content2[5].taskTrans[0].completedTask">
              <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
                <span class="springlabel">SP4</span>
                <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      margin-left: 130px;">{{completed.taskFlag}}
                </div>
                <div >
                  <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                  </div>
                  <br>
                  {{completed.name}}
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                  <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <div>
              </div>
            </div>

            <div class="example-box" *ngFor="let completed of content2[6].taskTrans[0].completedTask">
              <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
                <span class="springlabel">SP5</span>
                <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      margin-left: 130px;">{{completed.taskFlag}}
                </div>
                <div >
                  <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                  </div>
                  <br>
                  {{completed.name}}
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                  <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="example-container mat-elevation-z8">
          <h2 class="h2_completed">FollowUp</h2>
          <div class="scroll mat-elevation-z82">
            <div class="example-box" *ngFor="let completed of content2[7].taskTrans[0].completedTask">
              <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
                <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      margin-left: 130px;">{{completed.taskFlag}}
                </div>
                <div >
                  <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                  </div>
                  <br>
                  {{completed.name}}
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                  <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="example-container mat-elevation-z8">
          <h2 class="h2_completed">Sustainability</h2>
          <div class="scroll mat-elevation-z82">
            <div class="example-box" *ngFor="let completed of content2[8].taskTrans[0].completedTask">
              <div style="cursor: pointer;" (click)="openTask(completed,'completed',content.isProcessPaused)">
                <div *ngIf="completed.taskFlag && completed.taskFlag == 'New Task'" style="width: 80px;
                      padding: 2px;
                      border: 5px solid gray;
                      margin-left: 130px;">{{completed.taskFlag}}
                </div>
                <div >
                  <div *ngIf="completed.taskFlag != 'New Task'" style="border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  padding-top: 8px;
                  background: #fff;
                  border: 2px solid #000;
                  color: #000;
                  text-align: center;
                  font: 10px Arial, sans-serif;">{{completed.sequenceNumber}}
                  </div>
                  <br>
                  {{completed.name}}
                </div>
                <br>
                <br>
                <div>
                  <p *ngIf="completed.completedBy"><b>Completed By :</b>{{completed.completedBy.split("=")[1]}}</p>
                  <p><b>Completed Date:</b> {{completed.completedDate  | date:'yyyy-MM-dd'}}</p>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div style="margin-left: 30%;margin-top: 5%;" *ngIf="!loading ">
        <div *ngIf="isError || (content && content.error)">
          <b>{{content.error.error}}</b>
  
          <mat-expansion-panel style="width:80%" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>Error Stack Trace :</b>
              </mat-panel-title>
  
            </mat-expansion-panel-header>
            {{content.message}}
          </mat-expansion-panel>
        </div>
      </div>
  
      <div *ngIf="content && content.startProcess">
        <!-- <div [innerHTML]="checkContentForProcess()"></div> -->
  </div>
  
  
      <!-- <div *ngIf="content">
      <div *ngFor="let item of content.processTransactions">
        <div *ngFor="let task of item.taskTransactions">
          <div *ngFor="let notstarted of task.NotStarted">
            {{notstarted.taskName}}
          </div>
  
          <div *ngFor="let completed of task.completedTask">
            {{completed.taskName}}
          </div>
  
          <div *ngFor="let overdue of task.overDue">
            {{overdue.taskName}}
          </div>
  
          <div *ngFor="let todo of task.Todo">
            {{todo.taskName}}
          </div>
  
          <div *ngFor="let dueSoon of task.Due_Soon">
            {{dueSoon.taskName}}
          </div>
  
        </div>
      </div>
    </div> -->