<mat-toolbar color="primary">
    <span>Workflow Management - Version {{version}}</span>
   <!--<child (selectionChange)="getNotification($event)"></child>-->
    <span class="spacer"></span>
    <mat-select class= "ProcessId" [(ngModel)]="processid" (selectionChange)="select($event.value)" disableOptionCentering panelClass="testClass">
    <!-- <mat-select class= "ProcessId" [(ngModel)]="processid" (selectionChange)="selectionChanged($event.value)">-->
      <!--(selectionChange)="select($event.value)"-->
      <mat-option *ngFor="let processes of Selectprocesses" [value]="processes.id">
        {{ processes.name }}
      </mat-option>
    </mat-select>
    <span class="spacer"></span>
    Reload data:
    <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  
  <!--<div *ngIf="processid"> <a href=""> hello</a></div>-->

  <div class="container mat-elevation-z8">
  
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter user">
      </mat-form-field>
    </div>
  
    <div class="spinner-container" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" matSortActive="TaskId" matSortDirection="asc">
  
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
      <!-- ID Column -->
      <ng-container matColumnDef="taskId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.taskId}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell-description">{{row.name}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Type" fxShow="false" fxShow.gt-xs="true">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell-description">{{row.type.name}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell-description">{{row.description}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="DurationInDays">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Days</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.durationInDays}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="SequenceNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Sequence No.</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.sequenceNumber}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="Mandatory">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Mandatory</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell-description">{{row.mandatory}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="linksToDoc">
        <mat-header-cell *matHeaderCellDef mat-sort-header>linksToDoc</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.linksToDoc}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="linksToVideo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>linksToVideo</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.linksToVideo}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="linksToFolder">
        <mat-header-cell *matHeaderCellDef mat-sort-header>linksToFolder</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.linksToFolder}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="linksToSite">
        <mat-header-cell *matHeaderCellDef mat-sort-header>linksToSite</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.linksToSite}}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="subTasks">
        <mat-header-cell *matHeaderCellDef mat-sort-header>subTasks</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.subTasks}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="procId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>procId</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.procId}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="roleIds">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Role Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.roles}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.active}}</mat-cell>
      </ng-container>
  
      <!--<ng-container matColumnDef="roroleIdsles">
        <mat-header-cell *matHeaderCellDef mat-sort-header>roleIds</mat-header-cell>
        <mat-cell *matCellDef="let row">          
          <ng-container *ngFor="let role of row.roles">{{[role.roleIds]}} </ng-container>
        </mat-cell>
      </ng-container>-->
  
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="accent" (click)="addNew()">
            <mat-icon title="Add Task">add</mat-icon>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent"
            (click)="startEdit(i, row.taskId, row.name, row.type, row.description, row.durationInDays, row.sequenceNumber, row.mandatory, row.docName, row.docLink, row.videoName, row.videoLink, row.folderName, row.folderLink, row.siteName, row.siteLink, row.sprint, row.subTasks, row.procId, row.roles, row.active)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button mat-icon-button color="accent"
            (click)="deleteItem(i, row.taskId, row.name, row.type, row.description, row.durationInDays, row.sequenceNumber, row.mandatory, row.docName, row.docLink, row.videoName, row.videoLink, row.folderName, row.folderLink, row.siteName, row.siteLink, row.sprint, row.subTasks, row.procId, row.roles, row.active)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
      No results
    </div>
  
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="50"
      [pageSizeOptions]="[10, 20, 50, 100, dataSource.renderedData.length]">
    </mat-paginator>
  </div>