<mat-tab-group>
  <mat-tab label="User Management">
<mat-toolbar color="primary">
  <span>User Management</span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter user">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" matSortActive="id" matSortDirection="asc">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row?.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row?.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell class="email_cell" *matCellDef="let row"> {{row?.email}}</mat-cell>
    </ng-container>

    <!--    <ng-container matColumnDef="imageUrl">
        <mat-header-cell *matHeaderCellDef mat-sort-header>imageUrl</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.imageUrl}}</mat-cell>
      </ng-container>
    -->

    <ng-container matColumnDef="createDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Create date</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row?.createDate |  date:'MM/dd/yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sapUserId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sap UserId</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row?.sapUserId}}</mat-cell>
    </ng-container>

    <!--el bueno de role en string pero se ve en objetos
    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef mat-sort-header>roles</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.roles[0].name}}</mat-cell>
    </ng-container>-->

    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef mat-sort-header>roles</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngFor="let role of row.roles; let last = last;">{{[role?.name]}}{{last ? '' : ', '}} </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="plants">
      <mat-header-cell *matHeaderCellDef mat-sort-header>plants</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngFor="let plant of row.plants; let last = last;">{{[plant?.name]}}{{last ? '' : ', '}}</ng-container>
        <!--<ng-container *ngFor="let plant of row.plants"><span>&nbsp;{{[plant.name]}},</span></ng-container>-->
      </mat-cell>
    </ng-container>

    <!--    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>roles</th>
      <td mat-cell *matCellDef="let data; let i = index;">
        <mat-form-field>
          <mat-label></mat-label>
          <mat-select multiple [ngModel]="row.role">
            <mat-option *ngFor="let role of roles" [value]="name" disabled>
              {{row.roles}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>-->

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" (click)="addNew()">
          <mat-icon title="Add User">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent"
          (click)="startEdit(i, row.id, row.name, row.email, row.sapUserId, row.roles, row.plants)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent"
          (click)="deleteItem(i, row.id, row.name, row.email, row.sapUserId, row.roles, row.plants)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>
  
    <div *ngIf="dataSource.renderedData.length == 0">
    <div style="margin-left:45% ; margin-top: 5%;">
      <mat-progress-spinner mode="indeterminate" color="accent"> loading... please Wait</mat-progress-spinner>
    </div>
    <div style="margin-left:45%"></div>
  </div>

  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 100, 3000, dataSource.filteredData.length]" showFirstLastButtons>
  </mat-paginator>
  
</div>
</mat-tab>

  <mat-tab label="Bulk Update Users Data"> 
     <div>
        &nbsp;
      </div>
      <div style="display: inline-flex">
        <div> 
          Synchronize Users Data &nbsp;
          <button style="width:90px;text-align: revert" mat-raised-button (click)="synchUserData()">Synch Now</button>
        </div>
        <div>
                   
        </div>
      </div>
  </mat-tab>

</mat-tab-group>