<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Complete Process Flow">

        <!--<mat-toolbar>
    <mat-toolbar-row>
        <button mat-raised-button (click)="setTransform({x:233, y:244, scale:3})">Zoom in point</button>
        <button mat-raised-button (click)="togglePreparation()">Preparation</button>
        <button mat-raised-button (click)="toggleAssessment()">Assessment</button>
        <!--<button mat-raised-button [@openClose]="{value: triggerValue, params: {scale: scale}}">Assessment</button>
        <button mat-raised-button (click)="togglePreparation()">Implementation</button>
        <!--<button mat-raised-button (click)="togglePreparation()">FollowUp</button>
        <button mat-raised-button (click)="togglePreparation()">Sustainability</button>
    </mat-toolbar-row>
</mat-toolbar>
-->
        <div [@openClose]="isOpen? 'open' : 'closed'" class="class">
            <!--<div [@isAssessment]="isAssessment">-->
            <!--{{ isOpen ? 'Open' : 'Closed' }}
    <!--<div class="container" #withBuilder>-->

            <pinch-zoom #myPinch="pinchZoom" [auto-zoom-out]="autozoomout" [limit-zoom]="limitzoom" [double-tap]="true"
                [minPanScale]="1.00001" [overflow]="overflow" [zoomControlScale]="4" [backgroundColor]="backgroundColor"
                [limitPan]="false" [wheelZoomFactor]="0.3" [autoHeight]="true" [draggableImage]="true">
                <div class="imagecomplete"> <img src="../../../assets/images/EWorkflow.png" alt="" width="1200" height="auto">
                </div>
            </pinch-zoom>
        </div>

    </mat-tab>
    <mat-tab label="Preparation" class="image">
        <div class="image"><img src="../../../assets/images/Preparation.png" alt="" width="1200" height="auto"></div>
    </mat-tab>
    <mat-tab label="Assessment">
        <div class="image"> <img src="../../../assets/images/Assessment.png" alt="" width="1200" height="auto" text-align="center"></div>
    </mat-tab>
    <mat-tab label="Implementation">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Sprint 1">
                <div class="image"> <img src="../../../assets/images/SP1.png" alt="" width="1000" height="auto"></div>
            </mat-tab>
            <mat-tab label="Sprint 2">
                <div class="image"> <img src="../../../assets/images/SP2.png" alt="" width="1000" height="auto"></div>
            </mat-tab>
            <mat-tab label="Sprint 3">
                <div class="image"> <img src="../../../assets/images/SP3.png" alt="" width="1000" height="auto"></div>
            </mat-tab>
            <mat-tab label="Sprint 4">
                <div class="image"> <img src="../../../assets/images/SP4.png" alt="" width="1000" height="auto"></div>
            </mat-tab>
            <mat-tab label="Sprint 5">
                <div class="image"> <img src="../../../assets/images/SP5.png" alt="" width="1000" height="auto"></div>
                <!--<pinch-zoom #myPinch="pinchZoom" [auto-zoom-out]="autozoomout" [limit-zoom]="limitzoom" [double-tap]="true"
                [minPanScale]="1.00001" [overflow]="overflow" [zoomControlScale]="4" [backgroundColor]="backgroundColor"
                [limitPan]="false" [wheelZoomFactor]="0.3" [autoHeight]="true" [draggableImage]="true">
                <div class="image"> <img src="../../../assets/images/SP5.png" alt="" width="1200" height="auto">
                </div>
            </pinch-zoom>-->
            </mat-tab>
            <mat-tab label="Complete Implementation">
                <!--<div class="image"> <img src="../../../assets/images/Implementation.png" alt="" width="1000" height="auto"></div>-->
                <pinch-zoom #myPinch="pinchZoom" [auto-zoom-out]="autozoomout" [limit-zoom]="limitzoom" [double-tap]="true"
                [minPanScale]="1.00001" [overflow]="overflow" [zoomControlScale]="4" [backgroundColor]="backgroundColor"
                [limitPan]="false" [wheelZoomFactor]="0.3" [autoHeight]="true" [draggableImage]="true">
                <div class="imagecomplete"> <img src="../../../assets/images/Implementation.png" alt="" width="1200" height="auto">
                </div>
            </pinch-zoom>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="Follow Up" class="image">
        <div class="image"><img src="../../../assets/images/Followup.png" alt="" width="1200" height="auto"></div>
    </mat-tab>
    <mat-tab label="Sustainability" class="image">
        <div class="image"><img src="../../../assets/images/Sustainability.png" alt="" width="1200" height="auto"></div>
    </mat-tab>
    <!--    <mat-tab label="Third">FollowUp</mat-tab>
<mat-tab label="Third">Sustainability</mat-tab>-->
</mat-tab-group>