.image {
    border-radius: 7px;
    padding: 10px;
    width: 1270px;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
    transition: all 1s ease 500ms;
}

.imagecomplete {
    border-radius: 7px;
    padding: 10px;
    width: 1250px;
    height: 600px;
    background-color: white;
    transition: all 1s ease 500ms;
}


.class {
    //animate from bottom on mobile
    transform: "scale(4.9) translateY(40vh) translateX(38.7vw)";

    @media screen and (min-width: 600px) and (orientation: landscape) {
        //animate from left on desktop
        transform: "scale(4.9) translateY(55vh) translateX(38.7vw)",
    }

    @media screen and (min-width: 1400px) {
        //animate from left on desktop
        transform: "scale(4.9) translateY(80vh) translateX(38.7vw)";
    }

    @media screen and (max-width: 600px) {
        transform: "scale(4.9) translateY(30vh) translateX(21.7vw)";
    }
}

.mat-tab-group {
    margin-bottom: 48px;
  }
