table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .processId{
    width: 200px;
    margin: 10px;
    padding:10px;
    border-radius: 7px;
    font-size: 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }