.container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 100%;
    margin: 1%;
}

.secondPage {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
    width: 70vw;
    top: 100px;
}

.image{
    margin:10vw;
    scale: 0.2;
    max-width: 200px;
}

.comment-text{
    position: relative;
}
.secondPage .topnav {
    outline: thick;
}

/* Style the links inside the navigation bar */
.secondPage .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.secondPage .topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.secondPage .topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.secondPage .topnav input[type=text] {
    width: 40em;
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {

    .secondPage .topnav a,
    .secondPage .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .secondPage .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.secondPage .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Style the header with a grey background and some padding */
.secondPage .header {
    /* color: white; */
    overflow: hidden;
    background-color: #0072b1;
    padding: 16px 10px;
}

/* Style the header links */
.secondPage .header a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.secondPage .no-background {
    background-color: unset !important;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.secondPage .header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.secondPage .header a:hover {
    background-color: #0072b1;
    color: black;
}

/* Style the active/current link*/
.secondPage .header a.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the right */
.secondPage .header-right {
    float: right;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .secondPage .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .secondPage .header-right {
        float: none;
    }
}

.secondPage ul {
    margin-top: 2em !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: groove;
}

.secondPage li {
    padding-right: 2em;
    float: left;
}

.secondPage li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.secondPage .dropdown {
    float: right;
    overflow: hidden;
}

.secondPage .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.secondPage .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.secondPage .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.secondPage .dropdown:hover .dropdown-content {
    display: block;
}

.header {
    min-height: 60px;
}

button.liked {
    color: #089ce3;
    font-weight: bold;
    max-width: 75px;
}

button.toLike {
    color: black;
    font-weight: normal;
    max-width: 75px;
}

button.liked:hover , button.toLike:hover {
    background-color: aliceblue;
}

button.comment-text {
    position: relative;
    background: no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    vertical-align: super;
    font-weight: bold;
    width: 155px;
}

h6 > span {
    padding-right : 20px;
}


.item-block .item-heading{
	font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	padding-bottom: 10px !important;
}

.item-block .sub-heading{
	font-size: 14px;
    color: #8b8b8b;
    letter-spacing: 0.2px;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
.item-block .option{
    padding-top: 8px;
}

.item-block .option button{
    padding: 0px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #3d3d3d;
    margin-right: 2px;
}

.border-line{
    color: #8b8b8b;
}

ul {
    margin-top: 2em !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: groove;
}

li {
    padding-right: 2em;
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button.toggle {
    border: 3px solid #000000;
    background: #fff;
    padding: 7px 15px;
    margin-right: 10px;
}

#link-box {
  width: 150px;
  height: 200px;
  display: none;
  float: right;
  border: 3px solid #000000;
}

.toggle:focus~#link-box {
 display: block;
}

#link-box > ul > li {
 list-style: none;
 padding: 10px;
}

#link-box > ul > li > a {
 text-decoration: none;
 color: #000000;
}

div.thumbnail {
    /**margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 3%;**/
    padding-top:32px;
}

div.thumbnail > a > img {
    /**width: 100%;**/
    margin-top: 20%;
    width: fit-content;
    height: fit-content;    
    border-style: solid;
    border-color: grey;
    border-radius: 8px;
    padding: 10px;
    max-width: 50vw;
    left:10%;
    right:10%;
} 

div.thumbnail > a > span {
    width: 100%;
    border-style: solid;
    border-color: grey;
    border-radius: 8px;
    padding: 10px;    
} 