<div class="container">
  <h3 mat-dialog-title>Plant Name: {{data.plantId}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" fxLayout="column">

    <!--    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input disabled placeholder="Id" [(ngModel)]="data.plantId" name="plantId">
      </mat-form-field>
    </div>
-->
    <div class="flex-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutGap="0.5%"
      fxLayoutAlign="space-between start">
      <div class="form" fxFlex="46">
        <mat-form-field color="accent" fxFlex>
          <input matInput #inputname placeholder="Name" [(ngModel)]="data.name" name="name" required>
          <!--<input matInput #inputname formControlName="name" [(ngModel)]="data.name" name="name" required>-->
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputname.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <input matInput #inputcode placeholder="Code" [(ngModel)]="data.code" name="code"
            oninput="this.value = this.value.toUpperCase()" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputcode.value?.length || 2}}/3</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutGap="0.5%"
      fxLayoutAlign="space-between start">
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <input matInput type= "URL" #inputsmartsheet formcontrol= "smartsheetLink" [(ngModel)]="data.smartsheetLink" name="smartsheetLink"
            placeholder="SmartSheet link" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
            <mat-hint>SmartSheet Link https:// from Main Menu</mat-hint>
          <mat-hint align="end">{{inputsmartsheet.value?.length || 0}}/250</mat-hint>
          <!--<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>-->
          <!--<mat-error *ngIf="formControl.controls['smartsheetLink']?.errors?.required">Email is required.</mat-error>-->
          <!--<mat-error *ngIf="formControl.controls['smartsheetLink'].errors?.validUrl">Format need to contain web link            "https://www.xxx.xxx"</mat-error>-->
        </mat-form-field>
      </div>
    
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <input matInput #inputmadiLink formcontrol= "madiLink" [(ngModel)]="data.madiLink" name="madiLink"
            placeholder="MADI link" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
            <mat-hint>MADI Link https:// from Main Menu</mat-hint>
          <mat-hint align="end">{{inputmadiLink.value?.length || 0}}/250</mat-hint>
          <!--<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>-->
          <!--<mat-error *ngIf="formControl.controls['smartsheetLink']?.errors?.required">Email is required.</mat-error>-->
          <!--<mat-error *ngIf="formControl.controls['madiLink'].errors?.validUrl">Format need to contain web link            "https://www.xxx.xxx"</mat-error>-->
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <input matInput #inputgapAnalyzerLink formcontrol= "gapAnalyzerLink" [(ngModel)]="data.gapAnalyzerLink" name="gapAnalyzerLink"
            placeholder="Gap Analyzer link" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/">
            <mat-hint>Gap Analyzer link https:// from Main Menu</mat-hint>
          <mat-hint align="end">{{inputgapAnalyzerLink.value?.length || 0}}/250</mat-hint>
          <!--<mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>-->
          <!--<mat-error *ngIf="formControl.controls['smartsheetLink']?.errors?.required">Email is required.</mat-error>-->
          <!--<mat-error *ngIf="formControl.controls['madiLink'].errors?.validUrl">Format need to contain web link            "https://www.xxx.xxx"</mat-error>-->
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <!--<input matInput placeholder="type" [(ngModel)]="data.type.name" name="type">-->
          <mat-label>Select type</mat-label>
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-select [(ngModel)]="data.type" name="type" required>
            <mat-option *ngFor="let type of typelist" [value]="data.type">{{type.name}}</mat-option>
          </mat-select>
          <mat-hint>Type of plant</mat-hint>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <!--<input matInput placeholder="opcoId" [(ngModel)]="data.opcoId" name="opcoId">-->
          <mat-label>Select Opco</mat-label>
          <mat-icon matPrefix>verified_user</mat-icon>
          <mat-select [(ngModel)]="data.opcoId" name="opcoId" required>
            <mat-option *ngFor="let opcoId of opcoIdList" [value]="opcoId.opcoId">{{opcoId.name}}</mat-option>
          </mat-select>
          <mat-hint>Select the Opco</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%"
      fxLayoutAlign="space-around center">
      <div mat-dialog-actions>
        <button mat-raised-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
          (click)="stopEdit()">Save</button>
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </div>
  </form>
</div>