.container {
    display: flex;
    //justify-content: center;
    margin: 2% 2% 2% 2%;
    padding: 1%;
    height: 95%;
    width: 95%;
    justify-content: center;
    border-radius: 7px;
    font-size: 14px;
}
.card_container{
    padding: 10px;
    margin: 10px !important;
}

.TitleContact {
    color: grey;
    //display: flex;
    font-size: 21px;
    justify-content: center;
    text-align: justify;
    align-items: center;
    width: 100%;
}
.mat-card-header{
    justify-content: center;
}

.inputs-form-field {
    width: 400px;
    font-size: 14px;
}
