<div class="container">
    <!-- [ngStyle]="{'background-image': 'url(' + photo + ')'}">-->
    <div class="col-lg-8 offset-lg-2">
        <mat-card class="card_container">
            <mat-card-header>
                <mat-card-title class="TitleContact"><strong>Contact us</strong></mat-card-title>
            </mat-card-header>

            <mat-card-content class="px-lg-5 pt-0 card_container">
                <form class="text-center" style="color: #757575;" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                    <!--    <div class="md-form mt-3">
                        <mat-form-field class="inputs-form-field">
                            <mat-label for="materialContactFormName">Name</mat-label>
                            <input matInput type="text" formControlName="contactFormName" id="materialContactFormName"
                            class="form-control" disabled />
                        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Input invalid</mat-error>
                        <mat-hint *ngIf="name.valid && (name.dirty || name.touched)">Input valid</mat-hint>
                    </mat-form-field>
                    </div>

                     [(ngModel)]="contactFormName" 
                
                    <div class="form">
                        <mat-form-field color="accent" fxFlex>
                          <input matInput #inputname formControlName="" placeholder="Name">
                      <mat-icon matPrefix>account_box</mat-icon>
                          <mat-hint align="end">{{inputname.value?.length || 0}}/50</mat-hint>
                          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                    -->
                    <div class="form">
                        <div class="row">
                            <mat-form-field class="inputs-form-field">
                                <input matInput type="email" formControlName="sender" [(ngModel)]="sender"
                                    placeholder="Email" [value]="sender" readonly />
                                <!--<mat-icon matPrefix>contact_mail</mat-icon>   
                    [formControl]="contactForm" 
                     [(ngModel)]="sender"
                    -->
                                <!-- <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">Input invalid</mat-error> -->
                                <mat-hint *ngIf="email.valid && (email.dirty || email.touched)">Input valid</mat-hint>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <div class="row">
                            <mat-form-field class="inputs-form-field">
                                <mat-select formControlName="subject" placeholder="Select the Subject"
                                    (selectionChange)="validate()">
                                    <mat-optgroup *ngFor="let group of SubjectGroups" [label]="group.name"
                                        [disabled]="group.disabled">
                                        <mat-option *ngFor="let Subject of group.Subject" [value]="Subject.value">
                                            {{Subject.viewValue}}
                                        </mat-option>
                                    </mat-optgroup>
                                </mat-select>
                                <mat-error *ngIf="subjects.invalid && (subjects.dirty || subjects.touched)">Input
                                    invalid</mat-error>
                                <mat-hint *ngIf="subjects.valid && (subjects.dirty || subjects.touched)">Input
                                    valid</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="inputs-form-field" color="accent" fxFlex>

                                <textarea matInput type="text" #inputMessage formControlName="message" 
                                    class="form-control md-textarea" placeholder="Question description:" maxlength="250"
                                    minlength="10" cdkTextareaAutosize cdkAutosizeMinRows="10" [(ngModel)]="DefaultBody"
                                    cdkAutosizeMaxRows="15">
                                </textarea>
                                <mat-hint align="end">{{inputMessage.value?.length || 10}}/250</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                    <!--
                    <div class="row">
                        <div class="col-md-6 mx-auto d-flex justify-content-center">
                            <div class="form">
                                <mat-checkbox mdbValidate formControlName="contactFormCopy">Send me a copy of this
                                    message</mat-checkbox>
                            </div>
                        </div>
                    for the summit button below to release the shadow z-index value class="z-depth-0 my-4 waves-effect"
                    </div>
-->
                    <button mat-raised-button type="submit" [disabled]="disabledSubmitButton" (click)="onSubmit">
                        Send
                    </button>
                </form>

            </mat-card-content>
        </mat-card>
    </div>
</div>