@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import '~css-star-rating/scss/star-rating';

html, body, footer { height: 100%; }
body { margin: 0; font-family: 'Noto Sans',sans-serif!important;}
footer { margin: 0; font-family: 'Noto Sans',sans-serif!important;}

/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

@import '~@angular/material/theming';
@include mat-core();
@use 'sass:map';
@use '~@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Noto Sans:300,400,500');

$fontConfig: (
   display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
   display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
   display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
   display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
   headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
   title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
   subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
   subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
   body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
   body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
   button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
   caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
   input: mat-typography-level(12px, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #e0e3ee;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#e0e3ee, 0.04);
$light-bg-alpha-12:   rgba(#e0e3ee, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  tooltip:                  $dark-bg-lighter-20,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #f2f2f2;
  --primary-lighter-color: #fbfbfb;
  --primary-darker-color: #ececec;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}

$mat-primary: (
  main: #f2f2f2,
  lighter: #fbfbfb,
  darker: #ececec,
  200: #f2f2f2, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #1f8efa;
  --accent-lighter-color: #bcddfe;
  --accent-darker-color: #1271f8;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #1f8efa,
  lighter: #bcddfe,
  darker: #1271f8,
  200: #1f8efa, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

 body {
  --green-color: #48ff00;
  --green-lighter-color: #b7ffa8;
  --green-darker-color: #48ff00;
  --text-green-color: #{$light-primary-text};
  --text-green-lighter-color: #{$dark-primary-text};
  --text-green-darker-color: #{$light-primary-text};
}

$mat-green: (
  main: #48ff00,
  lighter: #b7ffa8,
  darker: #48ff00,
  200: #3cff00, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-green: mat-palette($mat-green, main, lighter, darker);

$my-app-custom: mat-palette($mat-green, custom);

body {
  --warn-color: #ff0004;
  --warn-lighter-color: #ffb3b4;
  --warn-darker-color: #ff0002;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #ff0004,
  lighter: #ffb3b4,
  darker: #ff0002,
  200: #ff0004, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);


// Theme Init
@include angular-material-theme($theme);

.theme-alternate {
  @include angular-material-theme($altTheme);
}


// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-list-item .mat-focus-indicator .active{
  outline:none !important;
  }

  *:focus {
    outline: none !important;
    border-radius: 7px;
    //background-color: #b8dafc;
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'LH NotoSans';
  }
}

.mat-tab-body-content{
  height: 100%vh;
}

.mat-card-avatar {
  align-items: flex-end;
  display: inline-block;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
 }

 .avatarloginbutton{
   font-size: 12px !important;
   margin-top: 5px !important;
   padding: 4px !important;
 }

 .emaillogout {
  font-size: 12px !important;
  margin-top: 12px !important;
 }

 .logoutlabel {
   color: #1f8efa !important;
   font-size: 12px !important;
   margin-top: -10px !important;
 }

 .icon-help{
   //font-size: 30px;
   transform: scale(1.6);
   color: grey;
 }

//styles for the title message tooltip

a.tip {
  text-decoration: none
}
a.tip:hover {
  cursor: help;
  position: relative
}
a.tip span {
  display: none
}
a.tip:hover Title {
  border: #c0c0c0 1px dotted;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  background: url(./assets/images/status-info.png) #f0f0f0 no-repeat 100% 5%;
  left: 0px;
  margin: 10px;
  width: 250px;
  position: absolute;
  top: 10px;
  text-decoration: none
}

.preparation.preparationtip {
  text-decoration: none
}
.preparation.preparationtip:hover {
  cursor: help;
  position: relative
}
.preparation.preparationtip span {
  display: none
}
.preparation.preparationtip:hover Title {
  border: #c0c0c0 1px dotted;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  background: url(./assets/images/Preparation.png) #f0f0f0 no-repeat 100% 5%;
  left: 0px;
  margin: 10px;
  width: 250px;
  position: absolute;
  top: 10px;
  text-decoration: none
}

.mat-header-cell {
  color: black;
  text-align: center !important;
  align-items: center !important;
  flex-direction: column;
  justify-content: center;
}

.mat-dialog-content {
  //  overflow-y: hidden;
    text-align: center;
   //height: auto !important;
  }

.mat-cell {
  text-align: center !important;
  justify-content: center !important;
}

// /*

// import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import url('//fonts.googleapis.com/icon?family=Material+Icons');

// html, body { height: 100%; }
// body { margin: 0; font-family: LH Noto Sans, Arial, sans-serif !important;}

// /**
// * Generated theme by Material Theme Generator
// * https://materialtheme.arcsine.dev
// */


// $fontConfig: (
//   display-4: mat-typography-level(112px, 112px, 300, 'Noto Sans', -0.0134em),
//   display-3: mat-typography-level(56px, 56px, 400, 'Noto Sans', -0.0089em),
//   display-2: mat-typography-level(45px, 48px, 400, 'Noto Sans', 0.0000em),
//   display-1: mat-typography-level(34px, 40px, 400, 'Noto Sans', 0.0074em),
//   headline: mat-typography-level(24px, 32px, 400, 'Noto Sans', 0.0000em),
//   title: mat-typography-level(20px, 32px, 500, 'Noto Sans', 0.0075em),
//   subheading-2: mat-typography-level(16px, 28px, 400, 'Noto Sans', 0.0094em),
//   subheading-1: mat-typography-level(15px, 24px, 500, 'Noto Sans', 0.0067em),
//   body-2: mat-typography-level(14px, 24px, 500, 'Noto Sans', 0.0179em),
//   body-1: mat-typography-level(14px, 20px, 400, 'Noto Sans', 0.0179em),
//   button: mat-typography-level(14px, 14px, 500, 'Noto Sans', 0.0893em),
//   caption: mat-typography-level(12px, 20px, 400, 'Noto Sans', 0.0333em),
//   input: mat-typography-level(12px, 1.125, 400, 'Noto Sans', 1.5px)
// );

// // Foreground Elements

// // Light Theme Text
// $dark-text: #242e42;
// $dark-primary-text: rgba($dark-text, 0.87);
// $dark-accent-text: rgba($dark-primary-text, 0.54);
// $dark-disabled-text: rgba($dark-primary-text, 0.38);
// $dark-dividers: rgba($dark-primary-text, 0.12);
// $dark-focused: rgba($dark-primary-text, 0.12);

// $mat-light-theme-foreground: (
//   base:              black,
//   divider:           $dark-dividers,
//   dividers:          $dark-dividers,
//   disabled:          $dark-disabled-text,
//   disabled-button:   rgba($dark-text, 0.26),
//   disabled-text:     $dark-disabled-text,
//   elevation:         black,
//   secondary-text:    $dark-accent-text,
//   hint-text:         $dark-disabled-text,
//   accent-text:       $dark-accent-text,
//   icon:              $dark-accent-text,
//   icons:             $dark-accent-text,
//   text:              $dark-primary-text,
//   slider-min:        $dark-primary-text,
//   slider-off:        rgba($dark-text, 0.26),
//   slider-off-active: $dark-disabled-text,
// );

// // Dark Theme text
// $light-text: #ffffff;
// $light-primary-text: $light-text;
// $light-accent-text: rgba($light-primary-text, 0.7);
// $light-disabled-text: rgba($light-primary-text, 0.5);
// $light-dividers: rgba($light-primary-text, 0.12);
// $light-focused: rgba($light-primary-text, 0.12);

// $mat-dark-theme-foreground: (
//   base:              $light-text,
//   divider:           $light-dividers,
//   dividers:          $light-dividers,
//   disabled:          $light-disabled-text,
//   disabled-button:   rgba($light-text, 0.3),
//   disabled-text:     $light-disabled-text,
//   elevation:         black,
//   hint-text:         $light-disabled-text,
//   secondary-text:    $light-accent-text,
//   accent-text:       $light-accent-text,
//   icon:              $light-text,
//   icons:             $light-text,
//   text:              $light-text,
//   slider-min:        $light-text,
//   slider-off:        rgba($light-text, 0.3),
//   slider-off-active: rgba($light-text, 0.3),
// );

// // Background config
// // Light bg
// $light-background:    #dae0f7;
// $light-bg-darker-5:   darken($light-background, 5%);
// $light-bg-darker-10:  darken($light-background, 10%);
// $light-bg-darker-20:  darken($light-background, 20%);
// $light-bg-darker-30:  darken($light-background, 30%);
// $light-bg-lighter-5:  lighten($light-background, 5%);
// $dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
// $dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

// $mat-light-theme-background: (
//   background:               $light-background,
//   status-bar:               $light-bg-darker-20,
//   app-bar:                  $light-bg-darker-5,
//   hover:                    $dark-bg-alpha-4,
//   card:                     $light-bg-lighter-5,
//   dialog:                   $light-bg-lighter-5,
//   disabled-button:          $dark-bg-alpha-12,
//   raised-button:            $light-bg-lighter-5,
//   focused-button:           $dark-focused,
//   selected-button:          $light-bg-darker-20,
//   selected-disabled-button: $light-bg-darker-30,
//   disabled-button-toggle:   $light-bg-darker-10,
//   unselected-chip:          $light-bg-darker-10,
//   disabled-list-option:     $light-bg-darker-10,
// );

// // Dark bg
// $dark-background:     #2c2c2c;
// $dark-bg-lighter-5:   lighten($dark-background, 5%);
// $dark-bg-lighter-10:  lighten($dark-background, 10%);
// $dark-bg-lighter-20:  lighten($dark-background, 20%);
// $dark-bg-lighter-30:  lighten($dark-background, 30%);
// $light-bg-alpha-4:    rgba(#dae0f7, 0.04);
// $light-bg-alpha-12:   rgba(#dae0f7, 0.12);

// // Background palette for dark themes.
// $mat-dark-theme-background: (
//   background:               $dark-background,
//   status-bar:               $dark-bg-lighter-20,
//   app-bar:                  $dark-bg-lighter-5,
//   hover:                    $light-bg-alpha-4,
//   card:                     $dark-bg-lighter-5,
//   dialog:                   $dark-bg-lighter-5,
//   disabled-button:          $light-bg-alpha-12,
//   raised-button:            $dark-bg-lighter-5,
//   focused-button:           $light-focused,
//   selected-button:          $dark-bg-lighter-20,
//   selected-disabled-button: $dark-bg-lighter-30,
//   disabled-button-toggle:   $dark-bg-lighter-10,
//   unselected-chip:          $dark-bg-lighter-20,
//   disabled-list-option:     $dark-bg-lighter-10,
// );

// // Compute font config
// @include mat-core($fontConfig);

// // Theme Config

// body {
//   --primary-color: #05A8FF; //#dae0f7;
//   --primary-lighter-color: #05A8FF;
//   --primary-darker-color: #05A8FF;
//   --text-primary-color: #{$dark-primary-text};
//   --text-primary-lighter-color: #{$dark-primary-text};
//   --text-primary-darker-color: #{$dark-primary-text};
// }

// $mat-primary: (
//   main: #dae0f7,
//   lighter: #f4f6fd,
//   darker: #cbd3f3,
//   200: #dae0f7, // For slide toggle,
//   contrast : (
//     main: $dark-primary-text,
//     lighter: $dark-primary-text,
//     darker: $dark-primary-text,
//   )
// );
// $theme-primary: mat-palette($mat-primary, main, lighter, darker);

// body {
//   --accent-color: #29c17b;
//   --accent-lighter-color: #bfecd7;
//   --accent-darker-color: #19ab5e;
//   --text-accent-color: #{$dark-primary-text};
//   --text-accent-lighter-color: #{$dark-primary-text};
//   --text-accent-darker-color: #{$light-primary-text};
// }

// $mat-accent: (
//   main: #29c17b,
//   lighter: #bfecd7,
//   darker: #19ab5e,
//   200: #29c17b, // For slide toggle,
//   contrast : (
//     main: $dark-primary-text,
//     lighter: $dark-primary-text,
//     darker: $light-primary-text,
//   )
// );
// $theme-accent: mat-palette($mat-accent, main, lighter, darker);

// body {
//   --warn-color: #e6280f;
//   --warn-lighter-color: #f8bfb7;
//   --warn-darker-color: #db1808;
//   --text-warn-color: #{$light-primary-text};
//   --text-warn-lighter-color: #{$dark-primary-text};
//   --text-warn-darker-color: #{$light-primary-text};
// }

// $mat-warn: (
//   main: #e6280f,
//   lighter: #f8bfb7,
//   darker: #db1808,
//   200: #e6280f, // For slide toggle,
//   contrast : (
//     main: $light-primary-text,
//     lighter: $dark-primary-text,
//     darker: $light-primary-text,
//   )
// );
// $theme-warn: mat-palette($mat-warn, main, lighter, darker);;

// $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
// $altTheme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

// // Theme Init
// @include angular-material-theme($theme);

// .theme-alternate {
//   @include angular-material-theme($altTheme);
// }

// // Specific component overrides, pieces that are not in line with the general theming

// // Handle buttons appropriately, with respect to line-height
// .mat-raised-button, .mat-stroked-button, .mat-flat-button {
//   padding: 0 1.15em;
//   margin: 0 .65em;
//   min-width: 3em;
//   line-height: 36.4px
// }

// .mat-standard-chip {
//   padding: .5em .85em;
//   min-height: 2.5em;
// }

// .material-icons {
//   font-size: 24px;
//   font-family: 'Material Icons', 'Material Icons';
//   .mat-badge-content {
//     font-family: 'Noto Sans';
//   }
// }

// .mat-option{
//   color:black !important;
// }


// /*
//  You can add global styles to this file, and also import other style files
// @import '~@angular/material/theming';
// @import url('//fonts.googleapis.com/icon?family=Material+Icons');

// @include mat-core();

// $primary: mat-palette($mat-indigo, 500);
// $accent:  mat-palette($mat-pink, 500, A200, A400);
// $warn:    mat-palette($mat-red, 500);

// $config: mat-typography-config();

// $theme: mat-light-theme($primary, $accent, $warn);

// @include angular-material-theme($theme);

// body {
//   font-family: mat-font-family($config);
//   font-weight: normal;
//   margin: 0;
// }
//  */

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  vertical-align: center;
  line-height: 20px;
  background-color: #777;
  text-align: center;
  justify-content: space-between;
  color: white;
  overflow: hidden;
  p{
    top: 20px;
    margin-top: 7px;
    padding: 3px;
    }
}

// .footer {
//   position: relative;
//   margin-bottom: 1px;
//   //bottom: 0px;
//   background-color: #777;
//   //padding-top: 3px;
//   text-align: center;
//   justify-content: space-between;
//   color: white;
//   height: auto;
//   overflow: hidden;
// }
