.article{
  height: 100vh;
  width: 100%;
}

.taskOverviewContent {
  // height: 100% !important;
  overflow-x: hidden;
  font-size: small;
  margin-left: 10px;
  width: 100%;
  text-align: center !important;
}

.filter{
  margin: 0px;
  height: 4.5em;
}

.panel{
  width: 98%;
  height: 100%;
  margin: 0 1em 0 1em;
  padding: 0.1%;
  border-radius: 7px;
  text-align: center !important;
  justify-content: center;
  overflow: hidden;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.Dashboard:hover {
  cursor: pointer;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  // padding-right: none !important;
}

.mat-header-cell, .mat-cell {
  text-align: center;
  justify-content:center;
  white-space: nowrap;
}

mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
  padding-right: 0;
}

.mat-sort-header-container{
  justify-content: center;
  white-space: nowrap;
}

.mat-header-cell {
  text-align: center !important;
  white-space: nowrap;
}

.header-align-right{
  display: flex;
  padding: 21px 0;
  justify-content: flex-end;
  white-space: nowrap;
}

.exportxlsxbutton {
  border-color: none !important;
  border-style: none !important;
  border-width: none !important;
  background-color: none;
  //background-image: url('../../../../assets/images/EXCEL-ICON.png');
  //background-size: auto;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}

.centre {
  text-align: center
}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 10%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    flex: 0 0 25%;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    flex: 0 0 25%;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
    flex: 0 0 20%;
}

mat-cell:nth-child(4),
mat-header-cell:nth-child(4) {
    flex: 0 0 20%;
}


mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
  flex: 0 0 10%;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-right: 0;
}

// mat-cell:nth-child(6),
// mat-header-cell:nth-child(6) {
//     flex: 0 0 7%;
// }

@import "~@angular/material/theming";
@include mat-core();


.progress-bar {
  height: 15px;
  border-radius: 5px;
  // margin: 0 10px;
  // background-color: map-get($custom-colors, custom-color-a);
}

::ng-deep .mat-progress-bar {
  border-radius: 5px;
}

.plantName {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 40%;
  padding: 5px;
  margin: 10px;
  border-radius: 7px;
  font-weight: 600;
  color: white;
  background-color: #E7A100;
}

c.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.example-container {
  height: 80vh;
  overflow: auto;
  overflow-x: hidden;
}
