<article class="article">
  <div [hidden]="!content.dataSource" class="panel">

    <mat-form-field appearance="standard" class="filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Write someting to search Ex. abc" #input>
    </mat-form-field>

<mat-progress-bar *ngIf="isLoading" color="secondary" mode="indeterminate"></mat-progress-bar>

<div class="example-container">
    <mat-table #table mat-table #sorter="matSort" [dataSource]="content.dataSource" matSort>
      <!--<div class="taskOverviewContent" style="overflow-y: scroll;">-->
      <!-- date Column  -->
      <!--<ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
      <mat-cell *matCellDef="let element" class="mat-column-coursetext"> {{element.id}} </td>
    </ng-container> -->

      <!-- IPBRank -->
      <ng-container matColumnDef="ranking">
        <mat-header-cell *matHeaderCellDef mat-sort-header> IPB Rank </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{((element.ranking) != 0) ?  (element.ranking) : 'NA' }}</mat-cell>
      </ng-container>

      <!-- Plantname -->
      <ng-container matColumnDef="plantName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <!-- <div [ngStyle]="{'background-color':element.plantName === plantName ? '#E7A100' : '', 'color':element.plantName === plantName ? 'white' : '', 'border-radius':element.plantName === plantName ? '7px' : '', 'margin':element.plantName === plantName ? '5 40 5 40 px' : '', 'font-weight':element.plantName === plantName ? '600' : ''}"> -->
        <div [ngClass]="element.plantName === plantName ? ('plantName') : ''">
          {{element.plantName}}
        </div>
        </mat-cell>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ICIF Status </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.status}}% &nbsp;
          <!-- <mat-progress-bar [appProgressBarColor]="updateColorspecified(element.status)" -->
            <mat-progress-bar [appProgressBarColor]="color"
              class="progress-bar"
              [mode]="mode"
              [value]="element.status"
              [bufferValue]="bufferValue">
          </mat-progress-bar>
        <!--  <mat-progress-bar class="progress-bar" mode="determinate" [color]='updateColor(element.status)' [value]='element.status' bufferValue='50'></mat-progress-bar> -->
        </mat-cell>

      </ng-container>

      <!-- Cur_Phase -->
      <ng-container matColumnDef="currentPhase">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ICIF Current Phase </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.currentPhase}} </mat-cell>
      </ng-container>

      <!-- Maturity_level -->
      <ng-container matColumnDef="madiScore">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Maturity level </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngStyle]="{'background':getColor(element.madiScore)}"></mat-cell>
      </ng-container>

      <!-- Action -->
      <!-- <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-button-raised class="exportxlsxbutton" title="Export to excel"
            (click)="exportAsXLSX2()">
            <img src="../../../assets/images/EXCEL-ICON.png"
              style="width: 45px; height: 45px; padding: 0; margin: 0;" />
          </button>
        </mat-header-cell>
        <td mat-cell *matCellDef="let element" disabled></td>
        </ng-container> -->


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>

      <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>

    </mat-table>
    </div>
    <!-- <mat-paginator #paginator fixed [pageSizeOptions]="[300, 1000]" [pageSize]="300" showFirstLastButtons disableOptionCentering="true">
    </mat-paginator> -->
   </div>
  </article>
