<div class="container">
  <h3 mat-dialog-title>Add new Role</h3>

  <form class="mat-dialog-content" [formGroup]="addForm" (ngSubmit)="submit()" novalidate="" #formControl="ngForm"
    fxLayout="column">

    <div class="flex-container" fxLayout="row wrap" fxLayoutGap="5%" fxLayoutAlign="space-around start">
      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-icon matPrefix>subject</mat-icon>
          <input matInput #inputname formControlName="name" placeholder="name" [(ngModel)]="data.name" maxlength="50"
            [ngClass]="{'is-invalid': !addForm.get('name').valid}">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          <mat-hint align="end">{{inputname.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
        <div *ngIf="addForm.controls['name'].errors?.required" class="invalid-feedback">
          The name its a field requested
        </div>
      </div>

      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-icon matPrefix>category</mat-icon>
          <input matInput #inputtype formControlName="type" placeholder="type" [(ngModel)]="data.type" name="type">
          <mat-hint align="end">{{inputtype.value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>


      <div class="form">
        <mat-form-field color="accent" fxFlex>
          <mat-icon matPrefix>description</mat-icon>
          <input matInput #inputDescription formControlName="description" placeholder="description"
            [(ngModel)]="data.description" name="description">
          <mat-hint align="end">{{inputDescription.value?.length || 0}}/250</mat-hint>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="actionbar" class="flex-container" fxLayout="row wrap" fxLayoutGap="5%"
      fxLayoutAlign="space-around center">
      <div class="form">
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid"
            [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
          <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
          <!--<button mat-raised-button (click)="reset()" tabindex="-1">Reset Form</button>-->
        </div>
      </div>
      </div>
    </div>
  </form>
</div>