.mat-dialog-title {
  padding: 5px;
  height: 4px;
}

.mat-dialog-content {
  //overflow-y: hidden;
  text-align: center;
  width: auto;
  height: auto !important;
}

.flex-container {
  display: flex;
  //flex-direction: row;
  //min-width: 100px;
  margin: 2px;
  flex-flow: row wrap;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1000px;
  margin: 1px !important;
  height: auto;
  //height: 40vh !important;
}

.container > * {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  margin: 5px;
  margin-top: 5px;
  padding-top: 5px;
  min-width: 20%;
  display: inline-block;
}

.mat-form-field {
  font-size: 13px;
  flex-grow: 1;
  display: inline-block;
}

.matPrefix {
  margin-right: 5px;
  display: inline-flex;
}

.mat-raised-button {
  height: 30% !important;
  width: 49%;
  text-align: center;
  align-items: center;
  padding: 1px !important;
}

.mat-dialog-actions {
  //overflow-y: hidden;
  //overflow-x: hidden;
  text-align: center;
  align-items: center;
  flex: flex-warp;
  //width: 350px !important;
  min-width: 250px !important;
  width: 50% !important;
  height: 50% !important;
  flex-wrap: unset !important;
  margin-bottom: 7px;
}

.hidden {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.mat-icon{
  margin: 5px;
}